
/* Flex-Align Children  */
/* -------------------------------------------- */

	/* flexAlign-hor-start */
	/* -------------------------------------------- */
		
		.flexAlign-hor-start      ,  .xs-o-flexAlign-hor-start ,
		.sm-flexAlign-hor-start   ,  .sm-o-flexAlign-hor-start ,
		.md-flexAlign-hor-start   ,  .md-o-flexAlign-hor-start ,
		.lg-flexAlign-hor-start   ,  .lg-o-flexAlign-hor-start ,
		.xl-flexAlign-hor-start   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-hor-start { 
			justify-content: flex-start; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-hor-start 	{ justify-content: flex-start; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-hor-start 		{ justify-content: flex-start; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-hor-start 	{ justify-content: flex-start; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-hor-start 		{ justify-content: flex-start; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-hor-start 	{ justify-content: flex-start; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-hor-start 		{ justify-content: flex-start; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-hor-start 	{ justify-content: flex-start; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-hor-start       { justify-content: flex-start; } }	

	/* flexAlign-hor-end */
	/* -------------------------------------------- */
		
		.flexAlign-hor-end      ,  .xs-o-flexAlign-hor-end ,
		.sm-flexAlign-hor-end   ,  .sm-o-flexAlign-hor-end ,
		.md-flexAlign-hor-end   ,  .md-o-flexAlign-hor-end ,
		.lg-flexAlign-hor-end   ,  .lg-o-flexAlign-hor-end ,
		.xl-flexAlign-hor-end   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-hor-end { 
			justify-content: flex-end; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-hor-end 		{ justify-content: flex-end; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-hor-end 		{ justify-content: flex-end; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-hor-end 		{ justify-content: flex-end; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-hor-end 		{ justify-content: flex-end; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-hor-end 		{ justify-content: flex-end; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-hor-end 		{ justify-content: flex-end; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-hor-end 		{ justify-content: flex-end; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-hor-end       	{ justify-content: flex-end; } }

	/* flexAlign-hor-center */
	/* -------------------------------------------- */

		.flexAlign-hor-center      ,  .xs-o-flexAlign-hor-center ,
		.sm-flexAlign-hor-center   ,  .sm-o-flexAlign-hor-center ,
		.md-flexAlign-hor-center   ,  .md-o-flexAlign-hor-center ,
		.lg-flexAlign-hor-center   ,  .lg-o-flexAlign-hor-center ,
		.xl-flexAlign-hor-center   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-hor-center { 
			justify-content: center; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-hor-center 	{ justify-content: center; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-hor-center 		{ justify-content: center; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-hor-center 	{ justify-content: center; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-hor-center 		{ justify-content: center; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-hor-center 	{ justify-content: center; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-hor-center 		{ justify-content: center; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-hor-center 	{ justify-content: center; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-hor-center      { justify-content: center; } }

	/* flexAlign-hor-space-between */
	/* -------------------------------------------- */

		.flexAlign-hor-space-between      ,  .xs-o-flexAlign-hor-space-between ,
		.sm-flexAlign-hor-space-between   ,  .sm-o-flexAlign-hor-space-between ,
		.md-flexAlign-hor-space-between   ,  .md-o-flexAlign-hor-space-between ,
		.lg-flexAlign-hor-space-between   ,  .lg-o-flexAlign-hor-space-between ,
		.xl-flexAlign-hor-space-between   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-hor-space-between { 
			justify-content: space-between; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-hor-space-between 	{ justify-content: space-between; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-hor-space-between 		{ justify-content: space-between; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-hor-space-between 	{ justify-content: space-between; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-hor-space-between 		{ justify-content: space-between; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-hor-space-between 	{ justify-content: space-between; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-hor-space-between 		{ justify-content: space-between; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-hor-space-between 	{ justify-content: space-between; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-hor-space-between       { justify-content: space-between; } }

	/* flexAlign-hor-space-around */
	/* -------------------------------------------- */

		.flexAlign-hor-space-around      ,  .xs-o-flexAlign-hor-space-around ,
		.sm-flexAlign-hor-space-around   ,  .sm-o-flexAlign-hor-space-around ,
		.md-flexAlign-hor-space-around   ,  .md-o-flexAlign-hor-space-around ,
		.lg-flexAlign-hor-space-around   ,  .lg-o-flexAlign-hor-space-around ,
		.xl-flexAlign-hor-space-around   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-hor-space-around { 
			justify-content: space-around; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-hor-space-around 		{ justify-content: space-around; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-hor-space-around 		{ justify-content: space-around; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-hor-space-around 		{ justify-content: space-around; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-hor-space-around 		{ justify-content: space-around; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-hor-space-around 		{ justify-content: space-around; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-hor-space-around 		{ justify-content: space-around; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-hor-space-around 		{ justify-content: space-around; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-hor-space-around 		{ justify-content: space-around; } }

	/* flexAlign-hor-space-evenly */
	/* -------------------------------------------- */

		.flexAlign-hor-space-evenly      ,  .xs-o-flexAlign-hor-space-evenly ,
		.sm-flexAlign-hor-space-evenly   ,  .sm-o-flexAlign-hor-space-evenly ,
		.md-flexAlign-hor-space-evenly   ,  .md-o-flexAlign-hor-space-evenly ,
		.lg-flexAlign-hor-space-evenly   ,  .lg-o-flexAlign-hor-space-evenly ,
		.xl-flexAlign-hor-space-evenly   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-hor-space-evenly { 
			justify-content: space-evenly; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-hor-space-evenly 		{ justify-content: space-evenly; } }
	

	/* flexAlign-ver-start */
	/* -------------------------------------------- */

		.flexAlign-ver-start      ,  .xs-o-flexAlign-ver-start ,
		.sm-flexAlign-ver-start   ,  .sm-o-flexAlign-ver-start ,
		.md-flexAlign-ver-start   ,  .md-o-flexAlign-ver-start ,
		.lg-flexAlign-ver-start   ,  .lg-o-flexAlign-ver-start ,
		.xl-flexAlign-ver-start   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-ver-start { 
			align-items: flex-start; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-ver-start 	{ align-items: flex-start; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-ver-start 		{ align-items: flex-start; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-ver-start 	{ align-items: flex-start; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-ver-start 		{ align-items: flex-start; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-ver-start 	{ align-items: flex-start; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-ver-start 		{ align-items: flex-start; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-ver-start 	{ align-items: flex-start; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-ver-start 		{ align-items: flex-start; } }

	/* flexAlign-ver-end */
	/* -------------------------------------------- */

		.flexAlign-ver-end      ,  .xs-o-flexAlign-ver-end ,
		.sm-flexAlign-ver-end   ,  .sm-o-flexAlign-ver-end ,
		.md-flexAlign-ver-end   ,  .md-o-flexAlign-ver-end ,
		.lg-flexAlign-ver-end   ,  .lg-o-flexAlign-ver-end ,
		.xl-flexAlign-ver-end   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-ver-end { 
			align-items: flex-end; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-ver-end 		{ align-items: flex-end; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-ver-end 		{ align-items: flex-end; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-ver-end 		{ align-items: flex-end; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-ver-end 		{ align-items: flex-end; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-ver-end 		{ align-items: flex-end; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-ver-end 		{ align-items: flex-end; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-ver-end 		{ align-items: flex-end; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-ver-end 		{ align-items: flex-end; } }

	/* flexAlign-ver-center */
	/* -------------------------------------------- */

		.flexAlign-ver-center      ,  .xs-o-flexAlign-ver-center ,
		.sm-flexAlign-ver-center   ,  .sm-o-flexAlign-ver-center ,
		.md-flexAlign-ver-center   ,  .md-o-flexAlign-ver-center ,
		.lg-flexAlign-ver-center   ,  .lg-o-flexAlign-ver-center ,
		.xl-flexAlign-ver-center   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-ver-center { 
			align-items: center; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-ver-center 		{ align-items: center; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-ver-center 			{ align-items: center; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-ver-center 		{ align-items: center; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-ver-center 			{ align-items: center; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-ver-center 		{ align-items: center; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-ver-center 			{ align-items: center; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-ver-center 		{ align-items: center; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-ver-center 			{ align-items: center; } }

	/* flexAlign-ver-stretch */
	/* -------------------------------------------- */

		.flexAlign-ver-stretch      ,  .xs-o-flexAlign-ver-stretch ,
		.sm-flexAlign-ver-stretch   ,  .sm-o-flexAlign-ver-stretch ,
		.md-flexAlign-ver-stretch   ,  .md-o-flexAlign-ver-stretch ,
		.lg-flexAlign-ver-stretch   ,  .lg-o-flexAlign-ver-stretch ,
		.xl-flexAlign-ver-stretch   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-ver-stretch { 
			align-items: stretch; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-ver-stretch 		{ align-items: stretch; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-ver-stretch 		{ align-items: stretch; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-ver-stretch 		{ align-items: stretch; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-ver-stretch 		{ align-items: stretch; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-ver-stretch 		{ align-items: stretch; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-ver-stretch 		{ align-items: stretch; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-ver-stretch 		{ align-items: stretch; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-ver-stretch 		{ align-items: stretch; } }


	/* flexAlign-center */
	/* -------------------------------------------- */

		.flexAlign-center      ,  .xs-o-flexAlign-center ,
		.sm-flexAlign-center   ,  .sm-o-flexAlign-center ,
		.md-flexAlign-center   ,  .md-o-flexAlign-center ,
		.lg-flexAlign-center   ,  .lg-o-flexAlign-center ,
		.xl-flexAlign-center   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-center { 
			justify-content: center;  align-items: center; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-center 		{ justify-content: center;  align-items: center; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-center 			{ justify-content: center;  align-items: center; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-center 		{ justify-content: center;  align-items: center; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-center 			{ justify-content: center;  align-items: center; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-center 		{ justify-content: center;  align-items: center; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-center 			{ justify-content: center;  align-items: center; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-center 		{ justify-content: center;  align-items: center; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-center 			{ justify-content: center;  align-items: center; } }

	/* flexAlign-ver-stretch-center */
	/* -------------------------------------------- */

		.flexAlign-ver-stretch-center      ,  .xs-o-flexAlign-ver-stretch-center ,
		.sm-flexAlign-ver-stretch-center   ,  .sm-o-flexAlign-ver-stretch-center ,
		.md-flexAlign-ver-stretch-center   ,  .md-o-flexAlign-ver-stretch-center ,
		.lg-flexAlign-ver-stretch-center   ,  .lg-o-flexAlign-ver-stretch-center ,
		.xl-flexAlign-ver-stretch-center   ,
		.flexAlign-ver-stretch-center    > * ,  .xs-o-flexAlign-ver-stretch-center > * ,
		.sm-flexAlign-ver-stretch-center > * ,  .sm-o-flexAlign-ver-stretch-center > * ,
		.md-flexAlign-ver-stretch-center > * ,  .md-o-flexAlign-ver-stretch-center > * ,
		.lg-flexAlign-ver-stretch-center > * ,  .lg-o-flexAlign-ver-stretch-center > * ,
		.xl-flexAlign-ver-stretch-center > * { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}

		.flexAlign-ver-stretch-center { 
			align-items: stretch; 
		}

		.flexAlign-ver-stretch-center    > * { 
			align-items: center; 
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-ver-stretch-center 	{ align-items: stretch; } .xs-o-flexAlign-ver-stretch-center > * { align-items: center; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-ver-stretch-center 		{ align-items: stretch; } .sm-flexAlign-ver-stretch-center   > * { align-items: center; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-ver-stretch-center 	{ align-items: stretch; } .sm-o-flexAlign-ver-stretch-center > * { align-items: center; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-ver-stretch-center 		{ align-items: stretch; } .md-flexAlign-ver-stretch-center   > * { align-items: center; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-ver-stretch-center 	{ align-items: stretch; } .md-o-flexAlign-ver-stretch-center > * { align-items: center; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-ver-stretch-center 		{ align-items: stretch; } .lg-flexAlign-ver-stretch-center   > * { align-items: center; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-ver-stretch-center 	{ align-items: stretch; } .lg-o-flexAlign-ver-stretch-center > * { align-items: center; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-ver-stretch-center 		{ align-items: stretch; } .xl-flexAlign-ver-stretch-center   > * { align-items: center; } }

	/* flexAlign-hor-equal */
	/* -------------------------------------------- */

		.flexAlign-hor-equal      ,  .xs-o-flexAlign-hor-equal ,
		.sm-flexAlign-hor-equal   ,  .sm-o-flexAlign-hor-equal ,
		.md-flexAlign-hor-equal   ,  .md-o-flexAlign-hor-equal ,
		.lg-flexAlign-hor-equal   ,  .lg-o-flexAlign-hor-equal ,
		.xl-flexAlign-hor-equal   { 
			display: -webkit-box; 	display: -ms-flexbox;	
			display: -webkit-flex; 	display: flex;
		}
		
		.flexAlign-hor-equal > * { 
			flex: 1;
		}

		@media (max-width: 575.98px) 							{ .xs-o-flexAlign-hor-equal > * { flex: 1; } }
		@media (min-width: 575.98px) 							{ .sm-flexAlign-hor-equal   > * { flex: 1; } }
		@media (min-width: 575.98px) and (max-width: 767.98px) 	{ .sm-o-flexAlign-hor-equal > * { flex: 1; } }
		@media (min-width: 767.98px) 							{ .md-flexAlign-hor-equal   > * { flex: 1; } }
		@media (min-width: 767.98px) and (max-width: 991.98px) 	{ .md-o-flexAlign-hor-equal > * { flex: 1; } }
		@media (min-width: 991.98px) 							{ .lg-flexAlign-hor-equal   > * { flex: 1; } }
		@media (min-width: 991.98px) and (max-width: 1199.98px) { .lg-o-flexAlign-hor-equal > * { flex: 1; } }
		@media (min-width: 1199.98px) 							{ .xl-flexAlign-hor-equal   > * { flex: 1; } }

