
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style>

		.valueTable {
			border: 1px solid rgba(3,3,3, .3);
			margin: 10px 0;
			box-shadow: 2px 2px 2px rgba(3,3,3,.3), inset 1px 1px rgba(3,3,3,.5);
		}

		.valueTable-row {
			width: 100%; float: left;
			padding: 10px 0; 
			border-left: 1px solid rgba(3,3,3,.3);
		}

		.valueTable-row > div {
			width: 50%; float: left;
			padding-left: 15px;
		}

		.valueTable-mainColumn {
			border-top: 2px solid rgba(3,3,3,.3);
		}

		.valueTable b-r,
		.valueTable b-p {
			font-weight: normal !important;
		}

		.valueTable-row:nth-of-type(2n) {
			background-color: rgba(3,3,3,.1);
		}

		</style>
	<!-- ============================================== -->

	<article>

		<header class="sr-only"> <h2> Utility Classes : 12 column grid system </h2> </header>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner">
				<div class="article-mainTabs-title"> Utility : Grid System - 12 Col </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"	data-tabs-id="1"> Usage </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Code  </button>
				</div>
			</div>

			<div class="tabs-contentGroup">

				<!-- Usage Tab -->
				<div class="tabs-content article-mainTabs-usageTab tab-expanded" data-tabs-id="1">

					<!-- I. Description -->

						<section class="p-0" aria-label="general description">
							<heading> <h2 class="section-title"> I. Description </h2> </heading>

							<p> Collection of <button class="modal-btn" data-modal-id="utilityClasses">Utility Classes</button> defining a Responsive <b>12-Column Grid System</b>. </p>

							<button class="modal-btn" data-modal-id="asterisk">asterisk</button>
						</section>

					<!-- II. Initialization -->

						<section class="p-0" aria-label="initialization">
							<heading> <h2 class="section-title"> II. Initialization </h2> </heading>

							<p class="mb-0"> 
								Download and refference the 
								<a class="downloadLink" href="../../css/asterisk/asterisk-utility-gridSystem-12col.css" download> asterisk-utility-gridSystem-12col.css </a> 
								<span class="wrapper tooltip-before tooltip-top" data-tooltipText="* This will include all Styles / Features."></span> CSS file.

								<button class="spoiler-btn spoiler-btn-autoText title-spoilerBtn" data-spoiler-id="init-more"> More | </button>
							</p> 

							<div class="wrapper"> 
								<div class="col-12"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-utility-gridSystem-12col.css</b-p>" type="text/css" rel="stylesheet"> </div>
							</div>

							<div class="spoiler" data-spoiler-id="init-more">
								<div class="spoiler-content">
									<div class="col-12">

										<p class="mt-sm"> 
											<b>Alternatively</b>, a <span class="wrapper"><b-p>{*}</b-p><b-r>-spec</b-r><b-p>.css</b-p></span> file can be generated within the <b><span class="wrapper">[Code]</span> Tab</b> <span class="wrapper tooltip-before tooltip-right" data-tooltipText="Will include only the selected Styles/Features. &#13;&#10;───────────────────────────&#13;&#10; See button on the top-right of page."></span>
										</p>
										<div class="wrapper mt-0"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-utility-gridSystem-12col<b-r>-spec</b-r>.css</b-p>" type="text/css" rel="stylesheet"> </div>
									</div>
								</div>
							</div>
						</section>

					<!-- III. Usage -->

						<section class="p-0" aria-label="usage">
							<heading> <h2 class="section-title"> III. Usage </h2> </heading>

							<p> Classes are <b>applied to</b> the <span class="wrapper">HTML Element</span> and <b>take effect on</b> the <span class="wrapper">HTML Element</span> itself. </p> 

							<div class="wrapper">
								<line> <b> Format : </b> <br class="xs-visible"> &lt;div class="<b><b-r>{propertyRefference}</b-r>-<b-p>{size}</b-p></b>"> &lt;/div> </line>
							</div>

							<div class="wrapper"> 
								<line> 
									<div class="col-12 md-col-6 p-0"> 
										<b> Example : </b> <br class="xs-visible"> &lt;div class="<b-r>col</b-r>-<b-p>3</b-p>"> &lt;/div> 
									</div>
									<div class="col-12 md-col-6 p-0"> 
										<i class="comment">// sets <span class="wrapper">width: 25%</span> (3 out of 12)</i> 
									</div>
								</line>

								<hr class="xs-visible sm-visible my-xs">

								<line> 
									<div class="col-12 md-col-6 p-0"> 
										<b> Example : </b> <br class="xs-visible"> &lt;div class="<b-r>col-pull</b-r>-<b-p>9</b-p>"> &lt;/div> 
									</div>
									<div class="col-12 md-col-6 p-0"> 
										<i class="comment">// sets <span class="wrapper">left: 75%</span> (9 out of 12)</i> 
									</div>
								</line>

								<hr class="xs-visible sm-visible my-xs">

								<line> 
									<div class="col-12 md-col-6 p-0"> 
										<b> Example : </b> <br class="xs-visible"> &lt;div class="<b-r>col-push</b-r>-<b-p>12</b-p>"> &lt;/div> 
									</div>
									<div class="col-12 md-col-6 p-0"> 
										<i class="comment">// sets <span class="wrapper">right: 100%</span> (12 out of 12)</i> 
									</div>
								</line>

								<hr class="xs-visible sm-visible my-xs">

								<line> 
									<div class="col-12 md-col-6 p-0"> 
										<b> Example : </b> <br class="xs-visible"> &lt;div class="<b-r>col-offset</b-r>-<b-p>6</b-p>"> &lt;/div> 
									</div>
									<div class="col-12 md-col-6 p-0"> 
										<i class="comment">// sets <span class="wrapper">margin-left: 50%</span> (6 out of 12)</i> 
									</div>
								</line>
							</div>
						</section>

					<!-- IV. Available Classes -->

						<section class="p-0" aria-label="Available Classes">
							<heading> <h2 class="section-title"> IV. Available Classes </h2> </heading>

							<p class="mb-sm"> Each className follows the format : <span class="wrapper"><b-r>{ property-refference }</b-r></span>-<span class="wrapper"><b-p>{ size }</b-p></span> . </p>

							<div class="col-12 p-0 xs-visible accordion">
								<div class="accordion-group">
									<div class="accordion-btn" style="border-bottom: 1px solid rgba(3,3,3,.1)"> {col}-{size} </div>
									<div class="accordion-content p-0">
										<table class="col-12 m-0">
											<tbody>
												<tr>
													<td> <b-r>col</b-r>-<b-p>1</b-p> </td>
													<td> width: 8.3% </td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>2</b-p></td>
													<td>width: 16.6%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>3</b-p></td>
													<td>width: 25%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>4</b-p></td>
													<td>width: 33.3%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>5</b-p></td>
													<td>width: 41.6%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>6</b-p></td>
													<td>width: 50%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>7</b-p></td>
													<td>width: 58.3%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>8</b-p></td>
													<td>width: 66.6%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>9</b-p></td>
													<td>width: 75%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>10</b-p></td>
													<td>width: 83.3%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>11</b-p></td>
													<td>width: 91.6%</td>
												</tr>
												<tr>
													<td><b-r>col</b-r>-<b-p>12</b-p></td>
													<td>width: 100%</td>
												</tr>
											</tbody>
										</table>	
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-btn" style="border-bottom: 1px solid rgba(3,3,3,.1)"> {col-pull}-{size} </div>
									<div class="accordion-content p-0">
										<table class="col-12 m-0">
											<tbody>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>1</b-p></td>
													<td>right: 8.3%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>2</b-p></td>
													<td>right: 16.6%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>3</b-p></td>
													<td>right: 25%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>4</b-p></td>
													<td>right: 33.3%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>5</b-p></td>
													<td>right: 41.6%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>6</b-p></td>
													<td>right: 50%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>7</b-p></td>
													<td>right: 58.3%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>8</b-p></td>
													<td>right: 66.6%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>9</b-p></td>
													<td>right: 75%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>10</b-p></td>
													<td>right: 83.3%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>11</b-p></td>
													<td>right: 91.6%</td>
												</tr>
												<tr>
													<td><b-r>col-pull</b-r>-<b-p>12</b-p></td>
													<td>right: 100%</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-btn" style="border-bottom: 1px solid rgba(3,3,3,.1)"> {col-push}-{size} </div>
									<div class="accordion-content p-0">
										<table class="col-12 m-0">
											<tbody>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>1</b-p></td>
													<td>left: 8.3%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>2</b-p></td>
													<td>left: 16.6%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>3</b-p></td>
													<td>left: 25%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>4</b-p></td>
													<td>left: 33.3%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>5</b-p></td>
													<td>left: 41.6%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>6</b-p></td>
													<td>left: 50%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>7</b-p></td>
													<td>left: 58.3%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>8</b-p></td>
													<td>left: 66.6%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>9</b-p></td>
													<td>left: 75%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>10</b-p></td>
													<td>left: 83.3%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>11</b-p></td>
													<td>left: 91.6%</td>
												</tr>
												<tr>
													<td><b-r>col-push</b-r>-<b-p>12</b-p></td>
													<td>left: 100%</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-btn" style="border-bottom: 1px solid rgba(3,3,3,.1)"> {col-offset}-{size} </div>
									<div class="accordion-content p-0">
										<table class="col-12 m-0">
											<tbody>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>1</b-p></td>
													<td>margin-left: 8.3%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>2</b-p></td>
													<td>margin-left: 16.6%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>3</b-p></td>
													<td>margin-left: 25%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>4</b-p></td>
													<td>margin-left: 33.3%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>5</b-p></td>
													<td>margin-left: 41.6%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>6</b-p></td>
													<td>margin-left: 50%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>7</b-p></td>
													<td>margin-left: 58.3%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>8</b-p></td>
													<td>margin-left: 66.6%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>9</b-p></td>
													<td>margin-left: 75%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>10</b-p></td>
													<td>margin-left: 83.3%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>11</b-p></td>
													<td>margin-left: 91.6%</td>
												</tr>
												<tr>
													<td><b-r>col-offset</b-r>-<b-p>12</b-p></td>
													<td>margin-left: 100%</td>
												</tr>	
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="col-12 p-0 xs-hidden valueTable">
								<div class="col-6 xl-col-3 p-0 valueTable-mainColumn">
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>1</b-p></div>
										<div>width: 8.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>2</b-p></div>
										<div>width: 16.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>3</b-p></div>
										<div>width: 25%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>4</b-p></div>
										<div>width: 33.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>5</b-p></div>
										<div>width: 41.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>6</b-p></div>
										<div>width: 50%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>7</b-p></div>
										<div>width: 58.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>8</b-p></div>
										<div>width: 66.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>9</b-p></div>
										<div>width: 75%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>10</b-p></div>
										<div>width: 83.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>11</b-p></div>
										<div>width: 91.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col</b-r>-<b-p>12</b-p></div>
										<div>width: 100%</div>
									</div>
								</div>
								<div class="col-6 xl-col-3 p-0 valueTable-mainColumn">
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>1</b-p></div>
										<div>right: 8.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>2</b-p></div>
										<div>right: 16.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>3</b-p></div>
										<div>right: 25%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>4</b-p></div>
										<div>right: 33.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>5</b-p></div>
										<div>right: 41.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>6</b-p></div>
										<div>right: 50%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>7</b-p></div>
										<div>right: 58.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>8</b-p></div>
										<div>right: 66.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>9</b-p></div>
										<div>right: 75%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>10</b-p></div>
										<div>right: 83.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>11</b-p></div>
										<div>right: 91.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-pull</b-r>-<b-p>12</b-p></div>
										<div>right: 100%</div>
									</div>
								</div>
								<div class="col-6 xl-col-3 p-0 valueTable-mainColumn">
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>1</b-p></div>
										<div>left: 8.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>2</b-p></div>
										<div>left: 16.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>3</b-p></div>
										<div>left: 25%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>4</b-p></div>
										<div>left: 33.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>5</b-p></div>
										<div>left: 41.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>6</b-p></div>
										<div>left: 50%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>7</b-p></div>
										<div>left: 58.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>8</b-p></div>
										<div>left: 66.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>9</b-p></div>
										<div>left: 75%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>10</b-p></div>
										<div>left: 83.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>11</b-p></div>
										<div>left: 91.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-push</b-r>-<b-p>12</b-p></div>
										<div>left: 100%</div>
									</div>
								</div>
								<div class="col-6 xl-col-3 p-0 valueTable-mainColumn">
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>1</b-p></div>
										<div>margin-left: 8.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>2</b-p></div>
										<div>margin-left: 16.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>3</b-p></div>
										<div>margin-left: 25%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>4</b-p></div>
										<div>margin-left: 33.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>5</b-p></div>
										<div>margin-left: 41.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>6</b-p></div>
										<div>margin-left: 50%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>7</b-p></div>
										<div>margin-left: 58.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>8</b-p></div>
										<div>margin-left: 66.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>9</b-p></div>
										<div>margin-left: 75%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>10</b-p></div>
										<div>margin-left: 83.3%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>11</b-p></div>
										<div>margin-left: 91.6%</div>
									</div>
									<div class="valueTable-row">
										<div><b-r>col-offset</b-r>-<b-p>12</b-p></div>
										<div>margin-left: 100%</div>
									</div>
								</div>
							</div>

						</section>

					<!-- V. Viewport-Prefixes -->

						<section class="p-0" aria-label="Viewport-Prefixes">
							<heading> <h2 class="section-title"> V. Responsive Utilities : Viewport-Prefixes </h2> </heading>

							<p>
								<span> To create different scenarios for specific viewports, any class can be prefixed with any <span class="wrapper"> *viewport*- </span> or <span class="wrapper"> *viewport*-o- </span> syntax. </span>

								<button class="modal-btn modal-btn-viewportTable" data-modal-id="viewportTable"> Show Viewport-Prefix Syntax Details </button>
							</p>

							<div class="col-12">
								<div class="wrapper"> 
									<div class="col-12"> <b> Format : </b> <br class="xs-visible"> &lt;div class="<b-r>{viewportPrefix}</b-r><b>-</b><b-p>{className}</b-p>"> &lt;/div> </div>

									<hr>

									<line> 
										<div class="col-12 md-col-6 p-0">
											<b> Example : </b> <br class="xs-visible"> &lt;div class="<b-p>col-6</b-p>"> &lt;/div>
										</div>
										<div class="col-12 md-col-6 p-0">
											<i class="comment"> // sets <span class="wrapper">witdh: 50%</span> on <b>all</b> viewports </i>
										</div>
									</line>

									<line class="xs-visible sm-visible"> <hr> </line>

									<line> 
										<div class="col-12 md-col-6 p-0">
											<b> Example : </b> <br class="xs-visible"> &lt;div class="<b-r>sm-</b-r><b-p>col-6</b-p>"> &lt;/div>
										</div>
										<div class="col-12 md-col-6 p-0">
											<i class="comment"> // sets <span class="wrapper">witdh: 50%</span> on <b>small(sm)</b> viewports <b>or larger</b> </i>
										</div>
									</line>

									<line class="xs-visible sm-visible"> <hr> </line>

									<line> 
										<div class="col-12 md-col-6 p-0">
											<b> Example : </b> <br class="xs-visible"> &lt;div class="<b-r>sm-o-</b-r><b-p>col-6</b-p>"> &lt;/div>
										</div>
										<div class="col-12 md-col-6 p-0">
											<i class="comment"> // sets <span class="wrapper">witdh: 50%</span> on <b>small(sm)</b> viewports <b>only</b> </i>
										</div>
									</line>
								</div>
							</div>

						</section>
				</div>

				<!-- Code Tab -->
				<div class="tabs-content article-mainTabs-codeTab" data-tabs-id="2"
								data-generateCodeFor="['css']" 
								data-setCopyContextId="gridSystem-12col" 
								data-setFileName="asterisk-utility-gridSystem-12col">
				</div>
				
			</div>
		</div>

	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/utility/gridSystem-12col.js"> </div>
	<!-- ==================================================== -->