
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style> 
		.demoItem-container img,
		.demoItem-container img:before {
			transition: all .4s;
		}
		.demoItem-container:hover img,
		.demoItem-container:hover img:before {
			-webkit-filter: none;
					filter: none;
			background: transparent;
			mix-blend-mode: normal;
		}

		.demoItem::after {
			content: '';
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			z-index: 2;
		}
		</style>
	<!-- ============================================== -->

	<article>

		<header class="sr-only"> <h2> Filters </h2> </header>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner">
				<div class="article-mainTabs-title"> Effects : Filters </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> Demo  </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Usage </button>
					<button class="tabs-btn" 				data-tabs-id="3"> Code  </button>
				</div>
			</div>

			<div class="tabs-contentGroup">

				<!-- Demo Tab -->
				<div class="tabs-content article-mainTabs-demoTab tab-expanded" data-tabs-id="1"> 

					<div class="section-title flex-main-center"> Note: Filter effect is active </div>
					<div class="xs-visible sm-visible text-center"> 
						<span class="wrapper"><i class="fa fa-dot-circle-o"></i> <b>Tap item :</b> Show Code </span> <br>
						<span class="wrapper"><i class="fa fa-bullseye"></i> <b>Tap & Hold item :</b> Remove Filter </span> 
					</div>

					<div class="xs-hidden sm-hidden text-center"> 
						<span class="wrapper"><i class="fa fa-hand-pointer-o"></i> <b>Click item :</b> Show Code </span> |
						<span class="wrapper"><i class="fa fa-search-plus"></i> <b>Hover item :</b> Remove Filter </span> 
					</div>

					<div class="_route_mainView-generateDemos"> </div> 
				</div>

				<!-- Usage Tab -->
				<div class="tabs-content article-mainTabs-usageTab" data-tabs-id="2"> 

					<!-- I. Description -->

						<section class="p-0" aria-label="general description">
							<heading> <h2 class="section-title"> I. Description </h2> </heading>

							<p> Collection of <button class="modal-btn" data-modal-id="utilityClasses">Utility Classes</button> which apply <b>filter</b> overlay effects - tipically used for <span class="wrapper">image</span> elements. </p>

							<hr>

							<p> <b-r>This collection was taken from <a href="https://twitter.com/picturepan2" target="_blank"><b-p>Yan Zhu</b-p></a>'s <a href="https://picturepan2.github.io/instagram.css/" target="_blank"><b-p>Instagram.css</b-p></a> library. Send all merits his way.</b-r> </p>

							<p class="sub-heading mt-0"> <b-p>Note:</b-p> The <span class="wrapper">hasFilter-hvr</span> and <span class="wrapper">hasFilter-hvr-remove</span> scenarios are not available in the original library. </p>
						</section> 

					<!-- II. Initialization -->

						<section class="p-0" aria-label="initialization">
							<heading> <h2 class="section-title"> II. Initialization </h2> </heading>

							<p class="mb-0"> 
								Download and refference the 
								<a class="downloadLink" href="../../css/asterisk/asterisk-effects-filters.css" download> asterisk-effects-filters.css </a> CSS file.
								<span class="wrapper tooltip-before tooltip-top" data-tooltipText="* This will include all filters."></span> CSS file.
								
								<button class="spoiler-btn spoiler-btn-autoText title-spoilerBtn" data-spoiler-id="init-more"> More | </button>
							</p> 

							<div class="wrapper"> 
								<div class="col-12"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-effects-filters.css</b-p>" type="text/css" rel="stylesheet"> </div>
							</div>

							<div class="spoiler" data-spoiler-id="init-more">
								<div class="spoiler-content">
									<div class="col-12">
										<p class="mt-sm"> 
											<b>Alternatively</b>, a <span class="wrapper"><b-p>{*}</b-p><b-r>-spec</b-r><b-p>.css</b-p></span> file can be generated within the <b><span class="wrapper">[Code]</span> Tab</b> <span class="wrapper tooltip-before tooltip-right" data-tooltipText="Will include only the selected Styles/Features. &#13;&#10;───────────────────────────&#13;&#10; See button on the top-right of page."></span>
										</p>
										<div class="wrapper mt-0"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-effects-filters<b-r>-spec</b-r>.css</b-p>" type="text/css" rel="stylesheet"> </div>
									</div>
								</div>
							</div>
						</section>

					<!-- III. Usage -->

						<section class="p-0" aria-label="usage">
							<heading> <h2 class="section-title"> III. Usage </h2> </heading>

							<p class="mb-0"> Classes can be applied to the <span class="wrapper">image</span> directly, or to any of its' <span class="wrapper">Parent Elements</span>. </p>

							<hr>

							<p> <b>(1)</b> <span class="wrapper"><b>hasFilter-</b><b-p>{value}</b-p></span> classes | <b>filter is <U>always</U> applied</b> </p>
							<div class="wrapper"> 
								&lt;img class="<b>hasFilter-</b><b-p>valencia</b-p>" src="insertImgSrc"> 
							</div>

							<p> <b>(2)</b> <span class="wrapper"><b>hasFilter-hvr-</b><b-p>{value}</b-p></span> classes | <b>filter is applied <u>on hover</u></b> </p>
							<div class="wrapper"> 
								&lt;img class="<b>hasFilter-hvr-</b><b-p>valencia</b-p>" src="insertImgSrc"> 
							</div>

							<p> <b>(3)</b> <span class="wrapper"><b>hasFilter-</b><b-p>{value}</b-p></span> classes + <span class="wrapper"><b-r>hasFilter-hvr-remove</b-r></span> class | <b>filter is <u>applied by default</u> and is <u>removed when hovered</u></b> </p>
							<div class="wrapper"> 
								&lt;img class="<b>hasFilter-</b><b-p>valencia</b-p> <b-r>hasFilter-hvr-remove</b-r>" src="insertImgSrc"> 
							</div>

						</section>
				</div>

				<!-- Code Tab -->
				<div class="tabs-content article-mainTabs-codeTab"  data-tabs-id="3"
							data-generateCodeFor="['html', 'css', 'css-singular']" 
							data-setCopyContextId="imgFilters" 
							data-setFileName="asterisk-effects-imgFilters">
				</div>
				
			</div>
		</div>
	
	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/effects/filters.js"> </div>
	<!-- ==================================================== -->