
        /* Filter - ashby */
        /* ------------------------------- */

            .hasFilter-ashby            , 
            .hasFilter-hvr-ashby:hover  {
                -webkit-filter: sepia(.5) contrast(1.2) saturate(1.8);
                        filter: sepia(.5) contrast(1.2) saturate(1.8);

                -webkit-transition: filter 0.4s ease-out;
                   -moz-transition: filter 0.4s ease-out;
                     -o-transition: filter 0.4s ease-out;
                        transition: filter 0.4s ease-out; 
            }

            .hasFilter-ashby::before            , 
            .hasFilter-hvr-ashby:hover::before  {
                content: '';
                position: absolute; z-index: 2;
                top: 0; left: 0; right: 0; bottom: 0;
                
                background: rgba(125, 105, 24, .35);
                mix-blend-mode: lighten;
            }