
        /* Filter - gingham */
        /* ------------------------------- */

            .hasFilter-gingham            , 
            .hasFilter-hvr-gingham:hover  {
                -webkit-filter: contrast(1.1) brightness(1.1);
                        filter: contrast(1.1) brightness(1.1);

                -webkit-transition: filter 0.4s ease-out;
                   -moz-transition: filter 0.4s ease-out;
                     -o-transition: filter 0.4s ease-out;
                        transition: filter 0.4s ease-out; 
            }

            .hasFilter-gingham::before            , 
            .hasFilter-hvr-gingham:hover::before  {
                content: '';
                position: absolute; z-index: 2;
                top: 0; left: 0; right: 0; bottom: 0;
                
                background: #e6e6e6;
                mix-blend-mode: soft-light;
            }