
        /* Filter - poprocket */
        /* ------------------------------- */

            .hasFilter-poprocket            , 
            .hasFilter-hvr-poprocket:hover  {
                -webkit-filter: sepia(.15) brightness(1.2);
                        filter: sepia(.15) brightness(1.2);

                -webkit-transition: filter 0.4s ease-out;
                   -moz-transition: filter 0.4s ease-out;
                     -o-transition: filter 0.4s ease-out;
                        transition: filter 0.4s ease-out; 
            }

            .hasFilter-poprocket::before            , 
            .hasFilter-hvr-poprocket:hover::before  {
                content: '';
                position: absolute; z-index: 2;
                top: 0; left: 0; right: 0; bottom: 0;
                
                background: radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
                mix-blend-mode: screen;
            }