
        /* Filter - rise */
        /* ------------------------------- */

            .hasFilter-rise            , 
            .hasFilter-hvr-rise:hover  {
                -webkit-filter: sepia(.25) contrast(1.25) brightness(1.2) saturate(.9);
                        filter: sepia(.25) contrast(1.25) brightness(1.2) saturate(.9);

                -webkit-transition: filter 0.4s ease-out;
                   -moz-transition: filter 0.4s ease-out;
                     -o-transition: filter 0.4s ease-out;
                        transition: filter 0.4s ease-out; 
            }

            .hasFilter-rise::before            , 
            .hasFilter-hvr-rise:hover::before  {
                content: '';
                position: absolute; z-index: 2;
                top: 0; left: 0; right: 0; bottom: 0;
                
                background: radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
                mix-blend-mode: lighten;
            }