
        /* Filter - sutro */
        /* ------------------------------- */

            .hasFilter-sutro            , 
            .hasFilter-hvr-sutro:hover  {
                -webkit-filter: sepia(.4) contrast(1.2) brightness(.9) saturate(1.4) hue-rotate(-10deg);
                        filter: sepia(.4) contrast(1.2) brightness(.9) saturate(1.4) hue-rotate(-10deg);

                -webkit-transition: filter 0.4s ease-out;
                   -moz-transition: filter 0.4s ease-out;
                     -o-transition: filter 0.4s ease-out;
                        transition: filter 0.4s ease-out; 
            }

            .hasFilter-sutro::before            , 
            .hasFilter-hvr-sutro:hover::before  {
                content: '';
                position: absolute; z-index: 2;
                top: 0; left: 0; right: 0; bottom: 0;
                
                background: radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
                mix-blend-mode: darken;
            }