
        /* Filter - valencia */
        /* ------------------------------- */

            .hasFilter-valencia            , 
            .hasFilter-hvr-valencia:hover  {
                -webkit-filter: sepia(.25) contrast(1.1) brightness(1.1);
                        filter: sepia(.25) contrast(1.1) brightness(1.1);

                -webkit-transition: filter 0.4s ease-out;
                   -moz-transition: filter 0.4s ease-out;
                     -o-transition: filter 0.4s ease-out;
                        transition: filter 0.4s ease-out; 
            }

            .hasFilter-valencia::before            , 
            .hasFilter-hvr-valencia:hover::before  {
                content: '';
                position: absolute; z-index: 2;
                top: 0; left: 0; right: 0; bottom: 0;
                
                background: rgba(230, 193, 61, .1);
                mix-blend-mode: lighten;
            }