
        /* Filter - walden */
        /* ------------------------------- */

            .hasFilter-walden            , 
            .hasFilter-hvr-walden:hover  {
                -webkit-filter: sepia(.35) contrast(.8) brightness(1.25) saturate(1.4);
                        filter: sepia(.35) contrast(.8) brightness(1.25) saturate(1.4);

                -webkit-transition: filter 0.4s ease-out;
                   -moz-transition: filter 0.4s ease-out;
                     -o-transition: filter 0.4s ease-out;
                        transition: filter 0.4s ease-out; 
            }

            .hasFilter-walden::before            , 
            .hasFilter-hvr-walden:hover::before  {
                content: '';
                position: absolute; z-index: 2;
                top: 0; left: 0; right: 0; bottom: 0;
                
                background: rgba(229, 240, 128, .5);
                mix-blend-mode: darken;
            }