
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->

	<style>
		.fa-check-circle-o {
			color: green;
			line-height: inherit;
			font-size: 1.3em;
			vertical-align: middle;
		}
		.fa-times-circle-o {
			color: rgb(190, 12, 12);
			line-height: inherit;
			font-size: 1.3em;
			vertical-align: middle;
		}

	</style>

	<article>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner noTextOverlay">
				<div class="article-mainTabs-title"> Snippets : if-n-siblings </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> Code  </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Logic </button>
					<button class="tabs-btn" 				data-tabs-id="3"> Usage </button>
				</div>
			</div>

			<div class="tabs-contentGroup">
				<div class="tabs-content tab-expanded" data-tabs-id="1"> 

					<p class="mt-md mb-0"> CSS Selector Syntax, which targets elements where there are <b><u>exactly</u> <span class="wrapper"><b-r>n</b-r></span> children/siblings.</b> </p>

					<p class="sub-heading mt-0"> Found from <a target="_blank" href="https://youtu.be/54wJkqG8jXE?t=23m13s">Lea Verou | CSS3 Secrets: 10 things you might not know about CSS3 | Fronteers 2011 </a>. </p> 

					<p class="section-title"> Not Scoped - TagName Identifier </p>

					<div class="wrapper">
						<div class="copyContext-btnContainer" data-copyContextId="cssSelectors-atLeastN-1">
							<button class="copyContext-btn copyContext-btn-copyText"> </button>
						</div>

						<div class="copyContext" data-copyContextId="cssSelectors-atLeastN-1">
							<pre class="pre-removeTabSpaces">
							    <b>div</b>:first-child:nth-last-child(<b-r>n</b-r>),
							    <b>div</b>:first-child:nth-last-child(<b-r>n</b-r>) ~ <b>div</b> {
							        /* do magic */
							    } 
							</pre>
						</div>
					</div>

					<p class="section-title"> Not Scoped -  Class Identifier </p>

					<div class="wrapper">
						<div class="copyContext-btnContainer" data-copyContextId="cssSelectors-atLeastN-2">
							<button class="copyContext-btn copyContext-btn-copyText"> </button>
						</div>

						<div class="copyContext" data-copyContextId="cssSelectors-atLeastN-2">
							<pre class="pre-removeTabSpaces">
							    <b>.myClass</b>:first-child:nth-last-child(<b-r>n</b-r>),
							    <b>.myClass</b>:first-child:nth-last-child(<b-r>n</b-r>) ~ <b>.myClass</b> {
							        /* do magic */
							    } 
							</pre>
						</div>
					</div>

					<p class="section-title"> Parent Scope - TagName Identifier </p>

					<div class="wrapper">
						<div class="copyContext-btnContainer" data-copyContextId="cssSelectors-atLeastN-2">
							<button class="copyContext-btn copyContext-btn-copyText"> </button>
						</div>

						<div class="copyContext" data-copyContextId="cssSelectors-atLeastN-2">
							<pre class="pre-removeTabSpaces">
							    <b>.myParentClass div</b>:first-child:nth-last-child(<b-r>n</b-r>),
							    <b>.myParentClass div</b>:first-child:nth-last-child(<b-r>n</b-r>) ~ <b>div</b> {
							        /* do magic */
							    } 
							</pre>
						</div>
					</div>

					<p class="section-title"> Parent Scope - className Identifier </p>

					<div class="wrapper">
						<div class="copyContext-btnContainer" data-copyContextId="cssSelectors-atLeastN-2">
							<button class="copyContext-btn copyContext-btn-copyText"> </button>
						</div>

						<div class="copyContext" data-copyContextId="cssSelectors-atLeastN-2">
							<pre class="pre-removeTabSpaces">
							    <b>.myParentClass .myClass</b>:first-child:nth-last-child(<b-r>n</b-r>),
							    <b>.myParentClass .myClass</b>:first-child:nth-last-child(<b-r>n</b-r>) ~ <b>.myClass</b> {
							        /* do magic */
							    } 
							</pre>
						</div>
					</div>

					<p class="section-title"> Generic Example </p>

					<div class="wrapper">
						<div class="copyContext-btnContainer" data-copyContextId="cssSelectors-atLeastN-3">
							<button class="copyContext-btn copyContext-btn-copyText"> </button>
						</div>

						<div class="copyContext" data-copyContextId="cssSelectors-atLeastN-3">
							<pre class="pre-removeTabSpaces">
							    <b>div</b>:only-child {
							        width: 100%;
							    } 

							    <b>div</b>:first-child:nth-last-child(<b-r>2</b-r>),
							    <b>div</b>:first-child:nth-last-child(<b-r>2</b-r>) ~ <b>div</b> {
							        width: 50%;
							    } 

							    <b>div</b>:first-child:nth-last-child(<b-r>3</b-r>),
							    <b>div</b>:first-child:nth-last-child(<b-r>3</b-r>) ~ <b>div</b> {
							        width: 33.3%;
							    } 

							    <b>div</b>:first-child:nth-last-child(<b-r>4</b-r>),
							    <b>div</b>:first-child:nth-last-child(<b-r>4</b-r>) ~ <b>div</b> {
							        width: 25%;
							    } 
							</pre>
						</div>
					</div>

				</div> <!-- tabs-content -->

				<div class="tabs-content" data-tabs-id="2"> 

					<p class="section-title"> <div class="wrapper"> <b-r>(1)</b-r> <span class="wrapper">div:first-child:nth-last-child(n)</span> <span class="float-right"> This selector targets only the <span class="wrapper">1st Child Element</span> itself </span> </div> </p>
					<p class="mb-0"> * If there are 2 child elements, the <span class="wrapper">1st child</span> is also the <span class="wrapper">2nd-to-last child</span> <i class="fa fa-arrow-circle-right"></i> <span class="wrapper">div:first-child:nth-last-child(2)</span> </p>
					<p class="mb-0"> * If there are 3 child elements, the <span class="wrapper">1st child</span> is also the <span class="wrapper">3rd-to-last child</span> <i class="fa fa-arrow-circle-right"></i> <span class="wrapper">div:first-child:nth-last-child(3)</span> </p>
					<p class="mb-0"> * If there are 4 child elements, the <span class="wrapper">1st child</span> is also the <span class="wrapper">4th-to-last child</span> <i class="fa fa-arrow-circle-right"></i> <span class="wrapper">div:first-child:nth-last-child(4)</span> </p>
					<p> * and so on .. </p>

					<p class="section-title"> <div class="wrapper"> <b-r>(2)</b-r> <span class="wrapper">div:first-child:nth-last-child(n) ~ div</span> <span class="float-right"> This selector targets all <span class="wrapper">div</span> elements, which come after the <span class="wrapper">1st Child Element</span> </span>  </div> </p>

					<p> If there are exactly <span class="wrapper">n</span> children, target all <span class="wrapper">div</span> elements that follow it <i class="fa fa-arrow-circle-right"></i> <span class="wrapper">div:first-child:nth-last-child(n)</span> <span class="wrapper">~</span> <span class="wrapper">div</span> </p>

					<p class="text-italic"> The general sibling combinator (~) separates two selectors and matches the second element only if it follows the first element (though not necessarily immediately), and both are children of the same parent element. (<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/General_sibling_selectors">source : MDN</a>) </p>

					<hr>

					<p> <b> Linking the two rules, it will target both the <span class="wrapper">1st Child Element</span> and all <span class="wrapper">div</span> elements that follow it. </b> </p>

					<hr>

				</div>

				<div class="tabs-content" data-tabs-id="3"> 

					<div class="section-title">
						<div class="col-10 p-0"> Setting <span class="wrapper">n</span> </div> 
						<button class="col-2 spoiler-btn spoiler-btn-autoText" style="font-size: .8em; padding: .5em;" data-spoiler-id="cssSelectors-atLeastN-tab3-1"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="cssSelectors-atLeastN-tab3-1">
						<div class="spoiler-content">
							<p> The <span class="wrapper"><b-r>n</b-r></span> placeholder should represent the <u>exact</u> number of siblings. </p>

							<div class="wrapper"> 
								<line> <b-p>identifier</b-p>:first-child:nth-last-child(<b-r>n</b-r>), </line>
								<line> <b-p>identifier</b-p>:first-child:nth-last-child(<b-r>n</b-r>) ~ <b-p>identifier</b-p> { </line>
									<indent>
									<line> /* do magic */ </line>
									</indent>
								<line> } </line>
							</div>

							<hr>

							<p> <b>Example:</b> If <span class="wrapper"> <b-r>n</b-r> = <b-r>3</b-r> </span>, then the selector will target all <span class="wrapper">identifier</span> elements, where there are at exactly 3 siblings. </p>

							<div class="wrapper">
								<div class="col-12">
									<line> <b-p>div</b-p>:first-child:nth-last-child(<b-r>3</b-r>), </line>
									<line> <b-p>div</b-p>:first-child:nth-last-child(<b-r>3</b-r>) ~ <b-p>div</b-p> { </line>
										<indent>
										<line> /* do magic */ </line>
										</indent>
									<line> } </line>
								</div>

								<hr>

								<div class="col-12 md-col-4">
									<line class="text-underline text-bold"> Case: 2 siblings </line>
									<line> <i class="fa fa-times-circle-o"></i> <span class="wrapper">div</span> elements <b>will not</b> be targeted </line>
									<hr>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
								</div>
								<div class="col-12 md-col-4">
									<line class="text-underline text-bold"> Case: 3 siblings </line>
									<line> <i class="fa fa-check-circle-o"></i> <span class="wrapper">div</span> elements <b>will</b> be targeted </line>
									<hr>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
								</div>
								<div class="col-12 md-col-4">
									<line class="text-underline text-bold"> Case: 4 siblings </line>
									<line> <i class="fa fa-times-circle-o"></i> <span class="wrapper">div</span> elements <b>will not</b> be targeted </line>
									<hr>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
								</div>
							</div>

							<hr>

							<p> <b>All siblings will be counted</b>, regardless of their <span class="wrapper">tagName</span>, or if they have the specified <span class="wrapper">Identifier</span> or not. </p>

							<div class="wrapper">
								<div class="col-12 md-col-4">
									<line class="text-underline text-bold"> Case: 2 siblings </line>
									<line> <i class="fa fa-times-circle-o"></i> <span class="wrapper">div</span> elements <b>will not</b> be targeted </line>
									<hr>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;input/> </line>
										</indent>
									<line> &lt;/div> </line>
								</div>

								<div class="col-12 md-col-4">
									<line class="text-underline text-bold"> Case: 3 siblings </line>
									<line> <i class="fa fa-check-circle-o"></i> <span class="wrapper">div</span> elements <b>will</b> be targeted </line>
									<hr>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;img></line>
										<line> &lt;p> &lt;/p> </line>
										</indent>
									<line> &lt;/div> </line>
								</div>

								<div class="col-12 md-col-4">
									<line class="text-underline text-bold"> Case: 4 siblings </line>
									<line> <i class="fa fa-times-circle-o"></i> <span class="wrapper">div</span> elements <b>will not</b> be targeted </line>
									<hr>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;form> &lt;/form> </line>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;img/> </line>
										</indent>
									<line> &lt;/div> </line>
								</div>
							</div>

							<hr>

							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="cssSelectors-atLeastN-tab3-1"> </button>
						</div>
					</div>

					<div class="section-title">
						<div class="col-10 p-0"> Setting <span class="wrapper">Identifier</span> </div> 
						<button class="col-2 spoiler-btn spoiler-btn-autoText" style="font-size: .8em; padding: .5em;" data-spoiler-id="cssSelectors-atLeastN-tab3-2"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="cssSelectors-atLeastN-tab3-2">
						<div class="spoiler-content">
							<p> The <span class="wrapper"><b-p>Identifier</b-p></span> can be any type of Selector. </p>
						
							<div class="col-12">
								<div class="wrapper">
									<line> Example : <span class="wrapper"><b-p>Identifier</b-p></span> is set to <span class="wrapper"><b-p>.myClass</b-p></span> </line>
									<hr>
									<line> <b-p>.myClass</b-p>:first-child:nth-last-child(<b-r>3</b-r>), </line>
									<line> <b-p>.myClass</b-p>:first-child:nth-last-child(<b-r>3</b-r>) ~ <b-p>.myClass</b-p> { </line>
										<indent>
										<line> /* do magic */ </line>
										</indent>
									<line> } </line>
									<hr>
									<line> This will style all elements with the <span class="wrapper"><b-p>myClass</b-p></span> class, if there are exactly <b-r>3</b-r> siblings. </line>
								</div>
							</div>

							<hr>

							<p> <b>Test Cases : </b> </p>

							<div class="col-12 md-col-6">
								<div class="wrapper">
									<b>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</b>

									<hr>

									<line> <i class="fa fa-check-circle-o"></i> 1. The <span class="wrapper">first-child</span> has the <span class="wrapper">.myClass</span> class </line>
									<line> <i class="fa fa-times-circle-o"></i> 2. There are 2 only siblings </line>
									<hr>
									<line> <b>Initial conditions do not pass - nothing will be targeted</b> </line>
								</div>
							</div>

							<div class="col-12 md-col-6">
								<div class="wrapper">
									<b>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</b>

									<hr>
									<line> <i class="fa fa-times-circle-o"></i> 1. The <span class="wrapper">first-child</span> doesn't have the <span class="wrapper">.myClass</span> class </line>
									<hr>
									<line> <b>Initial conditions do not pass - nothing will be targeted</b> </line>
								</div>
							</div>

							<hr>

							<div class="col-12 md-col-6">
								<div class="wrapper">
									<b>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</b>

									<hr>

									<line> <i class="fa fa-check-circle-o"></i> 1. The <span class="wrapper">first-child</span> has the <span class="wrapper">.myClass</span> class </line>
									<line> <i class="fa fa-check-circle-o"></i> 2. There are 3 siblings</line>
									
									<hr>
									<line> <b> Initial conditions pass - Continue</b> </line>
									<hr>

									<line> <i class="fa fa-check-circle-o"></i> * 1st child does have the <span class="wrapper">.myClass</span> class </line>
									<line> <i class="fa fa-check-circle-o"></i> * 2nd child does have the <span class="wrapper">.myClass</span> class </line>
									<line> <i class="fa fa-check-circle-o"></i> * 3rd child does have the <span class="wrapper">.myClass</span> class </line>
								</div>
							</div>
							<div class="col-12 md-col-6">
								<div class="wrapper">
									<b>
									<line> &lt;div> </line>
										<indent>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										<line> &lt;div> &lt;/div> </line>
										<line> &lt;div class="<b-p>myClass</b-p>"> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</b>

									<hr>

									<line> <i class="fa fa-check-circle-o"></i> 1. The <span class="wrapper">first-child</span> has the <span class="wrapper">.myClass</span> class </line>
									<line> <i class="fa fa-check-circle-o"></i> 2. There are 3 siblings </line>
										
									<hr>
									<line> <b> Initial conditions pass - Continue</b> </line>
									<hr>

									<line> <i class="fa fa-check-circle-o"></i> * 1st child does have the <span class="wrapper">.myClass</span> class  </line>
									<line> <i class="fa fa-times-circle-o x-fa-times"></i> * 2nd child doesn't have the <span class="wrapper">.myClass</span> class </line>
									<line> <i class="fa fa-check-circle-o x-fa-times"></i> * 3rd child has the <span class="wrapper">.myClass</span> class </line>
								</div>
							</div>

							<hr>

							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="cssSelectors-atLeastN-tab3-2"> </button>
						</div>
					</div>

					<div class="section-title">
						<div class="col-10 p-0"> Scoping </div> 
						<button class="col-2 spoiler-btn spoiler-btn-autoText" style="font-size: .8em; padding: .5em;" data-spoiler-id="cssSelectors-atLeastN-tab3-3"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="cssSelectors-atLeastN-tab3-3">
						<div class="spoiler-content">

							<p> The rules can be scoped to particular elements, by following the normal CSS Selector chaining logic. </p>

							<div class="col-12">
								<div class="wrapper">
									<line> <b-r>.myParentClass</b-r> <b-p>.myClass</b-p>:first-child:nth-last-child(<b>n</b>), </line>
									<line> <b-r>.myParentClass</b-r> <b-p>.myClass</b-p>:first-child:nth-last-child(<b>n</b>) ~ <b-p>.myClass</b-p> { </line>
										<indent>
										<line> /* do magic */ </line>
										</indent>
									<line> } </line>
									<hr>
									<line> This will style all elements which are children of <span class="wrapper"><b-r>.myParentClass</b-r></span>, which have the <span class="wrapper"><b-p>myClass</b-p></span> class, if there are exactly <b>n</b> siblings. </line>
								</div>
							</div>

							<hr>

							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="cssSelectors-atLeastN-tab3-3"> </button>
						</div>
					</div>

					<div class="section-title">
						<div class="col-10 p-0"> Overriding values </div> 
						<button class="col-2 spoiler-btn spoiler-btn-autoText" style="font-size: .8em; padding: .5em;" data-spoiler-id="cssSelectors-atLeastN-tab3-4"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="cssSelectors-atLeastN-tab3-4">
						<div class="spoiler-content">

							<p> To set adequate values for incrementing numbers of siblings, simply cascade the rules, in order : </p>

							<div class="wrapper"> 
								<line> <b-p>*identifier*</b-p>:first-child:nth-last-child(<b-r>2</b-r>), </line>
								<line> <b-p>*identifier*</b-p>:first-child:nth-last-child(<b-r>2</b-r>) ~ <b-p>*identifier*</b-p> { </line>
									<indent>
									<line> /* do magic */ </line>
									</indent>
								<line> } </line>

								<line-space></line-space>
								
								<line> <b-p>*identifier*</b-p>:first-child:nth-last-child(<b-r>3</b-r>), </line>
								<line> <b-p>*identifier*</b-p>:first-child:nth-last-child(<b-r>3</b-r>) ~ <b-p>*identifier*</b-p> { </line>
									<indent>
									<line> /* do magic */ </line>
									</indent>
								<line> } </line>

								<line-space></line-space>
								
								<line> <b-p>*identifier*</b-p>:first-child:nth-last-child(<b-r>4</b-r>), </line>
								<line> <b-p>*identifier*</b-p>:first-child:nth-last-child(<b-r>4</b-r>) ~ <b-p>*identifier*</b-p> { </line>
									<indent>
									<line> /* do magic */ </line>
									</indent>
								<line> } </line>

								<line-space></line-space>

								<line> <b-r>etc ... </b-r> </line>
							</div>
							
							<hr>

							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="cssSelectors-atLeastN-tab3-4"> </button>
						</div>
					</div>

				</div> <!-- tabs-content -->

			</div> <!-- tabs-contentGroup -->

		</div> <!-- tabs -->
		
	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/snippets/cssSelector-ifNSiblings.js"> </div>
	<!-- ==================================================== -->