
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->

	<article>

		<div class="article-title"> Snippets : Useful 'Hacks' </div>

		<!-- HTMLCollection To Array  -->
		<!-- ============================================== -->

			<div class="title">
				<div class="col-10"> Make <span class="wrapper">HTMLCollection</span> accept <span class="wrapper">Array</span> methods | <span class="wrapper">.map()</span> | <span class="wrapper">.filter()</span> | etc </div> 
				<button class="col-2 spoiler-btn spoiler-btn-autoText" data-spoiler-id="htmlCol2Array"> </button>
			</div>

			<div class="spoiler" data-spoiler-id="htmlCol2Array">
				<div class="spoiler-content">

					<p> Instead of directly retrieving the <span class="wrapper">HTMLCollection</span> : </p>
					<div class="wrapper"> var myElements = <b-p>document.getElementsByClassName('myClass')</b-p>; </div>

					<p> Convert it into an <span class="wrapper">array</span>, with the help of <span class="wrapper">Array.from()</span> : </p>
					<div class="wrapper"> var myElements = <b-r>Array.from(</b-r> <b-p>document.getElementsByClassName('myClass')</b-p> <b-r>)</b-r>; </div>

					<p> Now we have an <span class="wrapper">Array</span> which contains the same <span class="wrapper">HTML Elements</span> as the <span class="wrapper">HTMLCollection</span> - and accepts array methods : </p>
					<div class="wrapper"> myElements.map(elem => <i style="color: rgba(3,3,3,.5)">//do magic</i> ); </div>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="htmlCol2Array"> </button>

				</div>
			</div>

		<!-- Better console.log() outputs, with objects instead of variables -->
		<!-- ============================================== -->

			<div class="title">
				<div class="col-10"> Make <span class="wrapper">console.log()</span> display both <span class="wrapper">names</span> and <span class="wrapper">values</span> (with objects) </div> 
				<button class="col-2 spoiler-btn spoiler-btn-autoText" data-spoiler-id="betterConsoleLog"> </button>
			</div>

			<div class="spoiler" data-spoiler-id="betterConsoleLog">
				<div class="spoiler-content">

					<p> Default Setup : </p>
					<div class="wrapper px-0">
						<p class="mt-xs "> var <b-p>myElem</b-p> = <b>document.getElementById('myElem')</b>; </p>
						<p> var <b-p>myString</b-p> = <b>"myString"</b>; </p>
						<p> var <b-p>myValue</b-p> = <b>24</b>; </p>
					</div>

					<p> When logging as a <span class="wrapper">variable</span>, only the values are displayed : (without proper context, these logs will be hard to understand) </p>
					<div class="wrapper px-0"> 
						<pre class="pre-removeTabSpaces">
						console.log( <b-p>myElem</b-p> , <b-p>myString</b-p> , <b-p>myValue</b-p> );

						// Will log: <b>*refference-to-myElem* myString 24</b> </pre>
					</div>

					<p> We can hardcode addition strings, to also log variable names : (tedious and big downside on maintainability) </p>
					<div class="wrapper"> 
						<pre class="pre-removeTabSpaces">
						console.log( 'myElem: ' , <b-p>myElem</b-p> , ' , myString: ' , <b-p>myString</b-p> , ' , myValue: ' , <b-p>myValue</b-p> ); 

						// Will log: <b>myElem: *refference-to-myElem* , myString: myString , myValue: 24</b> </pre>
					</div>

					<p> We can achieve this easier (log both variable names and their value), by logging as an <span class="wrapper">Object</span> : (simple and to the point) </p>
					<div class="wrapper"> 
						<line> console.log( <b-r>{</b-r> <b-p>myElem</b-p> , <b-p>myString</b-p> , <b-p>myValue</b-p> <b-r>}</b-r> ); </line>
						<hr>
						<line> // Will log an <span class="wrapper">object</span>, with the following <span class="wrapper">properties</span> : </line>
						<indent>
						<line> myElem: *refference-to-myElem* , </line> 
						<line> myString: myString , </line>
						<line> myValue: 24 </line>
						</indent>
					</div>

					<p> More basic example : </p>
					<div class="wrapper">
						<line> var <b-p>a</b-p> = 5, <b-p>b</b-p> = 6, <b-p>c</b-p> = 7 ; </line>
						<line> console.log(<b-r>{</b-r> <b-p>a</b-p>, <b-p>b</b-p>, <b-p>c</b-p> <b-r>}</b-r>) </line>
						<hr>
						<line> // Will log an <span class="wrapper">object</span>, with the following <span class="wrapper">properties</span> : </line>
						<indent>
						<line> a: 5 , </line> 
						<line> b: 6 , </line>
						<line> c: 7 </line>
						</indent>
					</div>

					<p> Can be used within function to help debugging, by better grouping 'errors' : </p>
					<div class="wrapper">
						<line> function addNumbers( <b-p>a</b-p> , <b-p>b</b-p> ) { </line>
							<indent>
							<line> if ( isNaN(a) || isNaN(b) ) { </line>
								<indent>
								<line> var <b-p>_message</b-p> = 'Invalid parameters in function: addNumbers(a,b)'; </line>
								<line> console.log( <b-r>{</b-r> <b-p>_message</b-p> , <b-p>a</b-p> , <b-p>b</b-p> <b-r>}</b-r> ); </line>
								</indent>
							<line> } else { </line>
								<indent>
								<line> return a + b </line>
								</indent>
							<line> } </line>
							</indent>
						}
					</div>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="betterConsoleLog"> </button>
				</div>
			</div>

		<!-- Shorthand if() statement  -->
		<!-- ============================================== -->

			<div class="title">
				<div class="col-10" class="col-10"> Shorthand for simple <span class="wrapper">if()</span> statements </div> 
				<button class="col-2 spoiler-btn spoiler-btn-autoText" data-spoiler-id="shorthandIfStatement"> </button>
			</div>

			<div class="spoiler" data-spoiler-id="shorthandIfStatement">
				<div class="spoiler-content">

					<p> Instead of using an <b-r>if() statement</b-r> : </p>
					<div class="wrapper"> <b-r>if (<b-r> <b-p>someCondition</b-p> <b-r>) { </b-r> <b-p>runFunction()</b-p> </b-r>}</b-r> ; </div>

					<p> Use the <b-r>&&</b-r> (logical and) operator : </p>
					<div class="wrapper"> <b-p>someCondition</b-p> <b-r>&&</b-r> <b-p>runFunction()</b-p> ; </div>

					<p> If <span class="wrapper"><b-p>someCondition</b-p></span> is true - <span class="wrapper"><b-p>runFunction()</b-p></span> will run </p>
					<p> If <span class="wrapper"><b-p>someCondition</b-p></span> is not true - <span class="wrapper"><b-p>runFunction()</b-p></span> will not run and <u>will not error</u> </p>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="shorthandIfStatement"> </button>
				</div>
			</div>

		<!-- Default values using || operator -->
		<!-- ============================================== -->

			<div class="title">
				<div class="col-10"> Default values using <span class="wrapper">||</span> operator </div> 
				<button class="col-2 spoiler-btn spoiler-btn-autoText" data-spoiler-id="defaultValues-usingOrOperator"> </button>
			</div>

			<div class="spoiler" data-spoiler-id="defaultValues-usingOrOperator">
				<div class="spoiler-content">

					<p> These syntaxes allow to set default values, <u>if no value is specified</u>, aka the value is set to <span class="wrapper">undefined</span>. </p>
					<p class="mt-0"> If any value is provided, including <span class="wrapper">null</span>, <span class="wrapper">false</span> etc, that value will be used, as it is a valid value. </p>
					<hr>

					<p> ES6 allows us to set default parameters quite easily : (<a href="https://css-tricks.com/using-default-parameters-es6/" target="_blank" class="text-underline">link to CSS Tricks</a>)</p> 
					<div class="wrapper"> function getInfo( name , year=2018 , color='blue' ) { ... } </div>

					<p> The same result can be achieved with the <b-r>||</b-r> (OR operator) : </p>
					<div class="wrapper">
						<line> function getInfo( name , year , color ) { </line>
						<indent>
							<line> var year = year <b-r>||</b-r> 2018 ; </line>
							<line> var color = color <b-r>||</b-r> blue ; </line>
						</indent>
						<line> }; </line>
					</div>

					<p> Can also be used to check the existence of certain <span class="wrapper">objects</span> or <span class="wrapper">functions</span> : </p>

					<div class="wrapper"> 
						<line> var asterisk = asterisk <b-r>||</b-r> {} </line>
						<hr>
						<line> This code checks if the <span class="wrapper">asterisk</span> object already exists, and if it doesn't it will create an empty object on the spot. </line>
					</div>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="defaultValues-usingOrOperator"> </button>
				</div>
			</div>




	</article>