
	/* Override - Borders | Margins | Paddings */
	/* -------------------------------------------- */

		/* Clears - Margin | Padding | Border */
		/* -------------------------------------------- */

			/* All viewports */
				.row-m-0       > * { margin:  			0; }
				.row-mt-0      > * { margin-top: 		0; }
				.row-ml-0      > * { margin-left: 		0; }
				.row-mr-0      > * { margin-right:  	0; }
				.row-mb-0      > * { margin-bottom: 	0; }
				.row-my-0      > * { margin-top: 		0;	margin-bottom: 	0; }
				.row-mx-0      > * { margin-left: 		0;	margin-right:  	0; }

				.row-p-0       > * { padding: 			0; }
				.row-pt-0      > * { padding-top:		0; }
				.row-pl-0      > * { padding-left: 		0; }
				.row-pr-0      > * { padding-right:		0; }
				.row-pb-0      > * { padding-bottom:	0; }
				.row-py-0      > * { padding-top:		0;	padding-bottom: 0; }
				.row-px-0      > * { padding-left:		0;	padding-right:  0; }

				.row-b-0       > * { border:			0; }
				.row-bt-0      > * { border-top:		0; }
				.row-bl-0      > * { border-left:		0; }
				.row-br-0      > * { border-right:		0; }
				.row-bb-0      > * { border-bottom:		0; }
				.row-by-0      > * { border-top:		0;	border-bottom: 	0; }
				.row-bx-0      > * { border-left:		0;	border-right:  	0; }

			/* xs-only */
			@media (max-width: 575.98px) {
				.xs-o-row-m-0  > * { margin:  		0; }
				.xs-o-row-mt-0 > * { margin-top: 	0; }
				.xs-o-row-ml-0 > * { margin-left: 	0; }
				.xs-o-row-mr-0 > * { margin-right:  0; }
				.xs-o-row-mb-0 > * { margin-bottom: 0; }
				.xs-o-row-my-0 > * { margin-top:	0;	margin-bottom: 	0; }
				.xs-o-row-mx-0 > * { margin-left: 	0;	margin-right:  	0; }

				.xs-o-row-p-0  > * { padding: 		0; }
				.xs-o-row-pt-0 > * { padding-top: 	0; }
				.xs-o-row-pl-0 > * { padding-left: 	0; }
				.xs-o-row-pr-0 > * { padding-right: 0; }
				.xs-o-row-pb-0 > * { padding-bottom:0; }
				.xs-o-row-py-0 > * { padding-top: 	0;	padding-bottom: 0; }
				.xs-o-row-px-0 > * { padding-left: 	0;	padding-right:  0; }

				.xs-o-row-b-0  > * { border:  		0; }	
				.xs-o-row-bt-0 > * { border-top: 	0; }
				.xs-o-row-bl-0 > * { border-left: 	0; }
				.xs-o-row-br-0 > * { border-right:  0; }
				.xs-o-row-bb-0 > * { border-bottom: 0; }
				.xs-o-row-by-0 > * { border-top: 	0;	border-bottom: 	0; }
				.xs-o-row-bx-0 > * { border-left: 	0;	border-right:  	0; }
			}

			/* sm */
			@media (min-width: 575.98px) {	
				.sm-row-m-0  > * { margin:  		0; }
				.sm-row-mt-0 > * { margin-top: 		0; }
				.sm-row-ml-0 > * { margin-left: 	0; }
				.sm-row-mr-0 > * { margin-right:  	0; }
				.sm-row-mb-0 > * { margin-bottom: 	0; }
				.sm-row-my-0 > * { margin-top:		0;	margin-bottom: 	0; }
				.sm-row-mx-0 > * { margin-left: 	0;	margin-right:  	0; }

				.sm-row-p-0  > * { padding: 		0; }
				.sm-row-pt-0 > * { padding-top: 	0; }
				.sm-row-pl-0 > * { padding-left: 	0; }
				.sm-row-pr-0 > * { padding-right:  	0; }
				.sm-row-pb-0 > * { padding-bottom: 	0; }
				.sm-row-py-0 > * { padding-top: 	0;	padding-bottom: 0; }
				.sm-row-px-0 > * { padding-left: 	0;	padding-right:  0; }

				.sm-row-b-0  > * { border:  		0; }	
				.sm-row-bt-0 > * { border-top: 	 	0; }
				.sm-row-bl-0 > * { border-left: 	0; }
				.sm-row-br-0 > * { border-right:  	0; }
				.sm-row-bb-0 > * { border-bottom: 	0; }
				.sm-row-by-0 > * { border-top: 		0;	border-bottom: 	0; }
				.sm-row-bx-0 > * { border-left: 	0;	border-right:  	0; }
			}

			/* sm-only */
			@media (min-width: 575.98px) and (max-width: 767.98px) {
				.sm-o-row-m-0  > * { margin:  		0; }
				.sm-o-row-mt-0 > * { margin-top: 	0; }
				.sm-o-row-ml-0 > * { margin-left: 	0; }
				.sm-o-row-mr-0 > * { margin-right:  0; }
				.sm-o-row-mb-0 > * { margin-bottom: 0; }
				.sm-o-row-my-0 > * { margin-top:	0;	margin-bottom: 	0; }
				.sm-o-row-mx-0 > * { margin-left: 	0;	margin-right:  	0; }

				.sm-o-row-p-0  > * { padding: 		0; }
				.sm-o-row-pt-0 > * { padding-top: 	0; }
				.sm-o-row-pl-0 > * { padding-left: 	0; }
				.sm-o-row-pr-0 > * { padding-right: 0; }
				.sm-o-row-pb-0 > * { padding-bottom:0; }
				.sm-o-row-py-0 > * { padding-top: 	0;	padding-bottom: 0; }
				.sm-o-row-px-0 > * { padding-left: 	0;	padding-right:  0; }

				.sm-o-row-b-0  > * { border:  		0; }	
				.sm-o-row-bt-0 > * { border-top: 	0; }
				.sm-o-row-bl-0 > * { border-left: 	0; }
				.sm-o-row-br-0 > * { border-right:  0; }
				.sm-o-row-bb-0 > * { border-bottom: 0; }
				.sm-o-row-by-0 > * { border-top: 	0;	border-bottom: 	0; }
				.sm-o-row-bx-0 > * { border-left: 	0;	border-right:  	0; }
			}

			/* md */
			@media (min-width: 767.98px) {
				.md-row-m-0  > * { margin:  		0; }
				.md-row-mt-0 > * { margin-top: 	 	0; }
				.md-row-ml-0 > * { margin-left: 	0; }
				.md-row-mr-0 > * { margin-right:  	0; }
				.md-row-mb-0 > * { margin-bottom: 	0; }
				.md-row-my-0 > * { margin-top:		0;	margin-bottom: 	0; }
				.md-row-mx-0 > * { margin-left: 	0;	margin-right:  	0; }

				.md-row-p-0  > * { padding: 		0; }
				.md-row-pt-0 > * { padding-top: 	0; }
				.md-row-pl-0 > * { padding-left: 	0; }
				.md-row-pr-0 > * { padding-right:  	0; }
				.md-row-pb-0 > * { padding-bottom: 	0; }
				.md-row-py-0 > * { padding-top: 	0;	padding-bottom: 0; }
				.md-row-px-0 > * { padding-left: 	0;	padding-right:  0; }

				.md-row-b-0  > * { border:  		0; }
				.md-row-bt-0 > * { border-top: 	 	0; }
				.md-row-bl-0 > * { border-left: 	0; }
				.md-row-br-0 > * { border-right:  	0; }
				.md-row-bb-0 > * { border-bottom: 	0; }
				.md-row-by-0 > * { border-top: 		0;	border-bottom: 	0; }
				.md-row-bx-0 > * { border-left: 	0;	border-right:  	0; }
			}

			/* md-only */
			@media (min-width: 767.98px) and (max-width: 991.98px) {
				.md-o-row-m-0  > * { margin:  		0; }
				.md-o-row-mt-0 > * { margin-top: 	0; }
				.md-o-row-ml-0 > * { margin-left: 	0; }
				.md-o-row-mr-0 > * { margin-right:  0; }
				.md-o-row-mb-0 > * { margin-bottom: 0; }
				.md-o-row-my-0 > * { margin-top:	0;	margin-bottom: 	0; }
				.md-o-row-mx-0 > * { margin-left: 	0;	margin-right:  	0; }

				.md-o-row-p-0  > * { padding: 		0; }
				.md-o-row-pt-0 > * { padding-top: 	0; }
				.md-o-row-pl-0 > * { padding-left: 	0; }
				.md-o-row-pr-0 > * { padding-right: 0; }
				.md-o-row-pb-0 > * { padding-bottom:0; }
				.md-o-row-py-0 > * { padding-top: 	0;	padding-bottom: 0; }
				.md-o-row-px-0 > * { padding-left: 	0;	padding-right:  0; }

				.md-o-row-b-0  > * { border:  		0; }	
				.md-o-row-bt-0 > * { border-top: 	0; }
				.md-o-row-bl-0 > * { border-left: 	0; }
				.md-o-row-br-0 > * { border-right:  0; }
				.md-o-row-bb-0 > * { border-bottom: 0; }
				.md-o-row-by-0 > * { border-top: 	0;	border-bottom: 	0; }
				.md-o-row-bx-0 > * { border-left: 	0;	border-right:  	0; }
			}

			/* lg */
			@media (min-width: 991.98px) {
				.lg-row-m-0  > * { margin:  		0; }
				.lg-row-mt-0 > * { margin-top: 	 	0; }
				.lg-row-ml-0 > * { margin-left: 	0; }
				.lg-row-mr-0 > * { margin-right:  	0; }
				.lg-row-mb-0 > * { margin-bottom: 	0; }
				.lg-row-my-0 > * { margin-top:		0;	margin-bottom: 	0; }
				.lg-row-mx-0 > * { margin-left: 	0;	margin-right:  	0; }

				.lg-row-p-0  > * { padding: 		0; }
				.lg-row-pt-0 > * { padding-top: 	0; }
				.lg-row-pl-0 > * { padding-left: 	0; }
				.lg-row-pr-0 > * { padding-right:  	0; }
				.lg-row-pb-0 > * { padding-bottom: 	0; }
				.lg-row-py-0 > * { padding-top: 	0;	padding-bottom: 0; }
				.lg-row-px-0 > * { padding-left: 	0;	padding-right:  0; }

				.lg-row-b-0  > * { border:  		0; }
				.lg-row-bt-0 > * { border-top: 	 	0; }
				.lg-row-bl-0 > * { border-left: 	0; }
				.lg-row-br-0 > * { border-right:  	0; }
				.lg-row-bb-0 > * { border-bottom: 	0; }
				.lg-row-by-0 > * { border-top: 		0;	border-bottom: 	0; }
				.lg-row-bx-0 > * { border-left: 	0;	border-right:  	0; }
			}

			/* lg-only */
			@media (min-width: 991.98px) and (max-width: 1199.98px) {
				.lg-o-row-m-0  > * { margin:  		0; }
				.lg-o-row-mt-0 > * { margin-top: 	0; }
				.lg-o-row-ml-0 > * { margin-left: 	0; }
				.lg-o-row-mr-0 > * { margin-right:  0; }
				.lg-o-row-mb-0 > * { margin-bottom: 0; }
				.lg-o-row-my-0 > * { margin-top:	0;	margin-bottom: 	0; }
				.lg-o-row-mx-0 > * { margin-left: 	0;	margin-right:  	0; }

				.lg-o-row-p-0  > * { padding: 		0; }
				.lg-o-row-pt-0 > * { padding-top: 	0; }
				.lg-o-row-pl-0 > * { padding-left: 	0; }
				.lg-o-row-pr-0 > * { padding-right: 0; }
				.lg-o-row-pb-0 > * { padding-bottom:0; }
				.lg-o-row-py-0 > * { padding-top: 	0;	padding-bottom: 0; }
				.lg-o-row-px-0 > * { padding-left: 	0;	padding-right:  0; }

				.lg-o-row-b-0  > * { border:  		0; }	
				.lg-o-row-bt-0 > * { border-top: 	0; }
				.lg-o-row-bl-0 > * { border-left: 	0; }
				.lg-o-row-br-0 > * { border-right:  0; }
				.lg-o-row-bb-0 > * { border-bottom: 0; }
				.lg-o-row-by-0 > * { border-top: 	0;	border-bottom: 	0; }
				.lg-o-row-bx-0 > * { border-left: 	0;	border-right:  	0; }
			}

			/* xl | xl-only */
			@media (min-width: 1199.98px) {
				.xl-row-m-0    > * { margin:  		0; }
				.xl-row-mt-0   > * { margin-top: 	0; }
				.xl-row-ml-0   > * { margin-left: 	0; }
				.xl-row-mr-0   > * { margin-right:  0; }
				.xl-row-mb-0   > * { margin-bottom: 0; }
				.xl-row-my-0   > * { margin-top:	0;	margin-bottom: 	0; }
				.xl-row-mx-0   > * { margin-left: 	0;	margin-right:  	0; }

				.xl-row-p-0    > * { padding: 		0; }
				.xl-row-pt-0   > * { padding-top: 	0; }
				.xl-row-pl-0   > * { padding-left: 	0; }
				.xl-row-pr-0   > * { padding-right: 0; }
				.xl-row-pb-0   > * { padding-bottom:0; }
				.xl-row-py-0   > * { padding-top: 	0;	padding-bottom: 0; }
				.xl-row-px-0   > * { padding-left: 	0;	padding-right:  0; }

				.xl-row-b-0    > * { border:  		0; }	
				.xl-row-bt-0   > * { border-top: 	0; }
				.xl-row-bl-0   > * { border-left: 	0; }
				.xl-row-br-0   > * { border-right:  0; }
				.xl-row-bb-0   > * { border-bottom: 0; }
				.xl-row-by-0   > * { border-top: 	0;	border-bottom: 	0; }
				.xl-row-bx-0   > * { border-left: 	0;	border-right:  	0; }
			}

		/* Override Margins */
		/* -------------------------------------------- */

			/* All viewports */

				/* All */
					.row-m-xs        > * { margin:        7.5px; }
					.row-m-sm        > * { margin:         10px; }
					.row-m-md        > * { margin:         15px; }
					.row-m-lg        > * { margin:         30px; }
					.row-m-xl        > * { margin:         60px; }
				/* Margin-bottom */
					.row-mb-xs       > * { margin-bottom: 7.5px; }
					.row-mb-sm       > * { margin-bottom:  10px; }
					.row-mb-md       > * { margin-bottom:  15px; }
					.row-mb-lg       > * { margin-bottom:  30px; }
					.row-mb-xl       > * { margin-bottom:  60px; }
				/* Margin-top */
					.row-mt-xs       > * { margin-top:    7.5px; }
					.row-mt-sm       > * { margin-top:     10px; }
					.row-mt-md       > * { margin-top:     15px; }
					.row-mt-lg       > * { margin-top:     30px; }
					.row-mt-xl       > * { margin-top:     60px; }
				/* Margin-left */
					.row-ml-xs       > * { margin-left:   7.5px; }
					.row-ml-sm       > * { margin-left:    10px; }
					.row-ml-md       > * { margin-left:    15px; }
					.row-ml-lg       > * { margin-left:    30px; }
					.row-ml-xl       > * { margin-left:    60px; }
				/* Margin-right */
					.row-mr-xs       > * { margin-right:  7.5px; }
					.row-mr-sm       > * { margin-right:   10px; }
					.row-mr-md       > * { margin-right:   15px; }
					.row-mr-lg       > * { margin-right:   30px; }
					.row-mr-xl       > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.row-my-xs       > * { margin-top:    7.5px; margin-bottom:  7.5px; }
					.row-my-sm       > * { margin-top:     10px; margin-bottom:   10px; }
					.row-my-md       > * { margin-top:     15px; margin-bottom:   15px; }
					.row-my-lg       > * { margin-top:     30px; margin-bottom:   30px; }
					.row-my-xl       > * { margin-top:     60px; margin-bottom:   60px; }

				/* Horizontal - Left & Right */
					.row-mx-xs       > * { margin-left:   7.5px; margin-right:   7.5px; }
					.row-mx-sm       > * { margin-left:    10px; margin-right:    10px; }
					.row-mx-md       > * { margin-left:    15px; margin-right:    15px; }
					.row-mx-lg       > * { margin-left:    30px; margin-right:    30px; }
					.row-mx-xl       > * { margin-left:    60px; margin-right:    60px; }

			/* xs-only */
			@media (max-width: 575.98px) > * {

				/* All */
					.xs-o-row-m-xs   > * { margin:        7.5px; }
					.xs-o-row-m-sm   > * { margin:         10px; }
					.xs-o-row-m-md   > * { margin:         15px; }
					.xs-o-row-m-lg   > * { margin:         30px; }
					.xs-o-row-m-xl   > * { margin:         60px; }
				/* Margin-bottom */
					.xs-o-row-mb-xs  > * { margin-bottom: 7.5px; }
					.xs-o-row-mb-sm  > * { margin-bottom:  10px; }
					.xs-o-row-mb-md  > * { margin-bottom:  15px; }
					.xs-o-row-mb-lg  > * { margin-bottom:  30px; }
					.xs-o-row-mb-xl  > * { margin-bottom:  60px; }
				/* Margin-top */
					.xs-o-row-mt-xs  > * { margin-top:    7.5px; }
					.xs-o-row-mt-sm  > * { margin-top:     10px; }
					.xs-o-row-mt-md  > * { margin-top:     15px; }
					.xs-o-row-mt-lg  > * { margin-top:     30px; }
					.xs-o-row-mt-xl  > * { margin-top:     60px; }
				/* Margin-left */
					.xs-o-row-ml-xs  > * { margin-left:   7.5px; }
					.xs-o-row-ml-sm  > * { margin-left:    10px; }
					.xs-o-row-ml-md  > * { margin-left:    15px; }
					.xs-o-row-ml-lg  > * { margin-left:    30px; }
					.xs-o-row-ml-xl  > * { margin-left:    60px; }
				/* Margin-right */
					.xs-o-row-mr-xs  > * { margin-right:  7.5px; }
					.xs-o-row-mr-sm  > * { margin-right:   10px; }
					.xs-o-row-mr-md  > * { margin-right:   15px; }
					.xs-o-row-mr-lg  > * { margin-right:   30px; }
					.xs-o-row-mr-xl  > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.xs-o-row-my-xs  > * { margin-top:    7.5px;  margin-bottom:  7.5px; }
					.xs-o-row-my-sm  > * { margin-top:     10px;  margin-bottom:   10px; }
					.xs-o-row-my-md  > * { margin-top:     15px;  margin-bottom:   15px; }
					.xs-o-row-my-lg  > * { margin-top:     30px;  margin-bottom:   30px; }
					.xs-o-row-my-xl  > * { margin-top:     60px;  margin-bottom:   60px; }

				/* Horizontal - Left & Right */
					.xs-o-row-mx-xs  > * { margin-left:   7.5px;  margin-right:   7.5px; }
					.xs-o-row-mx-sm  > * { margin-left:    10px;  margin-right:    10px; }
					.xs-o-row-mx-md  > * { margin-left:    15px;  margin-right:    15px; }
					.xs-o-row-mx-lg  > * { margin-left:    30px;  margin-right:    30px; }
					.xs-o-row-mx-xl  > * { margin-left:    60px;  margin-right:    60px; }
			}

			/* sm */
			@media (min-width: 575.98px) {
				/* All */
					.sm-row-m-xs     > * { margin:        7.5px; }
					.sm-row-m-sm     > * { margin:         10px; }
					.sm-row-m-md     > * { margin:         15px; }
					.sm-row-m-lg     > * { margin:         30px; }
					.sm-row-m-xl     > * { margin:         60px; }
				/* Margin-bottom */
					.sm-row-mb-xs    > * { margin-bottom: 7.5px; }
					.sm-row-mb-sm    > * { margin-bottom:  10px; }
					.sm-row-mb-md    > * { margin-bottom:  15px; }
					.sm-row-mb-lg    > * { margin-bottom:  30px; }
					.sm-row-mb-xl    > * { margin-bottom:  60px; }
				/* Margin-top */
					.sm-row-mt-xs    > * { margin-top:    7.5px; }
					.sm-row-mt-sm    > * { margin-top:     10px; }
					.sm-row-mt-md    > * { margin-top:     15px; }
					.sm-row-mt-lg    > * { margin-top:     30px; }
					.sm-row-mt-xl    > * { margin-top:     60px; }
				/* Margin-left */
					.sm-row-ml-xs    > * { margin-left:   7.5px; }
					.sm-row-ml-sm    > * { margin-left:    10px; }
					.sm-row-ml-md    > * { margin-left:    15px; }
					.sm-row-ml-lg    > * { margin-left:    30px; }
					.sm-row-ml-xl    > * { margin-left:    60px; }
				/* Margin-right */
					.sm-row-mr-xs    > * { margin-right:  7.5px; }
					.sm-row-mr-sm    > * { margin-right:   10px; }
					.sm-row-mr-md    > * { margin-right:   15px; }
					.sm-row-mr-lg    > * { margin-right:   30px; }
					.sm-row-mr-xl    > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.sm-row-my-xs    > * { margin-top:    7.5px;  margin-bottom:  7.5px; }
					.sm-row-my-sm    > * { margin-top:     10px;  margin-bottom:   10px; }
					.sm-row-my-md    > * { margin-top:     15px;  margin-bottom:   15px; }
					.sm-row-my-lg    > * { margin-top:     30px;  margin-bottom:   30px; }
					.sm-row-my-xl    > * { margin-top:     60px;  margin-bottom:   60px; }

				/* Horizontal - Left & Right */
					.sm-row-mx-xs    > * { margin-left:   7.5px;  margin-right:   7.5px; }
					.sm-row-mx-sm    > * { margin-left:    10px;  margin-right:    10px; }
					.sm-row-mx-md    > * { margin-left:    15px;  margin-right:    15px; }
					.sm-row-mx-lg    > * { margin-left:    30px;  margin-right:    30px; }
					.sm-row-mx-xl    > * { margin-left:    60px;  margin-right:    60px; }
			}

			/* sm-only */
			@media (min-width: 575.98px) and (max-width: 767.98px) {

				/* All */
					.sm-o-row-m-xs  > * { margin:        7.5px; }
					.sm-o-row-m-sm  > * { margin:         10px; }
					.sm-o-row-m-md  > * { margin:         15px; }
					.sm-o-row-m-lg  > * { margin:         30px; }
					.sm-o-row-m-xl  > * { margin:         60px; }
				/* Margin-bottom */
					.sm-o-row-mb-xs > * { margin-bottom: 7.5px; }
					.sm-o-row-mb-sm > * { margin-bottom:  10px; }
					.sm-o-row-mb-md > * { margin-bottom:  15px; }
					.sm-o-row-mb-lg > * { margin-bottom:  30px; }
					.sm-o-row-mb-xl > * { margin-bottom:  60px; }
				/* Margin-top */
					.sm-o-row-mt-xs > * { margin-top:    7.5px; }
					.sm-o-row-mt-sm > * { margin-top:     10px; }
					.sm-o-row-mt-md > * { margin-top:     15px; }
					.sm-o-row-mt-lg > * { margin-top:     30px; }
					.sm-o-row-mt-xl > * { margin-top:     60px; }
				/* Margin-left */
					.sm-o-row-ml-xs > * { margin-left:   7.5px; }
					.sm-o-row-ml-sm > * { margin-left:    10px; }
					.sm-o-row-ml-md > * { margin-left:    15px; }
					.sm-o-row-ml-lg > * { margin-left:    30px; }
					.sm-o-row-ml-xl > * { margin-left:    60px; }
				/* Margin-right */
					.sm-o-row-mr-xs > * { margin-right:  7.5px; }
					.sm-o-row-mr-sm > * { margin-right:   10px; }
					.sm-o-row-mr-md > * { margin-right:   15px; }
					.sm-o-row-mr-lg > * { margin-right:   30px; }
					.sm-o-row-mr-xl > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.sm-o-row-my-xs > * { margin-top:    7.5px;  margin-bottom:  7.5px; }
					.sm-o-row-my-sm > * { margin-top:     10px;  margin-bottom:   10px; }
					.sm-o-row-my-md > * { margin-top:     15px;  margin-bottom:   15px; }
					.sm-o-row-my-lg > * { margin-top:     30px;  margin-bottom:   30px; }
					.sm-o-row-my-xl > * { margin-top:     60px;  margin-bottom:   60px; }

				/* Horizontal - Left & Right */
					.sm-o-row-mx-xs > * { margin-left:   7.5px;  margin-right:   7.5px; }
					.sm-o-row-mx-sm > * { margin-left:    10px;  margin-right:    10px; }
					.sm-o-row-mx-md > * { margin-left:    15px;  margin-right:    15px; }
					.sm-o-row-mx-lg > * { margin-left:    30px;  margin-right:    30px; }
					.sm-o-row-mx-xl > * { margin-left:    60px;  margin-right:    60px; }
			}

			/* md */
			@media (min-width: 767.98px) {
				/* All */
					.md-row-m-xs    > * { margin:        7.5px; }
					.md-row-m-sm    > * { margin:         10px; }
					.md-row-m-md    > * { margin:         15px; }
					.md-row-m-lg    > * { margin:         30px; }
					.md-row-m-xl    > * { margin:         60px; }
				/* Margin-bottom */
					.md-row-mb-xs   > * { margin-bottom: 7.5px; }
					.md-row-mb-sm   > * { margin-bottom:  10px; }
					.md-row-mb-md   > * { margin-bottom:  15px; }
					.md-row-mb-lg   > * { margin-bottom:  30px; }
					.md-row-mb-xl   > * { margin-bottom:  60px; }
				/* Margin-top */
					.md-row-mt-xs   > * { margin-top:    7.5px; }
					.md-row-mt-sm   > * { margin-top:     10px; }
					.md-row-mt-md   > * { margin-top:     15px; }
					.md-row-mt-lg   > * { margin-top:     30px; }
					.md-row-mt-xl   > * { margin-top:     60px; }
				/* Margin-left */
					.md-row-ml-xs   > * { margin-left:   7.5px; }
					.md-row-ml-sm   > * { margin-left:    10px; }
					.md-row-ml-md   > * { margin-left:    15px; }
					.md-row-ml-lg   > * { margin-left:    30px; }
					.md-row-ml-xl   > * { margin-left:    60px; }
				/* Margin-right */
					.md-row-mr-xs   > * { margin-right:  7.5px; }
					.md-row-mr-sm   > * { margin-right:   10px; }
					.md-row-mr-md   > * { margin-right:   15px; }
					.md-row-mr-lg   > * { margin-right:   30px; }
					.md-row-mr-xl   > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.md-row-my-xs   > * { margin-top:    7.5px;  margin-bottom:  7.5px; }
					.md-row-my-sm   > * { margin-top:     10px;  margin-bottom:   10px; }
					.md-row-my-md   > * { margin-top:     15px;  margin-bottom:   15px; }
					.md-row-my-lg   > * { margin-top:     30px;  margin-bottom:   30px; }
					.md-row-my-xl   > * { margin-top:     60px;  margin-bottom:   60px; }

				/* Horizontal - Left & Right */
					.md-row-mx-xs   > * { margin-left:   7.5px;  margin-right:   7.5px; }
					.md-row-mx-sm   > * { margin-left:    10px;  margin-right:    10px; }
					.md-row-mx-md   > * { margin-left:    15px;  margin-right:    15px; }
					.md-row-mx-lg   > * { margin-left:    30px;  margin-right:    30px; }
					.md-row-mx-xl   > * { margin-left:    60px;  margin-right:    60px; }
			}

			/* md-only */
			@media (min-width: 767.98px) and (max-width: 991.98px) {

				/* All */
					.md-o-row-m-xs  > * { margin:        7.5px; }
					.md-o-row-m-sm  > * { margin:         10px; }
					.md-o-row-m-md  > * { margin:         15px; }
					.md-o-row-m-lg  > * { margin:         30px; }
					.md-o-row-m-xl  > * { margin:         60px; }
				/* Margin-bottom */
					.md-o-row-mb-xs > * { margin-bottom: 7.5px; }
					.md-o-row-mb-sm > * { margin-bottom:  10px; }
					.md-o-row-mb-md > * { margin-bottom:  15px; }
					.md-o-row-mb-lg > * { margin-bottom:  30px; }
					.md-o-row-mb-xl > * { margin-bottom:  60px; }
				/* Margin-top */
					.md-o-row-mt-xs > * { margin-top:    7.5px; }
					.md-o-row-mt-sm > * { margin-top:     10px; }
					.md-o-row-mt-md > * { margin-top:     15px; }
					.md-o-row-mt-lg > * { margin-top:     30px; }
					.md-o-row-mt-xl > * { margin-top:     60px; }
				/* Margin-left */
					.md-o-row-ml-xs > * { margin-left:   7.5px; }
					.md-o-row-ml-sm > * { margin-left:    10px; }
					.md-o-row-ml-md > * { margin-left:    15px; }
					.md-o-row-ml-lg > * { margin-left:    30px; }
					.md-o-row-ml-xl > * { margin-left:    60px; }
				/* Margin-right */
					.md-o-row-mr-xs > * { margin-right:  7.5px; }
					.md-o-row-mr-sm > * { margin-right:   10px; }
					.md-o-row-mr-md > * { margin-right:   15px; }
					.md-o-row-mr-lg > * { margin-right:   30px; }
					.md-o-row-mr-xl > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.md-o-row-my-xs > * { margin-top:    7.5px;  margin-bottom:  7.5px; }
					.md-o-row-my-sm > * { margin-top:     10px;  margin-bottom:   10px; }
					.md-o-row-my-md > * { margin-top:     15px;  margin-bottom:   15px; }
					.md-o-row-my-lg > * { margin-top:     30px;  margin-bottom:   30px; }
					.md-o-row-my-xl > * { margin-top:     60px;  margin-bottom:   60px; }

				/* Horizontal - Left & Right */
					.md-o-row-mx-xs > * { margin-left:   7.5px;  margin-right:   7.5px; }
					.md-o-row-mx-sm > * { margin-left:    10px;  margin-right:    10px; }
					.md-o-row-mx-md > * { margin-left:    15px;  margin-right:    15px; }
					.md-o-row-mx-lg > * { margin-left:    30px;  margin-right:    30px; }
					.md-o-row-mx-xl > * { margin-left:    60px;  margin-right:    60px; }
			}

			/* lg */
			@media (min-width: 991.98px) {

				/* All */
					.lg-row-m-xs    > * { margin:        7.5px; }
					.lg-row-m-sm    > * { margin:         10px; }
					.lg-row-m-md    > * { margin:         15px; }
					.lg-row-m-lg    > * { margin:         30px; }
					.lg-row-m-xl    > * { margin:         60px; }
				/* Margin-bottom */
					.lg-row-mb-xs   > * { margin-bottom: 7.5px; }
					.lg-row-mb-sm   > * { margin-bottom:  10px; }
					.lg-row-mb-md   > * { margin-bottom:  15px; }
					.lg-row-mb-lg   > * { margin-bottom:  30px; }
					.lg-row-mb-xl   > * { margin-bottom:  60px; }
				/* Margin-top */
					.lg-row-mt-xs   > * { margin-top:    7.5px; }
					.lg-row-mt-sm   > * { margin-top:     10px; }
					.lg-row-mt-md   > * { margin-top:     15px; }
					.lg-row-mt-lg   > * { margin-top:     30px; }
					.lg-row-mt-xl   > * { margin-top:     60px; }
				/* Margin-left */
					.lg-row-ml-xs   > * { margin-left:   7.5px; }
					.lg-row-ml-sm   > * { margin-left:    10px; }
					.lg-row-ml-md   > * { margin-left:    15px; }
					.lg-row-ml-lg   > * { margin-left:    30px; }
					.lg-row-ml-xl   > * { margin-left:    60px; }
				/* Margin-right */
					.lg-row-mr-xs   > * { margin-right:  7.5px; }
					.lg-row-mr-sm   > * { margin-right:   10px; }
					.lg-row-mr-md   > * { margin-right:   15px; }
					.lg-row-mr-lg   > * { margin-right:   30px; }
					.lg-row-mr-xl   > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.lg-row-my-xs   > * { margin-top:    7.5px;  margin-bottom:   7.5px; }
					.lg-row-my-sm   > * { margin-top:     10px;  margin-bottom:    10px; }
					.lg-row-my-md   > * { margin-top:     15px;  margin-bottom:    15px; }
					.lg-row-my-lg   > * { margin-top:     30px;  margin-bottom:    30px; }
					.lg-row-my-xl   > * { margin-top:     60px;  margin-bottom:    60px; }

				/* Horizontal - Left & Right */
					.lg-row-mx-xs   > * { margin-left:   7.5px;  margin-right:    7.5px; }
					.lg-row-mx-sm   > * { margin-left:    10px;  margin-right:     10px; }
					.lg-row-mx-md   > * { margin-left:    15px;  margin-right:     15px; }
					.lg-row-mx-lg   > * { margin-left:    30px;  margin-right:     30px; }
					.lg-row-mx-xl   > * { margin-left:    60px;  margin-right:     60px; }
			}

			/* lg-only */
			@media (min-width: 991.98px) and (max-width: 1199.98px) {

				/* All */
					.lg-o-row-m-xs  > * { margin:        7.5px; }
					.lg-o-row-m-sm  > * { margin:         10px; }
					.lg-o-row-m-md  > * { margin:         15px; }
					.lg-o-row-m-lg  > * { margin:         30px; }
					.lg-o-row-m-xl  > * { margin:         60px; }
				/* Margin-bottom */
					.lg-o-row-mb-xs > * { margin-bottom: 7.5px; }
					.lg-o-row-mb-sm > * { margin-bottom:  10px; }
					.lg-o-row-mb-md > * { margin-bottom:  15px; }
					.lg-o-row-mb-lg > * { margin-bottom:  30px; }
					.lg-o-row-mb-xl > * { margin-bottom:  60px; }
				/* Margin-top */
					.lg-o-row-mt-xs > * { margin-top:    7.5px; }
					.lg-o-row-mt-sm > * { margin-top:     10px; }
					.lg-o-row-mt-md > * { margin-top:     15px; }
					.lg-o-row-mt-lg > * { margin-top:     30px; }
					.lg-o-row-mt-xl > * { margin-top:     60px; }
				/* Margin-left */
					.lg-o-row-ml-xs > * { margin-left:   7.5px; }
					.lg-o-row-ml-sm > * { margin-left:    10px; }
					.lg-o-row-ml-md > * { margin-left:    15px; }
					.lg-o-row-ml-lg > * { margin-left:    30px; }
					.lg-o-row-ml-xl > * { margin-left:    60px; }
				/* Margin-right */
					.lg-o-row-mr-xs > * { margin-right:  7.5px; }
					.lg-o-row-mr-sm > * { margin-right:   10px; }
					.lg-o-row-mr-md > * { margin-right:   15px; }
					.lg-o-row-mr-lg > * { margin-right:   30px; }
					.lg-o-row-mr-xl > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.lg-o-row-my-xs > * { margin-top:    7.5px;  margin-bottom:   7.5px; }
					.lg-o-row-my-sm > * { margin-top:     10px;  margin-bottom:    10px; }
					.lg-o-row-my-md > * { margin-top:     15px;  margin-bottom:    15px; }
					.lg-o-row-my-lg > * { margin-top:     30px;  margin-bottom:    30px; }
					.lg-o-row-my-xl > * { margin-top:     60px;  margin-bottom:    60px; }

				/* Horizontal - Left & Right */
					.lg-o-row-mx-xs > * { margin-left:   7.5px;  margin-right:    7.5px; }
					.lg-o-row-mx-sm > * { margin-left:    10px;  margin-right:     10px; }
					.lg-o-row-mx-md > * { margin-left:    15px;  margin-right:     15px; }
					.lg-o-row-mx-lg > * { margin-left:    30px;  margin-right:     30px; }
					.lg-o-row-mx-xl > * { margin-left:    60px;  margin-right:     60px; }
			}

			/* xl */
			@media (min-width: 1199.98px) {

				/* All */
					.xl-row-m-xs    > * { margin:        7.5px; }
					.xl-row-m-sm    > * { margin:         10px; }
					.xl-row-m-md    > * { margin:         15px; }
					.xl-row-m-lg    > * { margin:         30px; }
					.xl-row-m-xl    > * { margin:         60px; }
				/* Margin-bottom */
					.xl-row-mb-xs   > * { margin-bottom: 7.5px; }
					.xl-row-mb-sm   > * { margin-bottom:  10px; }
					.xl-row-mb-md   > * { margin-bottom:  15px; }
					.xl-row-mb-lg   > * { margin-bottom:  30px; }
					.xl-row-mb-xl   > * { margin-bottom:  60px; }
				/* Margin-top */
					.xl-row-mt-xs   > * { margin-top:    7.5px; }
					.xl-row-mt-sm   > * { margin-top:     10px; }
					.xl-row-mt-md   > * { margin-top:     15px; }
					.xl-row-mt-lg   > * { margin-top:     30px; }
					.xl-row-mt-xl   > * { margin-top:     60px; }
				/* Margin-left */
					.xl-row-ml-xs   > * { margin-left:   7.5px; }
					.xl-row-ml-sm   > * { margin-left:    10px; }
					.xl-row-ml-md   > * { margin-left:    15px; }
					.xl-row-ml-lg   > * { margin-left:    30px; }
					.xl-row-ml-xl   > * { margin-left:    60px; }
				/* Margin-right */
					.xl-row-mr-xs   > * { margin-right:  7.5px; }
					.xl-row-mr-sm   > * { margin-right:   10px; }
					.xl-row-mr-md   > * { margin-right:   15px; }
					.xl-row-mr-lg   > * { margin-right:   30px; }
					.xl-row-mr-xl   > * { margin-right:   60px; }

				/* Vertical - Top & Bottom */
					.xl-row-my-xs   > * { margin-top:    7.5px;  margin-bottom:   7.5px; }
					.xl-row-my-sm   > * { margin-top:     10px;  margin-bottom:    10px; }
					.xl-row-my-md   > * { margin-top:     15px;  margin-bottom:    15px; }
					.xl-row-my-lg   > * { margin-top:     30px;  margin-bottom:    30px; }
					.xl-row-my-xl   > * { margin-top:     60px;  margin-bottom:    60px; }

				/* Horizontal - Left & Right */
					.xl-row-mx-xs   > * { margin-left:   7.5px;  margin-right:    7.5px; }
					.xl-row-mx-sm   > * { margin-left:    10px;  margin-right:     10px; }
					.xl-row-mx-md   > * { margin-left:    15px;  margin-right:     15px; }
					.xl-row-mx-lg   > * { margin-left:    30px;  margin-right:     30px; }
					.xl-row-mx-xl   > * { margin-left:    60px;  margin-right:     60px; }
			}

		/* Override Paddings */
		/* -------------------------------------------- */

			/* All viewports */

				/* All */
					.row-p-xs       > * { padding:        7.5px; }
					.row-p-sm       > * { padding:         10px; }
					.row-p-md       > * { padding:         15px; }
					.row-p-lg       > * { padding:         30px; }
					.row-p-xl       > * { padding:         60px; }
				/* padding-bottom */
					.row-pb-xs      > * { padding-bottom: 7.5px; }
					.row-pb-sm      > * { padding-bottom:  10px; }
					.row-pb-md      > * { padding-bottom:  15px; }
					.row-pb-lg      > * { padding-bottom:  30px; }
					.row-pb-xl      > * { padding-bottom:  60px; }
				/* padding-top */
					.row-pt-xs      > * { padding-top:    7.5px; }
					.row-pt-sm      > * { padding-top:     10px; }
					.row-pt-md      > * { padding-top:     15px; }
					.row-pt-lg      > * { padding-top:     30px; }
					.row-pt-xl      > * { padding-top:     60px; }
				/* padding-left */
					.row-pl-xs      > * { padding-left:   7.5px; }
					.row-pl-sm      > * { padding-left:    10px; }
					.row-pl-md      > * { padding-left:    15px; }
					.row-pl-lg      > * { padding-left:    30px; }
					.row-pl-xl      > * { padding-left:    60px; }
				/* padding-right */
					.row-pr-xs      > * { padding-right:  7.5px; }
					.row-pr-sm      > * { padding-right:   10px; }
					.row-pr-md      > * { padding-right:   15px; }
					.row-pr-lg      > * { padding-right:   30px; }
					.row-pr-xl      > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.row-py-xs      > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.row-py-sm      > * { padding-top:     10px;  padding-bottom:  10px; }
					.row-py-md      > * { padding-top:     15px;  padding-bottom:  15px; }
					.row-py-lg      > * { padding-top:     30px;  padding-bottom:  30px; }
					.row-py-xl      > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.row-px-xs      > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.row-px-sm      > * { padding-left:    10px;  padding-right:   10px; }
					.row-px-md      > * { padding-left:    15px;  padding-right:   15px; }
					.row-px-lg      > * { padding-left:    30px;  padding-right:   30px; }
					.row-px-xl      > * { padding-left:    60px;  padding-right:   60px; }

			/* xs-only */
			@media (max-width: 575.98px) {

				/* All */
					.xs-o-row-p-xs  > * { padding:        7.5px; }
					.xs-o-row-p-sm  > * { padding:         10px; }
					.xs-o-row-p-md  > * { padding:         15px; }
					.xs-o-row-p-lg  > * { padding:         30px; }
					.xs-o-row-p-xl  > * { padding:         60px; }
				/* padding-bottom */
					.xs-o-row-pb-xs > * { padding-bottom: 7.5px; }
					.xs-o-row-pb-sm > * { padding-bottom:  10px; }
					.xs-o-row-pb-md > * { padding-bottom:  15px; }
					.xs-o-row-pb-lg > * { padding-bottom:  30px; }
					.xs-o-row-pb-xl > * { padding-bottom:  60px; }
				/* padding-top */
					.xs-o-row-pt-xs > * { padding-top:    7.5px; }
					.xs-o-row-pt-sm > * { padding-top:     10px; }
					.xs-o-row-pt-md > * { padding-top:     15px; }
					.xs-o-row-pt-lg > * { padding-top:     30px; }
					.xs-o-row-pt-xl > * { padding-top:     60px; }
				/* padding-left */
					.xs-o-row-pl-xs > * { padding-left:   7.5px; }
					.xs-o-row-pl-sm > * { padding-left:    10px; }
					.xs-o-row-pl-md > * { padding-left:    15px; }
					.xs-o-row-pl-lg > * { padding-left:    30px; }
					.xs-o-row-pl-xl > * { padding-left:    60px; }
				/* padding-right */
					.xs-o-row-pr-xs > * { padding-right:  7.5px; }
					.xs-o-row-pr-sm > * { padding-right:   10px; }
					.xs-o-row-pr-md > * { padding-right:   15px; }
					.xs-o-row-pr-lg > * { padding-right:   30px; }
					.xs-o-row-pr-xl > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.xs-o-row-py-xs > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.xs-o-row-py-sm > * { padding-top:     10px;  padding-bottom:  10px; }
					.xs-o-row-py-md > * { padding-top:     15px;  padding-bottom:  15px; }
					.xs-o-row-py-lg > * { padding-top:     30px;  padding-bottom:  30px; }
					.xs-o-row-py-xl > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.xs-o-row-px-xs > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.xs-o-row-px-sm > * { padding-left:    10px;  padding-right:   10px; }
					.xs-o-row-px-md > * { padding-left:    15px;  padding-right:   15px; }
					.xs-o-row-px-lg > * { padding-left:    30px;  padding-right:   30px; }
					.xs-o-row-px-xl > * { padding-left:    60px;  padding-right:   60px; }
			}

			/* sm */
			@media (min-width: 575.98px) {
				/* All */
					.sm-row-p-xs    > * { padding:        7.5px; }
					.sm-row-p-sm    > * { padding:         10px; }
					.sm-row-p-md    > * { padding:         15px; }
					.sm-row-p-lg    > * { padding:         30px; }
					.sm-row-p-xl    > * { padding:         60px; }
				/* padding-bottom */
					.sm-row-pb-xs   > * { padding-bottom: 7.5px; }
					.sm-row-pb-sm   > * { padding-bottom:  10px; }
					.sm-row-pb-md   > * { padding-bottom:  15px; }
					.sm-row-pb-lg   > * { padding-bottom:  30px; }
					.sm-row-pb-xl   > * { padding-bottom:  60px; }
				/* padding-top */
					.sm-row-pt-xs   > * { padding-top:    7.5px; }
					.sm-row-pt-sm   > * { padding-top:     10px; }
					.sm-row-pt-md   > * { padding-top:     15px; }
					.sm-row-pt-lg   > * { padding-top:     30px; }
					.sm-row-pt-xl   > * { padding-top:     60px; }
				/* padding-left */
					.sm-row-pl-xs   > * { padding-left:   7.5px; }
					.sm-row-pl-sm   > * { padding-left:    10px; }
					.sm-row-pl-md   > * { padding-left:    15px; }
					.sm-row-pl-lg   > * { padding-left:    30px; }
					.sm-row-pl-xl   > * { padding-left:    60px; }
				/* padding-right */
					.sm-row-pr-xs   > * { padding-right:  7.5px; }
					.sm-row-pr-sm   > * { padding-right:   10px; }
					.sm-row-pr-md   > * { padding-right:   15px; }
					.sm-row-pr-lg   > * { padding-right:   30px; }
					.sm-row-pr-xl   > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.sm-row-py-xs   > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.sm-row-py-sm   > * { padding-top:     10px;  padding-bottom:  10px; }
					.sm-row-py-md   > * { padding-top:     15px;  padding-bottom:  15px; }
					.sm-row-py-lg   > * { padding-top:     30px;  padding-bottom:  30px; }
					.sm-row-py-xl   > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.sm-row-px-xs   > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.sm-row-px-sm   > * { padding-left:    10px;  padding-right:   10px; }
					.sm-row-px-md   > * { padding-left:    15px;  padding-right:   15px; }
					.sm-row-px-lg   > * { padding-left:    30px;  padding-right:   30px; }
					.sm-row-px-xl   > * { padding-left:    60px;  padding-right:   60px; }
			}

			/* sm-only */
			@media (min-width: 575.98px) and (max-width: 767.98px) {

				/* All */
					.sm-o-row-p-xs  > * { padding:        7.5px; }
					.sm-o-row-p-sm  > * { padding:         10px; }
					.sm-o-row-p-md  > * { padding:         15px; }
					.sm-o-row-p-lg  > * { padding:         30px; }
					.sm-o-row-p-xl  > * { padding:         60px; }
				/* padding-bottom */
					.sm-o-row-pb-xs > * { padding-bottom: 7.5px; }
					.sm-o-row-pb-sm > * { padding-bottom:  10px; }
					.sm-o-row-pb-md > * { padding-bottom:  15px; }
					.sm-o-row-pb-lg > * { padding-bottom:  30px; }
					.sm-o-row-pb-xl > * { padding-bottom:  60px; }
				/* padding-top */
					.sm-o-row-pt-xs > * { padding-top:    7.5px; }
					.sm-o-row-pt-sm > * { padding-top:     10px; }
					.sm-o-row-pt-md > * { padding-top:     15px; }
					.sm-o-row-pt-lg > * { padding-top:     30px; }
					.sm-o-row-pt-xl > * { padding-top:     60px; }
				/* padding-left */
					.sm-o-row-pl-xs > * { padding-left:   7.5px; }
					.sm-o-row-pl-sm > * { padding-left:    10px; }
					.sm-o-row-pl-md > * { padding-left:    15px; }
					.sm-o-row-pl-lg > * { padding-left:    30px; }
					.sm-o-row-pl-xl > * { padding-left:    60px; }
				/* padding-right */
					.sm-o-row-pr-xs > * { padding-right:  7.5px; }
					.sm-o-row-pr-sm > * { padding-right:   10px; }
					.sm-o-row-pr-md > * { padding-right:   15px; }
					.sm-o-row-pr-lg > * { padding-right:   30px; }
					.sm-o-row-pr-xl > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.sm-o-row-py-xs > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.sm-o-row-py-sm > * { padding-top:     10px;  padding-bottom:  10px; }
					.sm-o-row-py-md > * { padding-top:     15px;  padding-bottom:  15px; }
					.sm-o-row-py-lg > * { padding-top:     30px;  padding-bottom:  30px; }
					.sm-o-row-py-xl > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.sm-o-row-px-xs > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.sm-o-row-px-sm > * { padding-left:    10px;  padding-right:   10px; }
					.sm-o-row-px-md > * { padding-left:    15px;  padding-right:   15px; }
					.sm-o-row-px-lg > * { padding-left:    30px;  padding-right:   30px; }
					.sm-o-row-px-xl > * { padding-left:    60px;  padding-right:   60px; }
			}

			/* md */
			@media (min-width: 767.98px) {
				/* All */
					.md-row-p-xs    > * { padding:        7.5px; }
					.md-row-p-sm    > * { padding:         10px; }
					.md-row-p-md    > * { padding:         15px; }
					.md-row-p-lg    > * { padding:         30px; }
					.md-row-p-xl    > * { padding:         60px; }
				/* padding-bottom */
					.md-row-pb-xs   > * { padding-bottom: 7.5px; }
					.md-row-pb-sm   > * { padding-bottom:  10px; }
					.md-row-pb-md   > * { padding-bottom:  15px; }
					.md-row-pb-lg   > * { padding-bottom:  30px; }
					.md-row-pb-xl   > * { padding-bottom:  60px; }
				/* padding-top */
					.md-row-pt-xs   > * { padding-top:    7.5px; }
					.md-row-pt-sm   > * { padding-top:     10px; }
					.md-row-pt-md   > * { padding-top:     15px; }
					.md-row-pt-lg   > * { padding-top:     30px; }
					.md-row-pt-xl   > * { padding-top:     60px; }
				/* padding-left */
					.md-row-pl-xs   > * { padding-left:   7.5px; }
					.md-row-pl-sm   > * { padding-left:    10px; }
					.md-row-pl-md   > * { padding-left:    15px; }
					.md-row-pl-lg   > * { padding-left:    30px; }
					.md-row-pl-xl   > * { padding-left:    60px; }
				/* padding-right */
					.md-row-pr-xs   > * { padding-right:  7.5px; }
					.md-row-pr-sm   > * { padding-right:   10px; }
					.md-row-pr-md   > * { padding-right:   15px; }
					.md-row-pr-lg   > * { padding-right:   30px; }
					.md-row-pr-xl   > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.md-row-py-xs   > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.md-row-py-sm   > * { padding-top:     10px;  padding-bottom:  10px; }
					.md-row-py-md   > * { padding-top:     15px;  padding-bottom:  15px; }
					.md-row-py-lg   > * { padding-top:     30px;  padding-bottom:  30px; }
					.md-row-py-xl   > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.md-row-px-xs   > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.md-row-px-sm   > * { padding-left:    10px;  padding-right:   10px; }
					.md-row-px-md   > * { padding-left:    15px;  padding-right:   15px; }
					.md-row-px-lg   > * { padding-left:    30px;  padding-right:   30px; }
					.md-row-px-xl   > * { padding-left:    60px;  padding-right:   60px; }
			}

			/* md-only */
			@media (min-width: 767.98px) and (max-width: 991.98px) {

				/* All */
					.md-o-row-p-xs  > * { padding:        7.5px; }
					.md-o-row-p-sm  > * { padding:         10px; }
					.md-o-row-p-md  > * { padding:         15px; }
					.md-o-row-p-lg  > * { padding:         30px; }
					.md-o-row-p-xl  > * { padding:         60px; }
				/* padding-bottom */
					.md-o-row-pb-xs > * { padding-bottom: 7.5px; }
					.md-o-row-pb-sm > * { padding-bottom:  10px; }
					.md-o-row-pb-md > * { padding-bottom:  15px; }
					.md-o-row-pb-lg > * { padding-bottom:  30px; }
					.md-o-row-pb-xl > * { padding-bottom:  60px; }
				/* padding-top */
					.md-o-row-pt-xs > * { padding-top:    7.5px; }
					.md-o-row-pt-sm > * { padding-top:     10px; }
					.md-o-row-pt-md > * { padding-top:     15px; }
					.md-o-row-pt-lg > * { padding-top:     30px; }
					.md-o-row-pt-xl > * { padding-top:     60px; }
				/* padding-left */
					.md-o-row-pl-xs > * { padding-left:   7.5px; }
					.md-o-row-pl-sm > * { padding-left:    10px; }
					.md-o-row-pl-md > * { padding-left:    15px; }
					.md-o-row-pl-lg > * { padding-left:    30px; }
					.md-o-row-pl-xl > * { padding-left:    60px; }
				/* padding-right */
					.md-o-row-pr-xs > * { padding-right:  7.5px; }
					.md-o-row-pr-sm > * { padding-right:   10px; }
					.md-o-row-pr-md > * { padding-right:   15px; }
					.md-o-row-pr-lg > * { padding-right:   30px; }
					.md-o-row-pr-xl > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.md-o-row-py-xs > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.md-o-row-py-sm > * { padding-top:     10px;  padding-bottom:  10px; }
					.md-o-row-py-md > * { padding-top:     15px;  padding-bottom:  15px; }
					.md-o-row-py-lg > * { padding-top:     30px;  padding-bottom:  30px; }
					.md-o-row-py-xl > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.md-o-row-px-xs > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.md-o-row-px-sm > * { padding-left:    10px;  padding-right:   10px; }
					.md-o-row-px-md > * { padding-left:    15px;  padding-right:   15px; }
					.md-o-row-px-lg > * { padding-left:    30px;  padding-right:   30px; }
					.md-o-row-px-xl > * { padding-left:    60px;  padding-right:   60px; }
			}

			/* lg */
			@media (min-width: 991.98px) {

				/* All */
					.lg-row-p-xs    > * { padding:        7.5px; }
					.lg-row-p-sm    > * { padding:         10px; }
					.lg-row-p-md    > * { padding:         15px; }
					.lg-row-p-lg    > * { padding:         30px; }
					.lg-row-p-xl    > * { padding:         60px; }
				/* padding-bottom */
					.lg-row-pb-xs   > * { padding-bottom: 7.5px; }
					.lg-row-pb-sm   > * { padding-bottom:  10px; }
					.lg-row-pb-md   > * { padding-bottom:  15px; }
					.lg-row-pb-lg   > * { padding-bottom:  30px; }
					.lg-row-pb-xl   > * { padding-bottom:  60px; }
				/* padding-top */
					.lg-row-pt-xs   > * { padding-top:    7.5px; }
					.lg-row-pt-sm   > * { padding-top:     10px; }
					.lg-row-pt-md   > * { padding-top:     15px; }
					.lg-row-pt-lg   > * { padding-top:     30px; }
					.lg-row-pt-xl   > * { padding-top:     60px; }
				/* padding-left */
					.lg-row-pl-xs   > * { padding-left:   7.5px; }
					.lg-row-pl-sm   > * { padding-left:    10px; }
					.lg-row-pl-md   > * { padding-left:    15px; }
					.lg-row-pl-lg   > * { padding-left:    30px; }
					.lg-row-pl-xl   > * { padding-left:    60px; }
				/* padding-right */
					.lg-row-pr-xs   > * { padding-right:  7.5px; }
					.lg-row-pr-sm   > * { padding-right:   10px; }
					.lg-row-pr-md   > * { padding-right:   15px; }
					.lg-row-pr-lg   > * { padding-right:   30px; }
					.lg-row-pr-xl   > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.lg-row-py-xs   > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.lg-row-py-sm   > * { padding-top:     10px;  padding-bottom:  10px; }
					.lg-row-py-md   > * { padding-top:     15px;  padding-bottom:  15px; }
					.lg-row-py-lg   > * { padding-top:     30px;  padding-bottom:  30px; }
					.lg-row-py-xl   > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.lg-row-px-xs   > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.lg-row-px-sm   > * { padding-left:    10px;  padding-right:   10px; }
					.lg-row-px-md   > * { padding-left:    15px;  padding-right:   15px; }
					.lg-row-px-lg   > * { padding-left:    30px;  padding-right:   30px; }
					.lg-row-px-xl   > * { padding-left:    60px;  padding-right:   60px; }
			}

			/* lg-only */
			@media (min-width: 991.98px) and (max-width: 1199.98px) {

				/* All */
					.lg-o-row-p-xs  > * { padding:        7.5px; }
					.lg-o-row-p-sm  > * { padding:         10px; }
					.lg-o-row-p-md  > * { padding:         15px; }
					.lg-o-row-p-lg  > * { padding:         30px; }
					.lg-o-row-p-xl  > * { padding:         60px; }
				/* Margin-bottom */
					.lg-o-row-pb-xs > * { padding-bottom: 7.5px; }
					.lg-o-row-pb-sm > * { padding-bottom:  10px; }
					.lg-o-row-pb-md > * { padding-bottom:  15px; }
					.lg-o-row-pb-lg > * { padding-bottom:  30px; }
					.lg-o-row-pb-xl > * { padding-bottom:  60px; }
				/* padding-top */
					.lg-o-row-pt-xs > * { padding-top:    7.5px; }
					.lg-o-row-pt-sm > * { padding-top:     10px; }
					.lg-o-row-pt-md > * { padding-top:     15px; }
					.lg-o-row-pt-lg > * { padding-top:     30px; }
					.lg-o-row-pt-xl > * { padding-top:     60px; }
				/* padding-left */
					.lg-o-row-pl-xs > * { padding-left:   7.5px; }
					.lg-o-row-pl-sm > * { padding-left:    10px; }
					.lg-o-row-pl-md > * { padding-left:    15px; }
					.lg-o-row-pl-lg > * { padding-left:    30px; }
					.lg-o-row-pl-xl > * { padding-left:    60px; }
				/* padding-right */
					.lg-o-row-pr-xs > * { padding-right:  7.5px; }
					.lg-o-row-pr-sm > * { padding-right:   10px; }
					.lg-o-row-pr-md > * { padding-right:   15px; }
					.lg-o-row-pr-lg > * { padding-right:   30px; }
					.lg-o-row-pr-xl > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.lg-o-row-py-xs > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.lg-o-row-py-sm > * { padding-top:     10px;  padding-bottom:  10px; }
					.lg-o-row-py-md > * { padding-top:     15px;  padding-bottom:  15px; }
					.lg-o-row-py-lg > * { padding-top:     30px;  padding-bottom:  30px; }
					.lg-o-row-py-xl > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.lg-o-row-px-xs > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.lg-o-row-px-sm > * { padding-left:    10px;  padding-right:   10px; }
					.lg-o-row-px-md > * { padding-left:    15px;  padding-right:   15px; }
					.lg-o-row-px-lg > * { padding-left:    30px;  padding-right:   30px; }
					.lg-o-row-px-xl > * { padding-left:    60px;  padding-right:   60px; }
			}

			/* xl */
			@media (min-width: 1199.98px) {

				/* All */
					.xl-row-p-xs    > * { padding:        7.5px; }
					.xl-row-p-sm    > * { padding:         10px; }
					.xl-row-p-md    > * { padding:         15px; }
					.xl-row-p-lg    > * { padding:         30px; }
					.xl-row-p-xl    > * { padding:         60px; }
				/* padding-bottom */
					.xl-row-pb-xs   > * { padding-bottom: 7.5px; }
					.xl-row-pb-sm   > * { padding-bottom:  10px; }
					.xl-row-pb-md   > * { padding-bottom:  15px; }
					.xl-row-pb-lg   > * { padding-bottom:  30px; }
					.xl-row-pb-xl   > * { padding-bottom:  60px; }
				/* padding-top */
					.xl-row-pt-xs   > * { padding-top:    7.5px; }
					.xl-row-pt-sm   > * { padding-top:     10px; }
					.xl-row-pt-md   > * { padding-top:     15px; }
					.xl-row-pt-lg   > * { padding-top:     30px; }
					.xl-row-pt-xl   > * { padding-top:     60px; }
				/* padding-left */
					.xl-row-pl-xs   > * { padding-left:   7.5px; }
					.xl-row-pl-sm   > * { padding-left:    10px; }
					.xl-row-pl-md   > * { padding-left:    15px; }
					.xl-row-pl-lg   > * { padding-left:    30px; }
					.xl-row-pl-xl   > * { padding-left:    60px; }
				/* padding-right */
					.xl-row-pr-xs   > * { padding-right:  7.5px; }
					.xl-row-pr-sm   > * { padding-right:   10px; }
					.xl-row-pr-md   > * { padding-right:   15px; }
					.xl-row-pr-lg   > * { padding-right:   30px; }
					.xl-row-pr-xl   > * { padding-right:   60px; }

				/* Vertical - Top & Bottom */
					.xl-row-py-xs   > * { padding-top:    7.5px;  padding-bottom: 7.5px; }
					.xl-row-py-sm   > * { padding-top:     10px;  padding-bottom:  10px; }
					.xl-row-py-md   > * { padding-top:     15px;  padding-bottom:  15px; }
					.xl-row-py-lg   > * { padding-top:     30px;  padding-bottom:  30px; }
					.xl-row-py-xl   > * { padding-top:     60px;  padding-bottom:  60px; }

				/* Horizontal - Left & Right */
					.xl-row-px-xs   > * { padding-left:   7.5px;  padding-right:  7.5px; }
					.xl-row-px-sm   > * { padding-left:    10px;  padding-right:   10px; }
					.xl-row-px-md   > * { padding-left:    15px;  padding-right:   15px; }
					.xl-row-px-lg   > * { padding-left:    30px;  padding-right:   30px; }
					.xl-row-px-xl   > * { padding-left:    60px;  padding-right:   60px; }
			}
