	

	/* Component - Spoiler */
	/* ----------------------------------------*/
	
		/* Colors */
		/* ----------------------------------------*/

			.spoiler-content {
				background-color: rgba(3,3,3,.1);
			}

			.spoiler-btn {
				color: #FFFFFF;
				background-color: #613dcc;
			}

			.spoiler-btn--active {
				color: #FFFFFF; 
				background-color: #c00c0c; 
			}

		/* General */
		/* ----------------------------------------*/

			.spoiler,
			.spoiler-content,
			.spoiler-btn {
				position: relative;	
				display: inline-block;
				float: left;
			}

		/* spoiler-btn */
		/* ----------------------------------------*/

			.spoiler-btn {
				padding: .65em .85em;
				font-weight: bold;
				text-align: center;
				border-radius: 6px; 

				cursor: pointer; cursor: hand; 
				box-shadow: 2px 2px 2px rgba(3,3,3,.3);
			}

			/* autoText */
			/* ----------------------------------------*/

				.spoiler-btn.spoiler-btn-autoText:after 		{ content: 'Expand'; 	}
				.spoiler-btn--active.spoiler-btn-autoText:after	{ content: 'Collapse'; 	}

			/* overlay */
			/* ----------------------------------------*/

				.spoiler-btn:before {
					content: '';
					position: absolute;
					width: 100%; height: 100%;
					top: 0; left: 0;
				}

		/* Spoiler - main wrapper element */
		/* ----------------------------------------*/

			.spoiler {
				width: 100%;

				padding: 0 !important;
				border:  0 !important;

				max-height: 0;
				overflow: hidden;

				-webkit-transition: max-height .3s ease-in-out;
				   -moz-transition: max-height .3s ease-in-out;
					 -o-transition: max-height .3s ease-in-out;
						transition: max-height .3s ease-in-out;
			}

			.spoiler--expanded {
				max-height: none;
				overflow: visible;

				-webkit-animation:  asterisk--spoiler--overrideMaxHeight .3s steps(1) forwards , 
									asterisk--spoiler--overrideOverflow  .3s steps(1) forwards ;
						animation:  asterisk--spoiler--overrideMaxHeight .3s steps(1) forwards , 
									asterisk--spoiler--overrideOverflow  .3s steps(1) forwards ;
			}
			@-webkit-keyframes asterisk--spoiler--overrideMaxHeight { 100% { max-height: none; } }
					@keyframes asterisk--spoiler--overrideMaxHeight { 100% { max-height: none; } }
			@-webkit-keyframes asterisk--spoiler--overrideOverflow  { from { overflow: hidden; } }
					@keyframes asterisk--spoiler--overrideOverflow  { from { overflow: hidden; } }

		/* Spoiler Content */
		/* ----------------------------------------*/

			.spoiler-content {
				width: 100%;
				padding: 15px; margin: 7.5px 0;

				visibility: hidden;
				-webkit-transition: visibility 0s .3s;
				   -moz-transition: visibility 0s .3s;
					 -o-transition: visibility 0s .3s;
						transition: visibility 0s .3s;
			}

			.spoiler--expanded .spoiler-content {
				visibility: visible;
				-webkit-transition: visibility 0s 0s;
				   -moz-transition: visibility 0s 0s;
					 -o-transition: visibility 0s 0s;
						transition: visibility 0s 0s;
			}

