
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->

	<style>
	</style>

	<article>

		<div class="xs-col-12 md-col-6 byandu-tooltipGenerator-selectorsContainer">

			<input class="byandu-tooltipGenerator-input-setText" value="" type="text" placeholder="Set Tooltip Text"/>

			<select class="byandu-tooltipGenerator-select-setDirection">
				<option value="top"> 	Top 	</option>
				<option value="left"> 	Left 	</option>
				<option value="right"> 	Right 	</option>
				<option value="bottom"> Bottom 	</option>
			</select>

			<select class="byandu-tooltipGenerator-select-setPseudoElement">
				<option value="before"> Before </option>
				<option value="after">  After  </option>
			</select>

			<select class="byandu-tooltipGenerator-select-setWrap">
				<option value="singleLine"> 	Single-line 	</option>
				<option value="wrap">  			wrap 			</option>
				<option value="wrap-hyphens">  	wrap-hyphens 	</option>
				<option value="break-each">  	break each 		</option>
			</select>

			<hr>

			<select class="byandu-tooltipGenerator-select-setCarret">
				<option value="carret-yes"> Has Carret </option>
				<option value="carret-no">  No Carret  </option>
			</select>

			<!-- 
				- background-color
				- color
				- font-size
				- padding
				- line-height 
			-->

		</div>

	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/tooltipGenerator.js"> </div>
	<!-- ==================================================== -->