
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style> 

		.myButton {
			position: relative;
			padding: .5em 1em; 		border-radius: 6px;
			text-align: center; 	font-weight: bold;
			background-color: red; 	color: white;
		}

		.hasFocus:focus {
			animation: hasFocus-outline 1s infinite;
		}

		@keyframes hasFocus-outline {
			0%   { opacity:  1; } 
			35%  { opacity: .5; }
			65%  { opacity: .5; }
			100% { opacity:  1; } 
		}

		/* ---- */

			.myMenu-1 {
				max-height: 50px;
				transition: max-height .4s;
				overflow: hidden;
			}

			.myMenu-1-menuTitle,
			.myMenu-1-menuItem {
				height: 50px;
				border: 1px solid black;

				line-height: 50px; text-align: center;
				font-weight: bold; background-color: red;
				color: white;
			}

			.myMenu-1-menuTitle {
				background-color: blue;
			}

			.myMenu-1:hover ,
			.myMenu-1:focus ,
			.myMenu-1.focusWithin:focus-within{
				max-height: 200px;
			}

		/* ---- */

			.myMenu-2-menuItem {
				position: relative;
				border: 1px solid black;
				overflow: hidden;
				height: 50px; line-height: 50px;
				padding: 0 15px;
			}

			.myMenu-2-btnContainer {
				position: absolute;
				top: 0; right: 0;
				transform: translateX(125%);
				transition: transform .4s;
			}

			.myMenu-2-menuItem:hover .myMenu-2-btnContainer,
			.myMenu-2-menuItem:focus .myMenu-2-btnContainer,
			.myMenu-2-menuItem.focusWithin:focus-within .myMenu-2-btnContainer {
				transform: translateX(-15px);
			}

		/* ---- */

			.myCard {
				position: relative;
				width: 100%;
				height: 250px;
				perspective: 1300px;
			}

			.myCard-front {
				background-color: red;
				height: 100%;
				transition: transform .4s;
				backface-visibility: hidden;
			}

			.myCard-back {
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				background-color: blue;
				height: 100%;
				transform: rotateY(180deg);
				transition: transform .4s;
				backface-visibility: hidden;
			}

			.myCard:hover .myCard-front,
			.myCard:focus .myCard-front,
			.myCard.focusWithin:focus-within .myCard-front {
				transform: rotateY(180deg);
			}

			.myCard:hover .myCard-back,
			.myCard:focus .myCard-back,
			.myCard.focusWithin:focus-within .myCard-back {
				transform: rotateY(360deg);
			}

			.myCard-back .myButton {
				position: absolute;
				bottom: 20px;
				width: 80%; margin-left: 10%;
			}

		.clickHereDiv {
			padding: 10px; 		margin-bottom: 10px; 
			color: white; 		background-color: #c00c0c;
			font-weight: bold; 	text-align: center;
			border-radius: 6px; text-shadow: 1px 1px rgba(3,3,3,.3);
		}

		img:after {
			position: absolute;
			top: 0; left: 0;
			width: 20px; height: 20px;
			background-color: white;
		}

		</style>
	<!-- ============================================== -->

	<article>

		<div class="col-4 p-0"> <img style="object-fit: cover; height: 100px; width: 100%; background-image: url('../../images/img-2.jpg'); background-size: cover;" src="../../images/img-x.jpg"> </div>

		<heading> <h2 class="section-title"> Better keyboard navigation for collapsible/interactible components with  <span class="wrapper"> :focus-within </span></h2> </heading>

		<section> 

			<row class="mb-0"> <span class="wrapper ml-0">Collapsible/Expandable Menus</span> or <span class="wrapper">Interactible Components</span>, which show/hide some of their children in different states, are a key part of any project. </row>

			<p> When the state-change is triggered by a <span class="wrapper">:hover</span> event, <u>mouse users</u> are happy <b-o><i class="fa fa-smile-o"></i></b-o> Yet, <u>keyboard users</u> are left in the dark <b-r><i class="fa fa-thumbs-down"></i></b-r> </p>

			<hr>
			<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-1"> Examples | </button>

			<div class="spoiler" data-spoiler-id="example-1">
				<div class="spoiler-content">

					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-1"> </line>
									<indent>
									<line> &lt;div class="menuTitle"> Menu Title &lt;/div> </line>
									<line> &lt;div class="menuItem"> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem"> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem"> Menu Item &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myMenu-1 { </line>
									<indent>
									<line> max-height: 50px; </line>
									<line> overflow: hidden; </line>
									<line> transition: max-height .4s; </line>
									</indent>
								<line> } </line>
								<line> .myMenu-1<b-r>:hover</b-r> { </line>
									<indent>
									<line> max-height: 200px; </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="myMenu-1">
								<div class="myMenu-1-menuTitle"> Menu Title </div>
								<div class="myMenu-1-menuItem"> Menu Item </div>
								<div class="myMenu-1-menuItem"> Menu Item </div>
								<div class="myMenu-1-menuItem"> Menu Item </div>
							</div>
						</div>
					</row>

					<hr>

					<row class="flex flex-cross-center">
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-2"> </line>
									<indent>
									<line> &lt;div class="menuItem">  </line>
										<indent>
										<line> Menu Item </line>
										<line> &lt;div class="btnContainer"> </line>
											<indent>
											<line> &lt;div class="myButton fa fa-check">&lt;/div> </line>
											<line> &lt;div class="myButton fa fa-times">&lt;/div> </line>
											</indent>
										<line> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									<line> ... </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .menuItem { </line>
									<indent>
									<line> position: relative; </line>
									<line> overflow: hidden; </line>
									</indent>
								<line> } </line>
								<line> .btnContainer { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; right: 0; </line>
									<line> transform: translateX(125%); </line>
									<line> transition: transform .4s; </line>
									</indent>
								<line> } </line>
								<line> .menuItem<b-r>:hover</b-r> .btnContainer { </line>
									<indent>
									<line> transform: translateX(-15px); </line>
									</indent>
								<line> } </line>
							</div>
						</div>
						
						<div class="col-6">
							<div class="myMenu-2">
								<div class="myMenu-2-menuItem"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check"></div>
										<div class="myButton fa fa-times"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check"></div>
										<div class="myButton fa fa-times"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check"></div>
										<div class="myButton fa fa-times"></div>
									</div>
								</div>
							</div>
						</div>
					</row>

					<hr>
					
					<row class="flex flex-cross-center">
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myCard"> </line>
									<indent>
									<line> &lt;div class="myCard-front">&lt;/div> </line>
									<line> &lt;div class="myCard-back"> </line>
										<indent>
										<line> &lt;div class="myButton"> My Button &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myCard { </line>
									<indent>
									<line> position: relative; </line>
									</indent>
								<line> } </line>
								<line> .myCard-front { </line>
									<indent>
									<line> height: 100%; </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard-back { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; left: 0; right: 0; bottom: 0; </line>
									<line> transform: rotateY(180deg); </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-front { </line>
									<indent>
									<line> transform: rotateY(180deg); </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-back { </line>
									<indent>
									<line> transform: rotateY(360deg); </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="myCard">
								<div class="myCard-front"></div>
								<div class="myCard-back">
									<div class="myButton"> My Button </div>
								</div>
							</div>
						</div>
					</row>

					<hr>

					<p> These elements have their state changes on <span class="wrapper">:hover</span>, but this is not available for keyboard users. </p>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-1"> Examples | </button>
					<hr>
				</div>
			</div>

		</section>

		<section> 

			<heading> <h2 class="section-title"> The problem : <span class="wrapper">:hover</span> doesn't always cover it </h2> </heading>

			<p class="mb-0"> Ok, so we must make the elements have the same effect, when people navigate without the mouse. </p>
			<p class="text-bold mt-0"> Meh, simple, just add <span class="wrapper">:focus</span> rule, right ? <u>Not quite</u> : </p>

			<p class="mb-0"> 1. These items are not <span class="wrapper">focusable</span> by default - they are not by targeted by <span class="wrapper">Tab</span> navigation. </p>

			<p> <b>*</b> If we add <span class="wrapper">tabindex="1"</span>, along with <span class="wrapper">:focus</span>, this seems to solve our problem: </p>

			<hr>
			<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-2"> Examples | </button>

			<div class="spoiler" data-spoiler-id="example-2">
				<div class="spoiler-content">

					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-1" <b-r>tabindex="1"</b-r>> </line>
									<indent>
									<line> &lt;div class="menuTitle"> Menu Title &lt;/div> </line>
									<line> &lt;div class="menuItem"> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem"> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem"> Menu Item &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myMenu-1 { </line>
									<indent>
									<line> max-height: 50px; </line>
									<line> overflow: hidden; </line>
									<line> transition: max-height .4s; </line>
									</indent>
								<line> } </line>
								<line> .myMenu-1<b-r>:hover</b-r>, .myMenu-1<b-r>:focus</b-r> { </line>
									<indent>
									<line> max-height: 200px; </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element </div>

							<div class="myMenu-1 hasFocus" tabindex="1">
								<div class="myMenu-1-menuTitle"> Menu Title </div>
								<div class="myMenu-1-menuItem"> Menu Item </div>
								<div class="myMenu-1-menuItem"> Menu Item </div>
								<div class="myMenu-1-menuItem"> Menu Item </div>
							</div>
						</div>
					</row>

					<hr>

					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-2"> </line>
									<indent>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>>  </line>
										<indent>
										<line> Menu Item </line>
										<line> &lt;div class="btnContainer"> </line>
											<indent>
											<line> &lt;div class="myButton fa fa-check">&lt;/div> </line>
											<line> &lt;div class="myButton fa fa-times">&lt;/div> </line>
											</indent>
										<line> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									<line> ... </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .menuItem { </line>
									<indent>
									<line> position: relative; </line>
									<line> overflow: hidden; </line>
									</indent>
								<line> } </line>
								<line> .btnContainer { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; right: 0; </line>
									<line> transform: translateX(125%); </line>
									<line> transition: transform .4s; </line>
									</indent>
								<line> } </line>
								<line> .menuItem<b-r>:hover</b-r> .btnContainer, </line>
								<line> .menuItem<b-r>:focus</b-r> .btnContainer { </line>
									<indent>
									<line> transform: translateX(-15px); </line>
									</indent>
								<line> } </line>
							</div>
						</div>
						
						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element </div>
							<div class="myMenu-2">
								<div class="myMenu-2-menuItem hasFocus" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check"></div>
										<div class="myButton fa fa-times"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem hasFocus" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check"></div>
										<div class="myButton fa fa-times"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem hasFocus" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check"></div>
										<div class="myButton fa fa-times"></div>
									</div>
								</div>
							</div>
						</div>
					</row>

					<hr>
					
					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myCard" <b-r>tabindex="1"</b-r>> </line>
									<indent>
									<line> &lt;div class="myCard-front">&lt;/div> </line>
									<line> &lt;div class="myCard-back"> </line>
										<indent>
										<line> &lt;div class="myButton"> My Button &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myCard { </line>
									<indent>
									<line> position: relative; </line>
									</indent>
								<line> } </line>
								<line> .myCard-front { </line>
									<indent>
									<line> height: 100%; </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard-back { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; left: 0; right: 0; bottom: 0; </line>
									<line> transform: rotateY(180deg); </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-front, </line>
								<line> .myCard<b-r>:focus</b-r> .myCard-front  { </line>
									<indent>
									<line> transform: rotateY(180deg); </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-back, </line>
								<line> .myCard<b-r>:focus</b-r> .myCard-back { </line>
									<indent>
									<line> transform: rotateY(360deg); </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element </div>
							<div class="myCard hasFocus" tabindex="1">
								<div class="myCard-front"></div>
								<div class="myCard-back">
									<div class="myButton"> My Button </div>
								</div>
							</div>
						</div>
					</row>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-2"> Examples | </button>
					<hr>
				</div>
			</div>

		</section>

		<section> 

			<heading> <h2 class="section-title"> Not done yet : <span class="wrapper">tabindex="1"</span> is a mischievous mistress </h2> </heading>

			<row class="text-italic">
				<p class="mb-0"> * Adding <span class="wrapper">tabindex="1"</span> attribute on each of elements is a tedious and prone-to-oversights process </p>
				<p class="mb-0"> * Itself, <span class="wrapper">tabindex="1"</span> cannot be modified through CSS (because it modifies behaviour - not styles) </p>
				<p class="mb-0"> * These elements themselves should not be declared as <span class="wrapper">focusable</span> if they don't offer direct interaction (which they don't) </p>
			</row>

			<div class="col-12 mt-sm"> <p class="text-bold"> Ok, ok, all warnings aside, we're done now, right? </p> </div>

		</section>

		<section> 

			<heading> <h2 class="section-title"> Still not done yet : where did my <span class="wrapper">:focus</span> go ? </h2> </heading>

			<p> Now what happens if the component we are focusing, also has focusable elements within it? </p>
			<p class="mb-0"> Let's try navigating to these items, by using the <span class="wrapper">Tab</span> key again. </p>
			<p> First it will target the main component itself - but as soon as we move focus to a child element - well ... </p>

			<hr>
			<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-3"> Examples | </button>

			<div class="spoiler" data-spoiler-id="example-3">
				<div class="spoiler-content">

					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-1" <b-r>tabindex="1"</b-r>> </line>
									<indent>
									<line> &lt;div class="menuTitle"> Menu Title &lt;/div> </line>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>> Menu Item &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myMenu-1 { </line>
									<indent>
									<line> max-height: 50px; </line>
									<line> overflow: hidden; </line>
									<line> transition: max-height .4s; </line>
									</indent>
								<line> } </line>
								<line> .myMenu-1<b-r>:hover</b-r>, .myMenu-1<b-r>:focus</b-r> { </line>
									<indent>
									<line> max-height: 200px; </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element. The press <span class="wrapper">Tab</span> again to move focus to a child element </div>

							<div class="myMenu-1 hasFocus" tabindex="1">
								<div class="myMenu-1-menuTitle"> Menu Title </div>
								<div class="myMenu-1-menuItem" tabindex="1"> Menu Item </div>
								<div class="myMenu-1-menuItem" tabindex="1"> Menu Item </div>
								<div class="myMenu-1-menuItem" tabindex="1"> Menu Item </div>
							</div>
						</div>
					</row>

					<hr>

					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-2"> </line>
									<indent>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>>  </line>
										<indent>
										<line> Menu Item </line>
										<line> &lt;div class="btnContainer"> </line>
											<indent>
											<line> &lt;div class="myButton fa fa-check" <b-r>tabindex="1"</b-r>>&lt;/div> </line>
											<line> &lt;div class="myButton fa fa-times" <b-r>tabindex="1"</b-r>>&lt;/div> </line>
											</indent>
										<line> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									<line> ... </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .menuItem { </line>
									<indent>
									<line> position: relative; </line>
									<line> overflow: hidden; </line>
									</indent>
								<line> } </line>
								<line> .btnContainer { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; right: 0; </line>
									<line> transform: translateX(125%); </line>
									<line> transition: transform .4s; </line>
									</indent>
								<line> } </line>
								<line> .menuItem<b-r>:hover</b-r> .btnContainer, </line>
								<line> .menuItem<b-r>:focus</b-r> .btnContainer { </line>
									<indent>
									<line> transform: translateX(-15px); </line>
									</indent>
								<line> } </line>
							</div>
						</div>
						
						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element. The press <span class="wrapper">Tab</span> again to move focus to a child element </div>
							<div class="myMenu-2">
								<div class="myMenu-2-menuItem hasFocus" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check" tabindex="1"></div>
										<div class="myButton fa fa-times" tabindex="1"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem hasFocus" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check" tabindex="1"></div>
										<div class="myButton fa fa-times" tabindex="1"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem hasFocus" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check" tabindex="1"></div>
										<div class="myButton fa fa-times" tabindex="1"></div>
									</div>
								</div>
							</div>
						</div>
					</row>

					<hr>
					
					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myCard" <b-r>tabindex="1"</b-r>> </line>
									<indent>
									<line> &lt;div class="myCard-front">&lt;/div> </line>
									<line> &lt;div class="myCard-back"> </line>
										<indent>
										<line> &lt;div class="myButton" <b-r>tabindex="1"</b-r>> My Button &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myCard { </line>
									<indent>
									<line> position: relative; </line>
									</indent>
								<line> } </line>
								<line> .myCard-front { </line>
									<indent>
									<line> height: 100%; </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard-back { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; left: 0; right: 0; bottom: 0; </line>
									<line> transform: rotateY(180deg); </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-front, </line>
								<line> .myCard<b-r>:focus</b-r> .myCard-front  { </line>
									<indent>
									<line> transform: rotateY(180deg); </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-back, </line>
								<line> .myCard<b-r>:focus</b-r> .myCard-back { </line>
									<indent>
									<line> transform: rotateY(360deg); </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element. The press <span class="wrapper">Tab</span> again to move focus to a child element </div>
							<div class="myCard hasFocus" tabindex="1">
								<div class="myCard-front"></div>
								<div class="myCard-back">
									<div class="myButton" tabindex="1"> My Button </div>
								</div>
							</div>
						</div>
					</row>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-3"> Examples | </button>
					<hr>
				</div>
			</div>

		</section>

		<section>

			<heading> <h2 class="section-title"> What ? Why ? </h2> </heading>

			<p> 2. The <span class="wrapper">:focus</span> state only takes effect when the element <u>itself</u> has focus </p>
			<row class="text-italic p-0">
				<p class="mb-0"> * Once the focus is moved away from the element itself (into a focusable child), the <span class="wrapper">:focus</span> on the Parent no longer applies. </p>
				<p class="mb-0"> * Once the focus is moved to a child element, that child element is 'scrolled-into-view', potentially offsetting the entire element. </p>

			</row>

		</section>

		<section>

			<heading> <h2 class="section-title"> Enough is enough : <span class="wrapper">:focus-within</span> to the rescue ! </h2> </heading>

			<p> There is however a simple addition which fixes this issue: <span class="wrapper"> :focus-within </span> </p>


			<hr>
			<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-4"> Examples | </button>

			<div class="spoiler" data-spoiler-id="example-4">
				<div class="spoiler-content">

					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-1"> </line>
									<indent>
									<line> &lt;div class="menuTitle"> Menu Title &lt;/div> </line>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>> Menu Item &lt;/div> </line>
									<line> &lt;div class="menuItem" <b-r>tabindex="1"</b-r>> Menu Item &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myMenu-1 { </line>
									<indent>
									<line> max-height: 50px; </line>
									<line> overflow: hidden; </line>
									<line> transition: max-height .4s; </line>
									</indent>
								<line> } </line>
								<line> .myMenu-1<b-r>:hover</b-r>, .myMenu-1<b-r>:focus-within</b-r> { </line>
									<indent>
									<line> max-height: 200px; </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element. The press <span class="wrapper">Tab</span> again to move focus to a child element </div>

							<div class="myMenu-1 focusWithin">
								<div class="myMenu-1-menuTitle"> Menu Title </div>
								<div class="myMenu-1-menuItem" tabindex="1"> Menu Item </div>
								<div class="myMenu-1-menuItem" tabindex="1"> Menu Item </div>
								<div class="myMenu-1-menuItem" tabindex="1"> Menu Item </div>
							</div>
						</div>
					</row>

					<hr>

					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myMenu-2"> </line>
									<indent>
									<line> &lt;div class="menuItem">  </line>
										<indent>
										<line> Menu Item </line>
										<line> &lt;div class="btnContainer"> </line>
											<indent>
											<line> &lt;div class="myButton fa fa-check" <b-r>tabindex="1"</b-r>>&lt;/div> </line>
											<line> &lt;div class="myButton fa fa-times" <b-r>tabindex="1"</b-r>>&lt;/div> </line>
											</indent>
										<line> &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									<line> ... </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .menuItem { </line>
									<indent>
									<line> position: relative; </line>
									<line> overflow: hidden; </line>
									</indent>
								<line> } </line>
								<line> .btnContainer { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; right: 0; </line>
									<line> transform: translateX(125%); </line>
									<line> transition: transform .4s; </line>
									</indent>
								<line> } </line>
								<line> .menuItem<b-r>:hover</b-r> .btnContainer, </line>
								<line> .menuItem<b-r>:focus-within</b-r> .btnContainer { </line>
									<indent>
									<line> transform: translateX(-15px); </line>
									</indent>
								<line> } </line>
							</div>
						</div>
						
						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element. The press <span class="wrapper">Tab</span> again to move focus to a child element </div>
							<div class="myMenu-2">
								<div class="myMenu-2-menuItem focusWithin" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check" tabindex="1"></div>
										<div class="myButton fa fa-times" tabindex="1"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem focusWithin" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check" tabindex="1"></div>
										<div class="myButton fa fa-times" tabindex="1"></div>
									</div>
								</div>
								<div class="myMenu-2-menuItem focusWithin" tabindex="1"> 
									Menu Item
									<div class="myMenu-2-btnContainer">
										<div class="myButton fa fa-check" tabindex="1"></div>
										<div class="myButton fa fa-times" tabindex="1"></div>
									</div>
								</div>
							</div>
						</div>
					</row>

					<hr>
					
					<row>
						<div class="col-6">
							<div class="wrapper">
								<line> &lt;div class="myCard"> </line>
									<indent>
									<line> &lt;div class="myCard-front">&lt;/div> </line>
									<line> &lt;div class="myCard-back"> </line>
										<indent>
										<line> &lt;div class="myButton" <b-r>tabindex="1"</b-r>> My Button &lt;/div> </line>
										</indent>
									<line> &lt;/div> </line>
									</indent>
								<line> &lt;/div> </line>
								<hr>
								<line> .myCard { </line>
									<indent>
									<line> position: relative; </line>
									</indent>
								<line> } </line>
								<line> .myCard-front { </line>
									<indent>
									<line> height: 100%; </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard-back { </line>
									<indent>
									<line> position: absolute; </line>
									<line> top: 0; left: 0; right: 0; bottom: 0; </line>
									<line> transform: rotateY(180deg); </line>
									<line> transition: transform .4s; </line>
									<line> backface-visibility: hidden; </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-front, </line>
								<line> .myCard<b-r>:focus-within</b-r> .myCard-front  { </line>
									<indent>
									<line> transform: rotateY(180deg); </line>
									</indent>
								<line> } </line>
								<line> .myCard<b-r>:hover</b-r> .myCard-back, </line>
								<line> .myCard<b-r>:focus-within</b-r> .myCard-back { </line>
									<indent>
									<line> transform: rotateY(360deg); </line>
									</indent>
								<line> } </line>
							</div>
						</div>

						<div class="col-6">
							<div class="clickHereDiv"> Click Here <br> then press the <span class="wrapper">Tab</span> Key to set focus on element. The press <span class="wrapper">Tab</span> again to move focus to a child element </div>
							<div class="myCard focusWithin" tabindex="1">
								<div class="myCard-front"></div>
								<div class="myCard-back">
									<div class="myButton" tabindex="1"> My Button </div>
								</div>
							</div>
						</div>
					</row>

					<hr>
					<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="example-4"> Examples | </button>
					<hr>
				</div>
			</div>

			<p class="mb-0"> Adding <span class="wrapper"> :focus-within </span> alongside <span class="wrapper">:hover</span> will : </p>
			<i>
				<p class="m-0"> &nbsp; <b>*</b> Make the style changes take effect just like they would on <span class="wrapper">:hover</span> ; </p>
				<p class="m-0"> &nbsp; <b>*</b> Does not require making the element itself <span class="wrapper">focusable</span> - so no more need for <span class="wrapper">tabindex="1"</span> </p>
				<p class="m-0"> &nbsp; <b>*</b> Most importantly : allow keyboard users to have the same experience as those who are navigating with the mouse. </p>
			</i>

			<hr>

			<p> Take away: </p>

			<div class="wrapper">
				<line> /* Make keyboard users happy: */ </line>
				<line> .myElem<b-r>:hover</b-r> , .myElem<b-r>:focus-within</b-r> { /* do magic */ } </line>
			</div>

			<hr>

		</section>












		<!--
		Don't neglect :focus and :active states for button-like elements.

		Until recently, I've been a ferm disbeliever in declaring all possible states for <span class="wrapper"> &lt;button> </span> elements.

		I used to see them in libraries such as Bootstrap, and as I couldn't be bothered to learn about their pragmatic benefits (mostly because I couldn't see those benefits by simply using a mouse - and because as a beginner I was more focused on visible results), I tended to brush them off as fancy developer chaff, that added such declarations simply because they tried to cover every single improbable edge-case.

		But, as of recently diving into accessibility practices, oh how I've seen the error of my ways.

		:active - defines what rules change when the <span class="wrapper"> &lt;button> </span> is clicked or interacted-with (space / enter)
		:focus - defines what rules change when the <span class="wrapper"> &lt;button> </span> receives focus - by click, or by tab-navigation

		I would ussualy even remove and reset all the 'extra and useless' declarations and would actively refuse to use them myself. Until I tried the exercise of navigating without the mouse, by using the keyboard and especially the <span class="wrapper">Tab</span> key.

		That's when I cried - i couldn't figure out where my focus was, I couldn't figure out what buttons I was clicking
		-->

	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/article/BetterKeyboardNavigationForCollapsibleMenusAndInteractibleComponentsWithFocus-within.js"> </div>
	<!-- ==================================================== -->