
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style> 
		</style>
	<!-- ============================================== -->

	<article>

		<heading> <h2 class="section-title"> Headings </h2> </heading>

		<p> Across the overwhelming benevolence of the internet, which floods the information-hungry developer's plate, a few rules seem to always come about: </p>

		<p> 0. Shrodinger's SEO Headings </p>

		<p> A clear-cut way of using <span class="wrapper">Heading</span> Elements in relation to SEO, has yet to reveal itself. </p>
		<p> The <span class="wrapper">Browsers' HTML parser</span> does not inforce specific rules-of-use (limit, hierarchy, content) </p>
		<p class="wrapper">
		<p> The <span class="wrapper">SEO</span> algorithms (Google, because let's be real) are not strictly tied to how <span class="wrapper">Heading</span> Elements are used. </p>

		<p> 1. Only 1 <span class="wrapper">&lt;h1></span> Tag, per page/document. </p>
		<p class="sub-heading"> * This goes for traditional websites, SPAs (Single Page Aplications), and everything in between and beyond. </p>

		This <span class="wrapper">&lt;h1></span> can either be related to the website itself (as a whole), or each individual page.

	2. 


	The hierarchy : 

	<h1> - website or individual page
	<h2> - individual page main-title 
	<h3> - main sections
	<h4> - sub-sections (within the main-sections) or additional information outside the main-sections

	<body>
		<h1> something something My Website </h1>

		<article>

			<h2> My Article's Title </h2>

			<section>
				<h3> Section </h3>

					something something

					<h4> Sub-section </h4>
			</section>

			<section>
				<h3> Section </h3>
			</section>

			<h4> Other info </h4>

		</article>
	</body>

	Elements should not be skipped : don't jump to <h3>, withouth using <h2>

	Headings are for SEO, not for styling. Create styling classes to better accomodate the style of the heading to the design of the website.

	If you feel a <h3> <span class="wrapper">style</span> would be better integrated into the design of the current page 