	
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style>
		</style>
	<!-- ============================================== -->

	<article>
	
		<h2 class="sr-only"> The 'Accordeon' Component </h2>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner">
				<div class="article-mainTabs-title"> Components : Accordeon </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> Demo  </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Usage </button>
					<button class="tabs-btn" 				data-tabs-id="3"> ---   </button>
				</div>
			</div>

			<div class="tabs-contentGroup">

				<!-- Demo Tab -->
				<div class="tabs-content article-mainTabs-demoTab tab-expanded" data-tabs-id="1"> 

					<div class="accordion" style="margin-top: 50px">

						<div class="accordion-group">
							<button class="accordion-btn"> 1. a </button>
							<div class="accordion-content">

								<div class="accordion-group">
									<button class="accordion-btn"> 2. a </button>
									<div class="accordion-content">
										
										<div class="accordion-group">
											<button class="accordion-btn"> 3. a </button>
											<div class="accordion-content">
												Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.

												If the DOM tree changes the module will automatically call module.refresh and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.

												If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's refresh behavior.  
											</div>
										</div>

										<div class="accordion-group">
											<button class="accordion-btn"> 3. b </button>
											<div class="accordion-content">
												Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.

												If the DOM tree changes the module will automatically call module.refresh and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.

												If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's refresh behavior.  
											</div>
										</div>

										<div class="accordion-group">
											<button class="accordion-btn"> 3. c </button>
											<div class="accordion-content">
												Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.

												If the DOM tree changes the module will automatically call module.refresh and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.

												If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's refresh behavior.  
											</div>
										</div>

									</div>
								</div>

								<div class="accordion-group">
									<button class="accordion-btn"> 2. b </button>
									<div class="accordion-content">
										Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.

										If the DOM tree changes the module will automatically call module.refresh and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.

										If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's refresh behavior. 
									</div>
								</div>

								<div class="accordion-group">
									<button class="accordion-btn"> 2. c </button>
									<div class="accordion-content">
										Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.

										If the DOM tree changes the module will automatically call module.refresh and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.

										If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's refresh behavior. 
									</div>
								</div>

							</div>
						</div>

						<div class="accordion-group">
							<button class="accordion-btn"> 1. b </button>
							<div class="accordion-content">
								Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.

								If the DOM tree changes the module will automatically call module.refresh and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.

								If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's refresh behavior.
							</div>
						</div>

						<div class="accordion-group">
							<button class="accordion-btn"> 1. c </button>
							<div class="accordion-content">
								Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.

								If the DOM tree changes the module will automatically call module.refresh and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.

								If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's refresh behavior.
							</div>
						</div>
					</div>
				</div>

				<!-- Usage Tab -->
				<div class="tabs-content article-mainTabs-usageTab" data-tabs-id="2"> </div>

				<!-- Code Tab -->
				<div class="tabs-content article-mainTabs-codeTab"  data-tabs-id="3"> </div>
			</div>

		</div>

	</article>