
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->

	<article>

		<header class="sr-only"> <h2> The 'Checkbox' Component </h2> </header>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner">
				<div class="article-mainTabs-title"> Components : Checkbox </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> Demo  </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Usage </button>
					<button class="tabs-btn" 				data-tabs-id="3"> Code  </button>
				</div>
			</div>

			<div class="tabs-contentGroup">

				<!-- Demo Tab -->
				<div class="tabs-content article-mainTabs-demoTab tab-expanded" data-tabs-id="1">

					<div class="col-4">
						<div class="checkbox">
							<label>
								<input class="checkbox-input" type="checkbox" checked="checked"/>
								<div class="checkbox-customBox" aria-hidden="true"></div>
								<div class="checkbox-text"> My Checkbox Text </div>
							</label>
						</div>
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-rounded">
							<label>
								<input class="checkbox-input" type="checkbox" checked="checked"/>
								<div class="checkbox-customBox" aria-hidden="true"></div>
								<div class="checkbox-text"> My Checkbox Text </div>
							</label>
						</div>
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-circle">
							<label>
								<input class="checkbox-input" type="checkbox" checked="checked"/>
								<div class="checkbox-customBox" aria-hidden="true"></div>
								<div class="checkbox-text"> My Checkbox Text </div>
							</label>
						</div>
					</div>

					<hr>

					<div class="col-4">
						<div class="checkbox checkbox-switch">
							<label>
								<input class="checkbox-input" type="checkbox" checked="checked"/>
								<div class="checkbox-customBox" aria-hidden="true"></div>
								<div class="checkbox-text"> My Switch Text </div>
							</label>
						</div>
					</div>

					<div class="col-4">
						<div class="switch switch-lg">
							<input class="switch-input" type="checkbox" checked="checked"/>
							<div class="switch-slider"></div>
						</div>
						switch switch-lg
					</div>

					<div class="col-4">
						<div class="switch switch-slimmer">
							<input class="switch-input" type="checkbox" checked="checked"/>
							<div class="switch-slider"></div>
						</div>
						switch switch-slimmer
					</div>

					<hr>

					<div class="col-4">
						<div class="checkbox">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
						</div>
						checkbox
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-rounded">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"></div>
						</div>
						checkbox checkbox-rounded
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-circle">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"> </div>
						</div>
						checkbox checkbox-circle
					</div>

					<hr>

					<div class="col-4">
						<div class="checkbox checkbox-shadow">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
						</div>
						checkbox checkbox-shadow
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-rounded checkbox-shadow">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"> </div>
						</div>
						checkbox checkbox-rounded checkbox-shadow
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-circle checkbox-shadow">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"> </div>
						</div>
						checkbox checkbox-circle checkbox-shadow
					</div>

					<hr>

					<div class="col-4">
						<div class="switch">
							<input class="switch-input" type="checkbox" checked="checked"/>
							<div class="switch-slider"></div>
						</div>
						switch
					</div>

					<div class="col-4">
						<div class="switch switch-lg">
							<input class="switch-input" type="checkbox" checked="checked"/>
							<div class="switch-slider"></div>
						</div>
						switch switch-lg
					</div>
					
					<div class="col-4">
						<div class="switch switch-slimmer">
							<input class="switch-input" type="checkbox" checked="checked"/>
							<div class="switch-slider"></div>
						</div>
						switch switch-slimmer
					</div>

					<hr>

					<div class="col-4">
						<div class="checkbox">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
						</div>
						checkbox
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-rounded">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"></div>
						</div>
						checkbox checkbox-rounded
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-circle">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"> </div>
						</div>
						checkbox checkbox-circle
					</div>

					<hr>

					<div class="col-4">
						<div class="checkbox checkbox-shadow">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
						</div>
						checkbox checkbox-shadow
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-rounded checkbox-shadow">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"> </div>
						</div>
						checkbox checkbox-rounded checkbox-shadow
					</div>

					<div class="col-4">
						<div class="checkbox checkbox-circle checkbox-shadow">
							<input class="checkbox-input" type="checkbox" checked="checked"/>
							<div class="checkbox-iconBox"></div>
							<div class="checkbox-text"> </div>
						</div>
						checkbox checkbox-circle checkbox-shadow
					</div>

					<hr>
				</div>

				<!-- Usage Tab -->
				<div class="tabs-content article-mainTabs-usageTab" data-tabs-id="2"> </div>

				<!-- Code Tab -->
				<div class="tabs-content article-mainTabs-codeTab"  data-tabs-id="3"> </div>

			</div>
		</div>

	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/components/checkbox.js"> </div>
	<!-- ==================================================== -->