
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->

		<!-- stroke-dasharray="4"			Dashes and gaps of the same size -->
		<!-- stroke-dasharray="4 1"			Dashes and gaps of different sizes -->
		<!-- stroke-dasharray="4 1 2"		Dashes and gaps of various sizes with an odd number of values -->
		<!-- stroke-dasharray="4 1 2 3" 	Dashes and gaps of various sizes with an even number of values -->
		<!-- https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-dasharray -->


	<article>

		<div class="col-4">
			<svg viewBox="0 0 64 64" class="svgCounter counter">
				<g>
					<circle class="svgCounter__outer" r="45%" cx="50%" cy="50%" stroke-dasharray="135 200"> </circle>
					<circle class="svgCounter__inner" r="20%" cx="50%" cy="50%"> </circle>
					<text class="svgCounter__innerText" x="50%" y="-50%" text-anchor="middle"> hello </text>
				</g>
			</svg>
		</div>

		<div class="col-4">
			<svg viewBox="0 0 64 64" class="svgCounter pie">
				<g>
					<circle class="svgCounter__outer" r="25%" cx="50%" cy="50%" stroke-dasharray="25 100";> </circle>
					<text class="svgCounter__innerText" x="50%" y="-50%" text-anchor="middle"> hello </text>
				</g>
			</svg>
		</div>

		<div class="col-4">
			<svg viewBox="0 0 64 64" class="svgCounter pie">
				<g>
					<circle class="svgCounter__outer" r="25%" cx="50%" cy="50%" stroke-dasharray="90 100";> </circle>
					<circle class="svgCounter__inner" r="20%" cx="50%" cy="50%"> </circle>
					<text class="svgCounter__innerText" x="50%" y="-50%" text-anchor="middle"> hello </text>
				</g>
			</svg>
		</div>

	</article> 

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/components/counter.js"> </div>
	<!-- ==================================================== -->