
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style> 
		.demoItem {
			background-color: black;
			padding: 25px 0;

			display: -webkit-box; display: -ms-flexbox;	
			display: -webkit-flex; display: flex;
			justify-content: center; align-items: center;

			--spinner-root-size: 	100px;
			--spinner-root-borderWidth: 5px;

			--spinner-root-elemColor: #FFFFFF;			--spinner-root-elemColor-transitTo: #FFFFFF;
		}

		.loader-circular-simple {
			--spinner-root-borderWidth: 15px;
		}
		.loader-yinyang {
			--spinner-root-elemColor-1: #FFFFFF;
			--spinner-root-elemColor-2: #000000;
		}

		</style>
	<!-- ============================================== -->

	<article>

		<h2 class="sr-only"> The 'Loading Spinner' Component </h2>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner">
				<div class="article-mainTabs-title"> Components : loadingSpinner </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> Demo  </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Usage </button>
					<button class="tabs-btn" 				data-tabs-id="3"> Code  </button>
				</div>
			</div>

			<div class="tabs-contentGroup">

				<!-- Demo Tab -->
				<div class="tabs-content article-mainTabs-demoTab tab-expanded" data-tabs-id="1"> 
					<div class="_route_mainView-generateDemos"> </div>
				</div>

				<!-- Usage Tab -->
				<div class="tabs-content article-mainTabs-usageTab" data-tabs-id="2">

					<!-- I. Description -->

						<section class="p-0" aria-label="general description">
							<heading> <h2 class="section-title"> I. Description </h2> </heading>

							<p> Simple loading-spinner, used as an screen overlay, while the website is loading. </p>
							<p class="sub-heading mt-0"> * Once the document is ready, the loading-spinner is removed. </p>
						</section>

					<!-- II. Initialization -->

						<section class="p-0" aria-label="initialization">
							<heading> <h2 class="section-title"> II. Initialization </h2> </heading>

							<p> <b>Step 1. </b> Add the CSS. </p>

							<div class="col-12">
								<p> 
									<b>Option a)</b> Download and refference the [ <b-p>asterisk-component-loadingSpinner.css</b-p> ] CSS file. 
									<span class="wrapper tooltip-before tooltip-top tooltip-wrap" data-tooltipText="* All [ loader-{type} ] styles are included &#13;&#10;───────────────────────────&#13;&#10; Recommended only for Production"></span> 
								</p>
								<div class="wrapper mt-0"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-component-loadingSpinner.css</b-p>" type="text/css" rel="stylesheet"> </div>

								<p> 
									<b>Option b)</b> Download and refference the [ <b-p>asterisk-component-loadingSpinner-spec.css</b-p> ] CSS file. 
									<span class="wrapper tooltip-before tooltip-top tooltip-wrap" data-tooltipText="* You define which [ loader-{type} ] styles &#13;&#10; will be included &#13;&#10;───────────────────────────&#13;&#10; File is generated in the [Code] Tab &#13;&#10;───────────────────────────&#13;&#10; Recommended for Deployment"></span>
								</p>
								<div class="wrapper mt-0"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-component-loadingSpinner-spec.css</b-p>" type="text/css" rel="stylesheet"> </div>

								<p> 
									<b>Option c)</b> Include the component-code generated in the [Demo] tab or [Code] [CSS-singular]
									<span class="wrapper tooltip-before tooltip-top tooltip-wrap" data-tooltipText="* Generates the CSS for &#13;&#10; a specific [ loader-{type} ] style &#13;&#10;───────────────────────────&#13;&#10; Recommended for Deployment"></span>
								</p>
								<div class="wrapper mt-0"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-component-loadingSpinner-spec.css</b-p>" type="text/css" rel="stylesheet"> </div>
							</div>

						</section>

					<!-- III. Usage -->

						<section class="px-0" aria-label="usage">
							<heading> <h2 class="section-title"> III. Usage </h2> </heading>

							<div class="col-12 p-0 md-flex md-flex-cross-center">
								<div class="col-12 md-col-6 p-0">
									<p> <b>Step 1.</b> Add the Component's markup to your HTML. </p>
									<p class="sub-heading mt-0"> * Recommended to be placed as the first Element within the body, right after the &lt;body> tag. </p>

									<p> <b>Step 2.</b> Change the <span class="wrapper"><b-p>loader-{type}</b-p></span> class to apply the desired animation type. </p>
								</div>

								<div class="col-12 md-col-6">
									<div class="wrapper">
										<line> &lt;div class="<b>websiteLoader</b> <b-p>loader-bars</b-p>"> </line>
											<div class="col-12">
											<line> &lt;div class="<b>websiteLoader_container</b>"> </line>
												<div class="col-12">
												<line> &lt;div class="<b>loader_element</b> loader_element1"> &lt;/div> </line>
												<line> &lt;div class="<b>loader_element</b> loader_element2"> &lt;/div> </line>
												<line> &lt;div class="<b>loader_element</b> loader_element3"> &lt;/div> </line>
												<line> &lt;div class="<b>loader_element</b> loader_element4"> &lt;/div> </line>
												</div>
											<line> &lt;/div> </line>
											</div>
										<line> &lt;/div> </line>
									</div>
								</div>
							</div>

							<p> <b>Step 3.</b> Add the next JS snippet. </p>

							<div class="col-12 md-col-6">
								<div class="wrapper"> 
									<line> <b-r>JQuery</b-r> </line>
									<hr>
									<line> &nbsp; </line>
									<line> $( document ).ready( </line>
										<line class="pl-lg"> $('body').removeClass("<b-p>faSpinner</b-p>") </line>
									<line> ); </line>
									<line> &nbsp; </line>
								</div>
							</div>

							<div class="col-12 md-col-6">
								<div class="wrapper"> 
									<line> <b-r>Javascript</b-r> </line>
									<hr>
									<line> document.onreadystatechange = function () { </line>
										<div class="col-12">
										<line> if (document.readyState === "interactive") { </line>
											<line class="pl-lg"> document.body.classList.remove("<b-p>faSpinner</b-p>") </line>
										<line> } </line>
										</div>
									<line> }; </line>
								</div>
							</div>
						</section>

					<!-- IV. Markup Roles -->

						<section class="px-0" aria-label="Markup Roles">
							<heading> <h2 class="section-title"> IV. Markup Roles </h2> </heading>

							<div class="accordion">

								<div class="accordion-group px-md my-sm">
									<button class="accordion-btn"> The <b>websiteLoader</b> Element </button>
									<div class="accordion-content">
										<p> * allocates the available space for the entire box-model of the component </p>
										<p> * centers the content (horizontal and vertical). </p>
									</div>
								</div>

								<div class="accordion-group px-md my-sm">
									<button class="accordion-btn"> The <b>websiteLoader_container</b> Element </button>
									<div class="accordion-content">
										<p> * allocates the size of the actual loader/loader_elements. </p>
										<p> * changing it's size, will update the size of the actual loader/loader_elements.</p>
									</div>
								</div>

								<div class="accordion-group px-md my-sm">
									<button class="accordion-btn"> The <b>loader_element</b> Elements </button>
									<div class="accordion-content">
										<p> The <span class="wrapper">loader_element</span> elements are individual parts that make up the actual loader. </p>

										<p> Not every loader requires all 4 of the <span class="wrapper">loader_element</span> elements, yet it is recommended to keep the full markup to easily switch between loader-styles. </p>

										<p> (when applying a 'loader-style class' it automatically sets the unused <span class="wrapper">loader_element</span> elements to <span class="wrapper">display: none</span>). </p>
									</div>
								</div>

							</div>
						</section>

					<!-- V. Styles -->

						<section class="px-0" aria-label="Styles">
							<heading> <h2 class="section-title"> V. Styles </h2> </heading>

							<div class="col-6">
								<row> Changing the <b-p>spinner type</b-p> requires just changing the <b-p>loader-*style*</b-p> class on the <b>websiteLoader</b> Element. </row>
								<div class="wrapper"> 
									<line> &lt;div class="<b>websiteLoader</b> <b-p>loader-yinyang</b-p>"> </line>
										<indent>
										<line> ... </line>
										</indent>
									<line> &lt;/div> </line>
								</div>
							</div>
							<div class="col-6">
								<row> Changing the <b-p>spinner speed</b-p> requires just adding the <b-p>loader-speed-*</b-p> class on the <b>websiteLoader</b> Element. </row>
								<div class="wrapper"> 
									<line> &lt;div class="<b>websiteLoader</b> loader-bars <b-p>loader-speed-fast</b-p>"> </line>
										<indent>
										<line> ... </line>
										</indent>
									<line> &lt;/div> </line>
								</div>
							</div>
						</section>

					<!-- VI. Styling -->

						<section class="px-0" aria-label="Styling">
							<heading> <h2 class="section-title"> VI. Styling </h2> </heading>
						
							<row> <b-p>Size | Color</b-p> : Changing the values in the CSS file, in the shared styling of [ .websiteLoader ] : </row>

							<div class="wrapper"> 
								<div class="col-4">
									<line> .websiteLoader { </line>
										<indent>
										<line> ... </line>
										<line> --spinner-root-size: 100px; 		</line>
										<line> --spinner-root-color: #FFFFFF; 	</line>
										<line> --spinner-root-borderWidth: 5px; </line>
										</indent>
									<line> } </line>
								</div>
								<div class="col-8 p-0">
									<div class="col-4">
										<line> &nbsp; </line>
										<line> <b><u>Affected Element</u></b> </line>
										<line> .websiteLoader_container </line>
										<line> .loader_element </line>
										<line> .loader_element </line>
									</div>
									<div class="col-4">
										<line> &nbsp; </line>
										<line> <b><u>Affected Style</u></b> </line>
										<line> width | height </line>
										<line> bgColor | borderColor 	</line>
										<line> size of certain elements </line>
									</div>
									<div class="col-4">
										<line> &nbsp; </line>
										<line> <b><u>Effect</u></b> </line>
										<line> size of actual spinner </line>
										<line> element color </line>
										<line> size of certain elements </line>
									</div>
								</div>
								<hr>
								<line> Changing any of these values will update *most spinner-types, accordingly. </line>
								<line> *Certain spinner-types have more-specific variables defined. Example: .loader-circular-simple { --root-borderWidth: 15px; } </line>
							</div>

							<row> 
								<b-p>Speed | Delay</b-p> : Each type of Spinner also has 2 localized variables, for controling the baseline animation speed/delay. 
								<b>Modifying these</b>, will change the animation speed/delay <b>for that type of spinner <u>only</u></b>.
							</row>
							<div class="wrapper">
								<line> <u> Example: </u> </line>
								<line-space> </line-space>

								<div class="col-4 pl-0">
									<line> .loader-bars	{ </line>
										<indent>
										<line> --spinner-root-animation-speed: 1000; </line>
										<line> --spinner-root-animation-delay: 100; </line>
										</indent>
									<line> } </line>
								</div>

								<div class="col-4 pl-0">
									<line> .loader-bars.loader-speed-fast	{ </line>
										<indent>
										<line> --spinner-root-animation-speed: 750; </line>
										<line> --spinner-root-animation-delay: 75; </line>
										</indent>
									<line> } </line>
								</div>

								<div class="col-4 pl-0">
									<line> .loader-bars.loader-speed-slow	{ </line>
										<indent>
										<line> --spinner-root-animation-speed: 1500; </line>
										<line> --spinner-root-animation-delay: 150; </line>
										</indent>
									<line> } </line>
								</div>
							</div>
						</section>
				</div>

				<!-- Code Tab -->
				<div class="tabs-content article-mainTabs-codeTab"  data-tabs-id="3"
							data-generateCodeFor="['html', 'css', 'css-singular']" 
							data-setCopyContextId="loadingSpinner" 
							data-setFileName="asterisk-component-loadingSpinner">
				</div>
			</div>
		</div>
		
	</article>
 
	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/components/loadingSpinner.js"> </div>
	<!-- ==================================================== -->