	
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style>
		.select-btn { 
			background-color: #613dcc;  color: white; 
			text-align: center; 
			padding: 8px 0; 
			border-radius: 3px;
		}
		.select-btn.active { background-color: green; }

		select {
			width: 100%;
		}

		#asdf {
			position: relative;
			width: 300px;
			height: 100px;
			transform: perspective(1px);
			border: 1px solid black;
			line-height: 100px;
			text-align: center;
		}
		.bg-hvr,
		.bg-hvr > * {
			position: absolute;
			width: 100%; height: 100%;
			z-index: -1;
		}
		.bg-hvr > * {
			transform: scale(0);
			transform-origin: 0% 0%;
			transition: transform .3s;
		}
		.bg-hvr:hover .bg-hvr-1 { background-color: red;    transition-delay: .05s; }
		.bg-hvr:hover .bg-hvr-2 { background-color: blue;   transition-delay: .1s; }
		.bg-hvr:hover .bg-hvr-3 { background-color: yellow; transition-delay: .15s; }

		.bg-hvr:hover > * {
			transform: scale(1);
			transform-origin: 100% 100%;
		}

		.bg-hvr-1 { background-color: red;    transition-delay: .15s; }
		.bg-hvr-2 { background-color: blue;   transition-delay: .1s; }
		.bg-hvr-3 { background-color: yellow; transition-delay: .05s; }

		/*.bg-hvr:hover .bg-hvr-1 { background-color: red;    transition-delay: .4s; }
		.bg-hvr:hover .bg-hvr-2 { background-color: blue;   transition-delay: .3s; }
		.bg-hvr:hover .bg-hvr-3 { background-color: yellow; transition-delay: .2s; }
		.bg-hvr:hover .bg-hvr-3 { background-color: purple; transition-delay: .1s; }*/


		</style>
	<!-- ============================================== -->

	<article>
	
		<h2 class="sr-only"> The 'Tabs' Component </h2>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner">
				<div class="article-mainTabs-title"> Components : Tabs </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> Demo  </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Usage </button>
					<button class="tabs-btn" 				data-tabs-id="3"> Code  </button>
				</div>
			</div>

			<div class="tabs-contentGroup">

				<!-- Demo Tab -->
				<div class="tabs-content article-mainTabs-demoTab tab-expanded" data-tabs-id="1"> 

					<div class="col-12 md-col-6 p-0">
						<div class="tabs testTabs1" style="border: 1px solid black">
							<div class="tabs-btnGroup testTabs1-btnGroup">
								<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
								<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
								<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
							</div>

							<div class="tabs-contentGroup">
								<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
								<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
								<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
							</div>
						</div>
					</div>

					<hr class="xs-visible sm-visible">

					<div class="col-12 md-col-6 p-0">

						<div class="col-6"> Tabs Type </div>
						<div class="col-6">
							<select class="select-tabs-vertical"> 
								<option value="" selected> 			tabs-horizontal (default) 	</option>
								<option value="tabs-vertical"> 		tabs-vertical 				</option>
							</select>
						</div>

						<hr>

						<div class="col-6"> Tabs Direction </div>
						<div class="col-6">
							<select class="select-tabs-reverse"> 
								<option value="" selected> 			normal 					</option>
								<option value="tabs-reverse"> 		tabs-reverse 			</option>
							</select>
						</div>

						<hr>

						<div class="col-6"> Button Alignment </div>
						<div class="col-6">
							<select class="select-tabs-btnStyle"> 
								<option value="buttons-start" selected> 	buttons-start	</option>
								<option value="buttons-center"> 			buttons-center 	</option>
								<option value="buttons-end"> 				buttons-end 	</option>
								<option value="buttons-fill"> 				buttons-fill 	</option>
							</select>
						</div>

						<hr>

						<div class="col-6"> Button Text - Hor Alignment </div>
						<div class="col-6">
							<select class="select-tabs-btnTextAlign-hor"> 
								<option value="btnText-left"> 		btnText-left 			</option>
								<option value="" selected> 			Centered by Default 	</option>
								<option value="btnText-right"> 		btnText-right 			</option>
							</select>
						</div>

						<hr>

						<div class="col-6"> Button Text - Ver Alignment </div>
						<div class="col-6">
							<select class="select-tabs-btnTextAlign-ver"> 
								<option value="btnText-top"> 		btnText-top 			</option>
								<option value="" selected> 			Centered by Default 	</option>
								<option value="btnText-btm"> 		btnText-btm 			</option>
							</select>
						</div>

						<hr>

						<div class="col-6"> Set Height </div>
						<div class="col-6">
							<input class="input-tabs-height" type="number" style="width:100%"/>
						</div>
					</div>
				</div>

				<!-- Usage Tab -->
				<div class="tabs-content article-mainTabs-usageTab" data-tabs-id="2"> 

					<!-- I. Description -->

						<section class="p-0" aria-label="general description">
							<heading> <h2 class="section-title"> I. Description </h2> </heading>

							<p> 
								Baseline <span class="wrapper">Tabs</span> component. 
								
								<button class="spoiler-btn spoiler-btn-autoText title-spoilerBtn" data-spoiler-id="description-more"> More | </button>
							</p>

							<div class="spoiler" data-spoiler-id="description-more">
								<div class="spoiler-content">
									<p> * <span class="wrapper">Can be nested</span> -  <span class="wrapper">Tabs</span> Components can have other <span class="wrapper">Tabs</span> Components as Children, without creating conflicts or requiring additional modifications. </p>
									<p> * <span class="wrapper">Tab Navigation</span> -  within <span class="wrapper">Tabs-item</span> elements in their <span class="wrapper">collapsed</span> state, are not focusable by keyboard navigation. </p>
								</div>
							</div>
						</section>

					<!-- II. Initialization -->

						<section class="p-0" aria-label="initialization">
							<heading> <h2 class="section-title"> II. Initialization </h2> </heading>

							<p> <b>Step 1.</b> Download and refference the [ <b-p>asterisk-component-tabs.css</b-p> ] CSS file. </p>
							<div class="wrapper"> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-component-tabs.css</b-p>" type="text/css" rel="stylesheet"> </div>

							<p> <b>Step 2.</b> Download and refference the [ <b-p>asterisk-component-tabs.js</b-p> ] JS file. </p>
							<div class="wrapper"> &lt;script src="<b-r>--myPath--</b-r><b-p>/asterisk-component-tabs.js</b-p>" type="text/javascript">&lt;/script> </div>

							<p> <b>Step 3.</b> Make the next function call : </p>

							<div class="wrapper"> 
								<div class="md-flex md-flex-cross-center"> 
									<div class="col-12 md-col-10"> asteriskObj.components.tabs.init() </div>

									<button class="col-12 md-col-2 mt-sm md-mt-0 spoiler-btn spoiler-btn-autoText" data-spoiler-id="spoiler-init"> </button>
								</div>

								<div class="spoiler" data-spoiler-id="spoiler-init">
									<div class="spoiler-content">
										<p class="my-xs"> asteriskObj.components.tabs.init(targetElem, delegateEventListener) </p>

										<hr>

										<p class="my-xs"> Case: <b-r>asteriskObj.components.tabs.init()</b-r> </p>
										<p class="my-xs"> All <span class="wrapper">tabs</span> Elements within the <span class="wrapper">document</span> will be initialized. </p>
										<p class="mt-0 sub-heading"> * an <span class="wrapper">eventListener</span> will be added to each <span class="wrapper">tabs-btnContainer Element</span> </p>

										<hr>

										<p class="my-xs"> Case: <b-r>asteriskObj.components.tabs.init(</b-r> <span class="wrapper"><b-p>tabs Element</b-p></span> <b-r>)</b-r> </p>
										<p class="my-xs"> Only the provided <span class="wrapper">tabs</span> element will be initialized. </p>
										<p class="mt-0 sub-heading"> * an <span class="wrapper">eventListener</span> will be added to the provided component's <span class="wrapper">tabs-btnGroup Element</span> </p>
										<p class="mt-0 sub-heading"> * used for dinamically-added content </p>

										<hr>

										<p class="my-xs"> Case: <b-r>asteriskObj.components.tabs.init(</b-r> <span class="wrapper"><b-p><u>NON</u>-tabs Element</b-p></span> <b-r>)</b-r> </p>
										<p class="my-xs"> All <span class="wrapper">tabs</span> Elements within the provided <span class="wrapper"><b-p><u>NON</u>-tabs Element</b-p></span> will be initialized. </p>
										<p class="mt-0 sub-heading"> * an <span class="wrapper">eventListener</span> will be added to each <span class="wrapper">tabs-btnGroup Element</span> </p>
										<p class="mt-0 sub-heading"> * used to initialize <span class="wrapper">tabs</span> elements within a portion of the website </p>

										<hr>

										<p class="my-xs"> Case: <b-r>asteriskObj.components.tabs.init(</b-r> <span class="wrapper"><b-p><u>NON</u>-tabs Element</b-p></span> , <span class="wrapper"><b-p>true</b-p></span> <b-r>)</b-r> </p>
										<p class="my-xs"> The <span class="wrapper">tabs-btn functionality </span> will be delegated to the <span class="wrapper"><b-p><u>NON</u>-tabs Element</b-p></span> provided, enabling any <span class="wrapper">tabs-btn</span> children to function through <b>Event Delegation</b>. </p>
										<p class="mt-0 sub-heading"> * the <span class="wrapper">eventListener</span> will be added to the <span class="wrapper"><b-p><u>NON</u>-tabs Element</b-p></span> </p>
										<p class="mt-0 sub-heading"> * can be used on the <span class="wrapper">document.body</span> to enable any and all <span class="wrapper">tabs-btn</span> Elements </p>
									</div>
								</div>
							</div>
						</section>

					<!-- III. Usage -->

						<section class="px-0" aria-label="usage">
							<heading> <h2 class="section-title"> III. Usage </h2> </heading>

							<div class="col-12 p-0 md-flex md-flex-cross-center">
								<div class="col-12 md-col-5 p-0">
									<p> <b>Just add the Component's Markup to your Document :</b> </p>

									<div class="col-12"> <hr> </div>

									<p class="sub-heading"> * <span class="wrapper"><b>tabs-btn</b></span> elements and <span class="wrapper"><b>tabs-content</b></span> elements are synchronised with each other by having the same <span class="wrapper"><b-p>data-tabs-id</b-p></span> value. </p>

									<p class="sub-heading mt-0"> * each synchronised <span class="wrapper"><b>tabs-btn</b></span> and <span class="wrapper"><b>tabs-content</b></span> elements require an unique <span class="wrapper"><b-p>data-tabs-id</b-p></span> value, within the <span class="wrapper">tabs</span>. </p>

								</div>

								<div class="col-12 md-col-7 p-0">
									<div class="wrapper">
										<pre class="pre-removeTabSpaces">
										    &lt;div class="<b>tabs</b>">
										        &lt;div class="<b>tabs-btnGroup</b>">
										            &lt;button class="<b>tabs-btn</b> tabBtn-active" <b-p>data-tabs-id</b-p>="<b-r>1</b-r>"> Button 1 <i class="fontFix-closeDiv"></i>button>
										            &lt;button class="<b>tabs-btn</b>"               <b-p>data-tabs-id</b-p>="<b-r>2</b-r>"> Button 2 <i class="fontFix-closeDiv"></i>button>
										            &lt;button class="<b>tabs-btn</b>"               <b-p>data-tabs-id</b-p>="<b-r>3</b-r>"> Button 3 <i class="fontFix-closeDiv"></i>button>
										        <i class="fontFix-closeDiv"></i>div>

										        &lt;div class="<b>tabs-contentGroup</b>">
										            &lt;div class="<b>tabs-content</b> tab-expanded" <b-p>data-tabs-id</b-p>="<b-r>1</b-r>"> Content 1 <i class="fontFix-closeDiv"></i>div>
										            &lt;div class="<b>tabs-content</b>"              <b-p>data-tabs-id</b-p>="<b-r>2</b-r>"> Content 2 <i class="fontFix-closeDiv"></i>div>
										            &lt;div class="<b>tabs-content</b>"              <b-p>data-tabs-id</b-p>="<b-r>3</b-r>"> Content 3 <i class="fontFix-closeDiv"></i>div>
										        <i class="fontFix-closeDiv"></i>div>
										    <i class="fontFix-closeDiv"></i>div>
									    </pre>
									</div>
								</div>
							</div>

							<hr>

							<div class="accordion">
								<div class="accordion-group">
									<button class="accordion-btn"> Adding extra tabs/sections : </button>
									<div class="accordion-content">
										<div class="col-12 p-0 md-flex md-flex-cross-center">
											<div class="col-12 md-col-5 p-0">
												<p> <b>Step 1.</b> Add a new <span class="wrapper">button</span> with the <span class="wrapper">tabs-btn</span> class, within the <span class="wrapper">tabs-btnGroup</span> Container Element. </p>
												<p> <b>Step 2.</b> Add a new <span class="wrapper">div</span> with the <span class="wrapper">tabs-content</span> class, within the <span class="wrapper">tabs-contentGroup</span> Container Element. </p>
												<p> <b>Step 3.</b> Give the newly-added <span class="wrapper">tabs-btn</span> and <span class="wrapper">tabs-content</span> Elements the same <span class="wrapper">data-tabs-id</span> value. </p>
												<p class="sub-heading mt-0"> * the <span class="wrapper">data-tabs-id</span> value must be unique within the current <span class="wrapper">tabs</span> Parent Element. </p>
											</div>

											<div class="col-12 md-col-7 p-0">
												<div class="wrapper">
													<pre class="pre-removeTabSpaces">
													    &lt;div class="<b>tabs</b>">
													        &lt;div class="<b>tabs-btnGroup</b>">
													            &lt;button class="<b>tabs-btn</b> tabBtn-active" <b-p>data-tabs-id</b-p>="<b-r>1</b-r>"> Button 1 &lt;/button>
													            &lt;button class="<b>tabs-btn</b>"               <b-p>data-tabs-id</b-p>="<b-r>2</b-r>"> Button 2 &lt;/button>
													            &lt;button class="<b>tabs-btn</b>"               <b-p>data-tabs-id</b-p>="<b-r>3</b-r>"> Button 3 &lt;/button>
													            <span class="wrapper" style="margin-left: calc(-.4em); max-width: none;">&lt;button class="<b>tabs-btn</b>"               <b-p>data-tabs-id</b-p>="<b-r>n</b-r>"> Button n &lt;/button></span>
													        &lt;/div>

													        &lt;div class="<b>tabs-contentGroup</b>">
													            &lt;div class="<b>tabs-content</b> tab-expanded" <b-p>data-tabs-id</b-p>="<b-r>1</b-r>"> Content 1 &lt;/div>
													            &lt;div class="<b>tabs-content</b>"              <b-p>data-tabs-id</b-p>="<b-r>2</b-r>"> Content 2 &lt;/div>
													            &lt;div class="<b>tabs-content</b>"              <b-p>data-tabs-id</b-p>="<b-r>3</b-r>"> Content 3 &lt;/div>
													            <span class="wrapper" style="margin-left: calc(-.4em); max-width: none;">&lt;div class="<b>tabs-content</b>"              <b-p>data-tabs-id</b-p>="<b-r>n</b-r>"> Content n &lt;/div></span>
													        &lt;/div>
													    &lt;/div>
													</pre>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

										
						</section>

					<!-- IV. Styles -->
					
						<section class="p-0" aria-label="styles">
							<heading> <h2 class="section-title"> IV. Styles </h2> </heading>

							<div class="accordion">

								<!-- Tabs : Type | Direction -->
								<div class="accordion-group px-md my-sm">
									<button class="accordion-btn"> Tabs : Type | Direction </button>
									<div class="accordion-content">

										<p> <b>Sets the placement of the <span class="wrapper">tabs-btnGroup</span> and <span class="wrapper">tabs-contentGroup</span> Elements, within the <span class="wrapper">tabs</span> Container.</b> </p>

										<hr class="my-0">

										<p> <b>* The classes</b> are placed on the <span class="wrapper">tabs</span> Element. </p>
										<p class="mt-0"> <b>* The properties</b> are changed for the <span class="wrapper">tabs</span> Element itself. </p>
										<p class="mt-0"> <b>* The style change</b> will always take effect for the <span class="wrapper">tabs-btnGroup</span> and <span class="wrapper">tabs-contentGroup</span> Elements. </p>

										<table class="col-12">
											<thead>
												<tr>
													<td> <b>Class</b>  		</td>
													<td> <b>Effect</b> 		</td>
													<td> <b>Applied On</b> 	</td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td> default </td>
													<td> flex-direction: column </td>
													<td> tabs </td>
												</tr>
												<tr>
													<td> <span class="wrapper">tabs-vertical</span> </td>
													<td> flex-direction: row </td>
													<td> tabs </td>
												</tr>
												<tr>
													<td> <span class="wrapper">tabs-reverse</span> </td>
													<td> flex-direction: column-reverse </td>
													<td> tabs </td>
												</tr>
												<tr>
													<td> <span class="wrapper">tabs-vertical</span> + <span class="wrapper">tabs-reverse</span> </td>
													<td> flex-direction: row-reverse </td>
													<td> tabs </td>
												</tr>
											</tbody>
										</table>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs" style="border: 1px solid black">
														<div class="tabs-btnGroup">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pr-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs <b>tabs-reverse</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs tabs-reverse" style="border: 1px solid black">
														<div class="tabs-btnGroup">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs <b>tabs-vertical</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs tabs-vertical" style="border: 1px solid black">
														<div class="tabs-btnGroup">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pr-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs <b>tabs-vertical</b> <b>tabs-reverse</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs tabs-vertical tabs-reverse" style="border: 1px solid black">
														<div class="tabs-btnGroup">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									
									</div>
								</div>

								<!-- Buttons : Alignment | Size -->
								<div class="accordion-group px-md my-sm">
									<button class="accordion-btn"> Buttons : Alignment | Size </button>
									<div class="accordion-content">

										<p> <b>Sets the placement of the <span class="wrapper">tabs-btn</span> Elements within the <span class="wrapper">tabs-btnGroup</span> Container.</b> </p>

										<hr class="my-0">

										<p> <b>* The classes</b> are placed on the <span class="wrapper">tabs-btnGroup</span> Element. </p>
										<p class="mt-0"> <b>* The properties</b> can be changed for either the <span class="wrapper">tabs-btnGroup</span> Element, or it's children <span class="wrapper">tabs-btn</span> Elements. </p>
										<p class="mt-0"> <b>* The style change</b> will always take effect for the <span class="wrapper">tabs-btn</span> Elements. </p>
									
										<table class="col-12">
											<thead>
												<tr>
													<td> <b>Class</b>  		</td>
													<td> <b>Effect</b> 		</td>
													<td> <b>Applied On</b> 	</td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td> <span class="wrapper">buttons-start</span> / default </td>
													<td> justify-content: flex-start </td>
													<td> tabs-btnGroup </td>
												</tr>
												<tr>
													<td> <span class="wrapper">buttons-center</span> </td>
													<td> justify-content: center </td>
													<td> tabs-btnGroup </td>
												</tr>
												<tr>
													<td> <span class="wrapper">buttons-end</span> </td>
													<td> justify-content: flex-end </td>
													<td> tabs-btnGroup </td>
												</tr>
												<tr>
													<td> <span class="wrapper">buttons-fill</span> </td>
													<td> flex: 1 </td>
													<td> tabs-btn </td>
												</tr>
											</tbody>
										</table>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs" style="border: 1px solid black">
														<div class="tabs-btnGroup">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pr-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup <b>buttons-center</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs" style="border: 1px solid black">
														<div class="tabs-btnGroup buttons-center">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup <b>buttons-end</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs" style="border: 1px solid black">
														<div class="tabs-btnGroup buttons-end">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pr-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup <b>buttons-fill</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs" style="border: 1px solid black">
														<div class="tabs-btnGroup buttons-fill">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>

								<!-- Buttons : Text Alignment -->
								<div class="accordion-group px-md my-sm">
									<button class="accordion-btn"> Buttons : Text Alignment </button>
									<div class="accordion-content">

										<p class="mb-0"> <b>Sets the placement of the <span class="wrapper">tabs-btn</span> Elements' <span class="wrapper">text</span>, within the <span class="wrapper">tabs-btnGroup</span> Container.</b> </p>
										<p class="sub-heading"> * These styles will take effect only if the <span class="wrapper">tabs-btn</span> Elements have extra space - their <span class="wrapper">width</span>/<span class="wrapper">height</span> is larger than their content (text). </p>
										<p class="sub-heading mt-0"> * This happens when using the <span class="wrapper">buttons-fill</span> class, or when giving each <span class="wrapper">tabs-btn</span> a specific size value. </p>

										<hr class="my-0">

										<p> <b>* The classes</b> are placed on the <span class="wrapper">tabs-btnGroup</span> Element. </p>
										<p class="mt-0"> <b>* The properties</b> are changed for the <span class="wrapper">tabs-btn</span> Elements. </p>
										<p class="mt-0"> <b>* The style change</b> will always take effect for the <span class="wrapper">tabs-btn</span> Elements' <span class="wrapper">text</span>. </p>
									
										<table class="col-12">
											<thead>
												<tr>
													<td> <b>Class</b>  		</td>
													<td> <b>Effect</b> 		</td>
													<td> <b>Applied On</b> 	</td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td> <span class="wrapper">btnText-x-center</span> / default </td>
													<td> justify-content: center; </td>
													<td> tabs-btn </td>
												</tr>
												<tr>
													<td> <span class="wrapper">btnText-left</span> </td>
													<td> justify-content: flex-start; </td>
													<td> tabs-btn </td>
												</tr>
												<tr>
													<td> <span class="wrapper">btnText-right</span> </td>
													<td> justify-content: flex-end; </td>
													<td> tabs-btn </td>
												</tr>
												<tr>
													<td> <span class="wrapper">btnText-y-center</span> / default </td>
													<td> align-items: center; </td>
													<td> tabs-btn </td>
												</tr>
												<tr>
													<td> <span class="wrapper">btnText-top</span> </td>
													<td> align-items: flex-start; </td>
													<td> tabs-btn </td>
												</tr>
												<tr>
													<td> <span class="wrapper">btnText-btm</span> </td>
													<td> align-items: flex-end; </td>
													<td> tabs-btn </td>
												</tr>
											</tbody>
										</table>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup buttons-fill <b>btnText-left</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs" style="border: 1px solid black">
														<div class="tabs-btnGroup buttons-fill btnText-left">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup buttons-fill <b>btnText-right</b>"> ... &lt;/div> </div> </div>

												<div class="col-12"> 
													<div class="tabs" style="border: 1px solid black">
														<div class="tabs-btnGroup buttons-fill btnText-right">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup buttons-fill <b>btnText-top</b>"> </div> </div>

												<div class="col-12"> 
													<div class="tabs tabs-vertical" style="border: 1px solid black; height: 200px">
														<div class="tabs-btnGroup buttons-fill btnText-top">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-12 md-col-6 md-pl-0">
											<div class="wrapper">
												<div class="col-12 mb-sm"> <div class="wrapper"> &lt;div class="tabs-btnGroup buttons-fill <b>btnText-btm</b>"> </div> </div>

												<div class="col-12"> 
													<div class="tabs tabs-vertical" style="border: 1px solid black; height: 200px">
														<div class="tabs-btnGroup buttons-fill btnText-btm">
															<button class="tabs-btn tabBtn-active" data-tabs-id="1"> Btn 1 </button>
															<button class="tabs-btn" data-tabs-id="2"> Btn 2 </button>
															<button class="tabs-btn" data-tabs-id="3"> Btn 3 </button>
														</div>

														<div class="tabs-contentGroup">
															<div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1 </div>
															<div class="tabs-content" data-tabs-id="2"> Content 2 </div>
															<div class="tabs-content" data-tabs-id="3"> Content 3 </div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>

							</div>

						</section>
				</div>

				<!-- Code Tab -->
				<div class="tabs-content article-mainTabs-codeTab"  data-tabs-id="3">
					<div class="finalCode-container">
						<div class="tabs">
							<div class="tabs-btnGroup buttons-fill">
								<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> HTML Markup </button>
								<button class="tabs-btn" 				data-tabs-id="2"> CSS         </button>
								<button class="tabs-btn" 				data-tabs-id="3"> JS          </button>
							</div>

							<div class="tabs-contentGroup">
								<div class="tabs-content tab-expanded pr-0" data-tabs-id="1"> 

									<div class="copyContext-btnContainer" data-copyContextId="tabs-html">
										<button class="copyContext-btn copyContext-btn-copyText"> </button>
									</div>

									<div class="copyContext" data-copyContextId="tabs-html">

										<div class="finalCode-blockContainer">
											<pre class="pre-removeTabSpaces">
											    &lt;div class="tabs">
											        &lt;div class="tabs-btnGroup">
											            &lt;button class="tabs-btn tabBtn-active" data-tabs-id="1"> Button 1 &lt;/button>
											            &lt;button class="tabs-btn"               data-tabs-id="2"> Button 2 &lt;/button>
											            &lt;button class="tabs-btn"               data-tabs-id="3"> Button 3 &lt;/button>
											        &lt;/div>

											        &lt;div class="tabs-contentGroup">
											            &lt;div class="tabs-content tab-expanded" data-tabs-id="1"> Content 1&lt;/div>
											            &lt;div class="tabs-content"              data-tabs-id="2"> Content 2 &lt;/div>
											            &lt;div class="tabs-content"              data-tabs-id="3"> Content 3 &lt;/div>
											        &lt;/div>
											    &lt;/div> 
											</pre>

										</div> <!-- finalCode-blockContainer -->
									</div> <!-- copyContext -->
								</div> <!-- tabs-content (1) -->

								<div class="tabs-content pr-0" data-tabs-id="2"> 

									<div class="copyContext-btnContainer" data-copyContextId="tabs-css">
										<button class="copyContext-btn copyContext-btn-copyText"> </button>
										<button class="copyContext-btn copyContext-btn-saveFile" data-fileName="asterisk-component-tabs-spec" 	data-fileType=".css"> </button>
										<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
									</div>
									
									<div class="copyContext" data-copyContextId="tabs-css-normal">

										<div class="finalCode-blockContainer">
											<pre class="pre-removeTabSpaces">
											    /* Tabs */
											    /* ----------------------------------------*/

											        /* Colors */
											        /* ----------------------------------------*/

											            .tabs-btn {
											                background-color: rgba(3,3,3,.1);
											                border: 1px solid rgba(3,3,3,.1);
											            }
											            
											            .tabs-btn.tabBtn-active { 
											                background-color: #613dcc;
											                color: #FFFFFF;
											            }

											        /* General */
											        /* ----------------------------------------*/

											            .tabs,
											            .tabs-btnGroup,
											            .tabs-contentGroup,
											            .tabs-content {
											                display: inline-block; float: left;
											                position: relative;    width: 100%;
											            }

											            .tabs-btnGroup { 
											                display: -webkit-box; 
											                display: -ms-flexbox;   
											                display: -webkit-flex; 
											                display: flex;
											            }

											        /* Clearfix */
											        /* ----------------------------------------*/

											            .tabs:after,
											            .tabs-btnGroup:after,
											            .tabs-contentGroup:after,
											            .tabs-content:after {
											                content: '';
											                display: table;
											                clear: both;
											            }

											        /* Buttons */
											        /* ----------------------------------------*/
											            
											            .tabs-btn {
											                position: relative; display: inline-block;
											                padding: 10px;      text-align: center;

											                cursor: pointer;    cursor: hand;
											                overflow: hidden;   text-overflow: ellipsis;
											            }

											            /* Overlay */
											            .tabs-btn:after {
											                content: '';    position: absolute;
											                width: 100%;    height: 100%;
											                top: 0;         left: 0;
											            }

											            /* Button Alignment */
											            .tabs-btnGroup.tabBtns-left     { justify-content: flex-start;  }
											            .tabs-btnGroup.tabBtns-right    { justify-content: flex-end;    }
											            .tabs-btnGroup.tabBtns-center   { justify-content: center;      }
											            .tabs-btnGroup.buttons-fill .tabs-btn { flex: 1; }

											            /* Text Align */
											            .tabs-btnGroup.btnGroup-text-left   .tabs-btn { text-align: left  }
											            .tabs-btnGroup.btnGroup-text-right  .tabs-btn { text-align: right }

											        /* Content */
											        /* ----------------------------------------*/

											            .tabs-contentGroup {
											                border: 1px solid rgba(3,3,3,.1);
											            }

											            .tabs-content:not(.tab-expanded) { 
											                width:   0 !important;  height:  0 !important;
											                padding: 0 !important;  margin:  0 !important;
											                overflow:   hidden !important;
											                visibility: hidden !important;
											            }

											            .tabs-content { 
											                padding: 10px;
											            }
											</pre> 
										</div> <!-- finalCode-blockContainer -->
									</div> <!-- copyContext -->
								</div> <!-- tabs-content (2) -->

								<div class="tabs-content pr-0" data-tabs-id="3"> 

									<div class="copyContext-btnContainer" data-copyContextId="tabs-js">
										<button class="copyContext-btn copyContext-btn-copyText"> </button>
										<button class="copyContext-btn copyContext-btn-saveFile" data-fileName="asterisk-component-tabs-spec" 	data-fileType=".js"> </button>
										<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
									</div>
									
									<div class="copyContext" data-copyContextId="tabs-js">

										<div class="finalCode-blockContainer">
											<pre class="pre-removeTabSpaces">
											    // [asteriskObj] init - if necessary
											    // -----------------------------------------------------

											        var asteriskObj = asteriskObj || {} ;
											        asteriskObj.components = asteriskObj.components || {} ;

											    // Asterisk Component - [Tabs]
											    // -----------------------------------------------------

											        (function(){

											            // Component.Object Setup 
											            // -----------------------------------------------------
											            
											                asteriskObj.components.tabs = {};
											                var tabsObj = asteriskObj.components.tabs;

											            // Dependencies (not required if using [asterisk-utility.js])
											            // -----------------------------------------------------
											            
											                // hasClass()
											                // -----------------------------------------------------

											                    if (hasClass === undefined) {

											                        function hasClass( elem , klass ) {
											                            return (" " + elem.className + " " ).indexOf( " " + klass + " " ) > -1
											                        }

											                    };
											                
											                // getParent()
											                // -----------------------------------------------------

											                    if (getParent === undefined) {
											                        
											                        function getParent( elem, identifier ) {

											                            elemParent = elem.parentElement;

											                            if (elemParent) {

											                                var firstChar = identifier.charAt(0);

											                                if  (verify())  { return elemParent } 
											                                else            { return getParent(elemParent, identifier) }

											                            } else { return null };

											                            // ---
											                            function verify() {

											                                var identif_substr = identifier.substring(1); // remove first char - for class/id cases

											                                if      (firstChar === '.') { return ( " " + elemParent.className + " " ).indexOf( " " + identif_substr + " " ) > -1 } 
											                                else if (firstChar === '#') { return (elemParent.id      == identif_substr) } 
											                                else                        { return (elemParent.tagName == identifier.toUpperCase()) }
											                            }
											                        }

											                    };  

											            // Init
											            // -----------------------------------------------------

											                tabsObj.init = function(current_target, delegateEventListener) {
											                    
											                    if (current_target) {

											                        if (hasClass(current_target, 'tabs')) {

											                            tabsObj.activate(current_target)

											                        } else if (delegateEventListener === true) {

											                            tabsObj.delegate(current_target)

											                        } else { 

											                            var tabs = Array.from(current_target.getElementsByClassName('tabs'));   
											                            tabs.map(tabs => tabsObj.activate(tabs));

											                        }

											                    } else {

											                        var allTabs = Array.from(document.getElementsByClassName('tabs'));  
											                        allTabs.map(tabs => tabsObj.activate(tabs));    

											                    }

											                };

											            // Activate 
											            // -----------------------------------------------------

											                tabsObj.activate = function(current_target) {

											                    current_target = current_target.getElementsByClassName('tabs-btnGroup')[0];

											                    current_target.addEventListener('click', function(e) {
											                        if (hasClass(e.target, 'tabs-btn')) { tabsObj.run(e.target) }
											                    })
											                };

											            // Delegate
											            // -----------------------------------------------------

											                tabsObj.delegate = function(current_target) {

											                    current_target.addEventListener('click', function(e) {
											                        if (hasClass(e.target, 'tabs-btn')) { tabsObj.run(e.target) }
											                    })
											                };
											                    
											            // Run
											            // -----------------------------------------------------

											                tabsObj.run = function(current_tabBtn) {

											                    // update 'active' status on Btn
											                    var tabButtons = Array.from(current_tabBtn.parentElement.getElementsByClassName('tabs-btn'));
											                    tabButtons.map(btn => btn.classList.remove('tabBtn-active'));
											                    current_tabBtn.classList.add('tabBtn-active');

											                    // update 'expanded' status on content
											                    var currentIndex = current_tabBtn.getAttribute('data-tabs-id');
											                    var targetParent = getParent(current_tabBtn, '.tabs');

											                    var contentItems = Array.from(targetParent.getElementsByClassName('tabs-content'));
											                    contentItems = contentItems.filter(item => getParent(item, '.tabs') === targetParent);
											                    contentItems.map(function(item) { 
											                        if (item.getAttribute('data-tabs-id') == currentIndex) { item.classList.add   ('tab-expanded') }
											                        else                                                    { item.classList.remove('tab-expanded') }
											                    })

											                };
											            
											        })();
											</pre> 
										</div> <!-- finalCode-blockContainer -->
									</div> <!-- copyContext -->
								</div> <!-- tabs-content (3) -->

							</div> <!-- finalCode-container -->
						</div>
					</div>
				</div>
				
			</div>
		</div>

	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/components/tabs.js"> </div>
	<!-- ==================================================== -->