
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->
	<style> 

		._route_mainView-generateDemos {
			margin: 50px 0;
		}

		.demoItem { 
			height: 75px; 
			background-color: red; color: white;
			border-radius: 6px;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		</style>
	<!-- ============================================== -->

	<article>

		<header class="sr-only"> <h2> Hover Text </h2> </header>

		<div class="tabs article-mainTabs">

			<div class="article-mainTabs-banner">
				<div class="article-mainTabs-title"> Component : Tooltip (responsive) </div>

				<div class="tabs-btnGroup article-mainTabs-btnGroup buttons-fill">
					<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> Demo  </button>
					<button class="tabs-btn" 				data-tabs-id="2"> Usage </button>
					<button class="tabs-btn" 				data-tabs-id="3"> Code  </button>
				</div>
			</div>

			<div class="tabs-contentGroup">

				<!-- Demo Tab -->
				<div class="tabs-content article-mainTabs-demoTab tab-expanded" data-tabs-id="1"> 
					<div class="_route_mainView-generateDemos"> </div> 
				</div>

				<!-- Usage Tab -->
				<div class="tabs-content article-mainTabs-usageTab" data-tabs-id="2"> 

					<!-- I. Description -->

						<section class="p-0" aria-label="general description">
							<heading> <h2 class="section-title"> I. Description </h2> </heading>

							<p class="mb-0"> A collection of utility classes, which add a text pseudo-element that appears when the element is hovered. </p>
							<p> The effect is done without requiring extra HTML elements. </p>
							<p> This collection allows changing the direction of the effect on different viewports. If this is not desired, it is recommended to use the [effects-hoverText] collection instead. </p>
							<p> This collection is sepparate, as it requires a different syntax and CSS rules. </p>

						</section>

					<!-- II. Initialization -->

						<section class="p-0" aria-label="initialization">
							<heading> <h2 class="section-title"> II. Initialization </h2> </heading>

							<p> 
								Just download and refference the [ <b-p>asterisk-effects-hvrText-responsive.css</b-p> ] file. 
								<span class="sub-heading float-right"> * Prefferably done in the &lt;head> seaction </span> 
							</p>

							<div clas="wrapper"> 
								<line> &lt;link href="<b-r>--myPath--</b-r><b-p>/asterisk-effects-hvrText-responsive.css</b-p>" type="text/css" rel="stylesheet"> </line>
							</div>
						</section>

					<!-- III. Usage -->

						<section class="p-0" aria-label="usage">
							<heading> <h2 class="section-title"> III. Usage </h2> </heading>

							<p> Each Effect requires <u>three</u> declarations <u>on the element</u> :</p>
							<p> 1. <span class="wrapper"><b>hasHvrText</b>-<b-p>*pseudoElement*</b-p></span> <span class="wrapper"><b>class</b></span> - defining which pseudo-element will be used </p>
							<p> 2. <span class="wrapper"><b>hasHvrText</b>-<b-r>*direction*</b-r></span> <span class="wrapper"><b>class</b></span> - defines where the element will be positioned (can be changed for diff. viewports) </p>
							<p> 3. <span class="wrapper"><b-o>data-hvrText</b-o></span> <span class="wrapper"><b>attribute</b></span> - defining the text which will be shown on hover. </p>
							<div clas="wrapper"> 
								<p> 
									<b> Format : </b> 
									&lt;div class="<span class="wrapper"><b>hasHvrText</b>-<b-p>*pseudoElement*</b-p></span> <span class="wrapper"><b>hasHvrText</b>-<b-r>*direction*</b-r></span>" <span class="wrapper"><b-o>data-hvrText=</b-o>"Text-to-be-shown"</span>> &lt;/div> 
								</p>
								<hr>
								<p> 
									<b> Example : </b> 
									&lt;div class="<span class="wrapper"><b>hasHvrText</b>-<b-p>before</b-p></span> <span class="wrapper"><b>hasHvrText</b>-<b-r>left</b-r></span>" <span class="wrapper"><b-o>data-hvrText=</b-o>"Show me on hover!"</span>> &lt;/div> 
								</p> 
							</div>
						</section>

					<!-- IV. Class-name Syntax -->

						<section class="p-0 mb-0" aria-label="Class-name Syntax">
							<heading> <h2 class="section-title"> IV. Class-name Syntax </h2> </heading>

							<p> Each className has 2 parts : </p>
							<p class="mt-0"> 
								1. static <span class="wrapper"><b>hasHvrText-*</b></span> prefix 
							</p>
							<p class="mt-0">
								2. <span class="wrapper">*-<b-p>pseudoElement</b-p></span> or <span class="wrapper">*-<b-r>direction</b-r></span> suffix. 
							</p>

							<table class="col-12">
								<thead class="text-bold">
									<tr>
										<td> Item </td>
										<td> Values </td>
										<td> Description </td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> *-<b-p>pseudoElement</b-p> </td>
										<td> before | after </td>
										<td> defines which pseudo-element will be used </td>
									</tr>
									<tr>
										<td> *-<b-r>direction</b-r> </td>
										<td> left | right | top | btm </td>
										<td> defines where the element will be positioned </td>
									</tr>
								</tbody>
							</table>
						</section>

					<!-- V. Viewport-Prefixes -->

						<section class="p-0" aria-label="Viewport-Prefixes">
							<heading> <h2 class="section-title"> V. Responsive Utilities : Viewport-Prefixes </h2> </heading>

							<p>
								To create different scenarios for specific viewports, any <span class="wrapper">hasHvrText-<b-r>*direction*</b-r></span> class can be prefixed with any <span class="wrapper"> *viewport*- </span> or <span class="wrapper"> *viewport*-o- </span> syntax.
							</p>

							<div class="col-12">
								<div clas="wrapper"> 
									<line> <b> Format : </b> 
										&lt;div class="
											<span class="wrapper"><b-o>hasHvrText-</b-o><b-p>pseudoElement</b-p></span> 
											<span class="wrapper"><b-o>hasHvrText</b-o>-<b-r>direction</b-r></span>
											<span class="wrapper"><b>*viewportPrefix*</b>-<b-o>hasHvrText</b-o>-<b-r>direction</b-r></span>"> &lt;/div> </line>

									<hr>

									<table class="col-12 table-plain p-0"> 
										<tbody>
											<tr>
												<td> 
													<b> Example : </b> 
													&lt;div class="
														<span class="wrapper"><b-o>hasHvrText-</b-o><b-p>before</b-p></span> 
														<span class="wrapper"><b-o>hasHvrText</b-o>-<b-r>top</b-r></span> 
														<span class="wrapper"><b>sm</b>-<b-o>hasHvrText</b-o>-<b-r>left</b-r></span>"> &lt;/div> 
												</td>
											</tr>
											<tr>
												<td>
													// The effect will be : on 'top' for xs viewports - on 'left' for sm viewports or larger
												</td>
											<tr>
												<td> <b> Example : </b> 
												&lt;div class="
													<span class="wrapper"><b-o>hasHvrText-</b-o><b-p>before</b-p></span> 
													<span class="wrapper"><b-o>hasHvrText</b-o>-<b-r>top</b-r></span> 
													<span class="wrapper"><b>sm-o</b>-<b-o>hasHvrText</b-o>-<b-r>left</b-r></span>"> &lt;/div> </td>
											</tr>
											<tr>
												<td>
													// The effect will be : on 'top' for xs viewports - on 'left' for sm viewports only - on 'top' for other viewports
												</td>
											<tr>
										</tbody>
									</table> 
								</div>

								<table class="col-12">
									<tbody>
										<tr>
											<td> <b>Viewport values</b> </td>
											<td class="border-left"> &nbsp; </td>
											<td class="border-left"> sm-* </td>
											<td class="border-left"> md-* </td>
											<td class="border-left"> lg-* </td>
											<td class="border-left"> xl-* </td>
										</tr>
										<tr>
											<td> <b>Viewport-only values</b> </td>
											<td class="border-left"> xs-o-* </td>
											<td class="border-left"> sm-o-* </td>
											<td class="border-left"> md-o-* </td>
											<td class="border-left"> lg-o-* </td>
											<td class="border-left"> &nbsp; </td>
										</tr>
									</tbody>
								</table>

								<div clas="wrapper"> 
									<div class="col-6 p-0">&lt;div class="<b>hasHvrText</b>-<b-r>left</b-r>-<b-p>before</b-p>"> &lt;/div> </div>
									<div class="col-6"> Will take effect on all viewports (xs and higher) </div>
								</div> 
								<div clas="wrapper"> 
									<div class="col-6 p-0">&lt;div class="<b>sm</b>-<b>hasHvrText</b>-<b-r>left</b-r>-<b-p>before</b-p>"> &lt;/div> </div>
									<div class="col-6"> Will take effect on specified viewport (sm) and higher </div>
								</div> 
								<div clas="wrapper"> 
									<div class="col-6 p-0">&lt;div class="<b>sm-o</b>-<b>hasHvrText</b>-<b-r>left</b-r>-<b-p>before</b-p>"> &lt;/div> </div>
									<div class="col-6"> Will take effect on specified viewport (sm) only </div>
								</div>

								<button class="col-12 float-right btn-showViewportTable"> Show Viewport-Prefix Table </button>

							</div>
						</section>
				</div>

				<!-- Code Tab -->
				<div class="tabs-content article-mainTabs-codeTab"  data-tabs-id="3"
							data-generateCodeFor="['html', 'css']" 
							data-setCopyContextId="hvrText" 
							data-setFileName="asterisk-effects-hvrText">
				</div>
				
			</div>
		</div>
	
	</article>	

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/effects_hvrText.js"> </div>
	<!-- ==================================================== -->