
	<!-- ===================== Route ================== -->
	<script src="../../js/route_intermediary.js"> </script>
	<!-- ============================================== -->

	<article>

		<div class="article-title noTextOverlay"> Functionality : Syntactic Sugar </div>

		<header class="sr-only"> <h2> Intermediary Utility Functions </h2> </header>

		<section class="p-0 m-0">
			<div class="sticky-title"> Array </div>

				<!-- Clone -->
				<!-- ============================================== -->

					<div class="title-withSpoilerBtn">
						<div class="col-12 sm-col-5"> <b-r>array_clone()</b-r></div>
						<div class="col-12 sm-col-5"> Clones the array </div> 
						<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_clone()"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="array_clone()">
						<div class="spoiler-content px-md">
							<div class="wrapper">
								<div class="copyContext-btnContainer" data-copyContextId="array_clone-1">
									<button class="copyContext-btn copyContext-btn-copyText"> </button>
									<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
								</div>

								<div class="copyContext" data-copyContextId="array_clone-1">
									<pre class="pre-removeTabSpaces">
									    function <b-p>array_clone</b-p> ( <b>current_array</b> ) {
									        <b-r>return</b-r> current_array.slice(0)
									    }; </pre>
								</div>
							</div>

							<div class="wrapper">
								<p class="title"> // Argument Types : </p>
								<p> <span class="wrapper"><b> current_array </b></span> - must be <span class="wrapper">Array</span> </p>

								<p class="title"> // Will return : </p>
								<p> <span class="wrapper"> Array </span> - a new array, identical to the one provided as argument </p>

								<p class="title"> // Usage Example : </p> 
								<p> <span class="wrapper"> var newArrayName = <b-p>array_clone</b-p><b>(myArray)</b> </span> </p>
							</div>

							<hr>
							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_clone()"> </button>
						</div>
					</div>

				<!-- In-place Sort --> 
				<!-- ============================================== -->

					<div class="title-withSpoilerBtn">
						<div class="col-12 sm-col-5"> <b-r>array_sort()</b-r> </div>
						<div class="col-12 sm-col-5"> Sorts the <u>current</u> array (in-place) </div> 
						<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_sort()"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="array_sort()">
						<div class="spoiler-content px-md">
							<div class="tabs">
								<div class="tabs-btnGroup buttons-fill">
									<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> array_sort() </button>
									<button class="tabs-btn" 				data-tabs-id="2"> array_sort_objects() </button>
									<button class="tabs-btn" 				data-tabs-id="3"> array_sort_numbers() </button>
								</div>

								<div class="tabs-contentGroup">
									<div class="tabs-content tab-expanded" data-tabs-id="1"> 
										<div class="wrapper">
											<div class="copyContext-btnContainer" data-copyContextId="array_sort()">
												<button class="copyContext-btn copyContext-btn-copyText"> </button>
												<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
											</div>

											<div class="copyContext" data-copyContextId="array_sort()">
												<pre class="pre-removeTabSpaces">
												    function <b-p>array_sort</b-p> ( current_array , targetProperty ) {

												        <i style="color: rgba(3,3,3,.5)">// Sort objects - if targetProperty is provided </i>
												        if (targetProperty) {

												            current_array.sort(function(a, b) { return parseFloat(a[targetProperty]) - parseFloat(b[targetProperty]) })

												        <i style="color: rgba(3,3,3,.5)">// Sort numbers</i>
												        } else if (!isNaN(current_array[0])) {

												            current_array.sort(function(a, b) { return parseFloat(a) - parseFloat(b) })

												        <i style="color: rgba(3,3,3,.5)">// Sort strings</i>
												        } else {

												            current_array.sort()

												        }
												    }; </pre>
											</div>
										</div>

										<div class="wrapper">
											<p class="title"> // Argument Types : </p>
											<p class="mb-0"> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>
											<p> <span class="wrapper">[ targetProperty ]</span> - must be <span class="wrapper">String</span> (required only if sorting Array of Objects)</p>

											<p class="title"> // Will result : </p>
											<p> The current Array will be sorted <b>in-place</b>, in ascending order. </p>

											<p class="title"> // Usage Example : </p>
											<p class="mb-0"> <span class="wrapper"> <b-p>array_sort</b-p><b>(myArrayOfObjects, 'objectPropToSortBy')</b> </span> </p>
											<p class="mb-0"> <span class="wrapper"> <b-p>array_sort</b-p><b>(myArrayOfNumbers)</b> </span> </p>
											<p> <span class="wrapper"> <b-p>array_sort</b-p><b>(myArrayOfStrings)</b> </span> </p>
										</div>
									</div>

									<div class="tabs-content" data-tabs-id="2"> 
										<div class="wrapper">
											<div class="copyContext-btnContainer" data-copyContextId="array_sort_objects()">
												<button class="copyContext-btn copyContext-btn-copyText"> </button>
												<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
											</div>

											<div class="copyContext" data-copyContextId="array_sort_objects()">
												<pre class="pre-removeTabSpaces">
												    function <b-p>array_sort_objects</b-p> ( current_array , targetProperty ) {
												        current_array.sort(function(a, b) { 
												            return parseFloat(a[targetProperty]) - parseFloat(b[targetProperty]) 
												        })
												    }; </pre>
											</div>
										</div>

										<div class="wrapper">
											<p class="title"> // Argument Types : </p>
											<p class="mb-0"> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>
											<p> <span class="wrapper">[ targetProperty ]</span> - must be <span class="wrapper">String</span> </p>

											<p class="title"> // Will result : </p>
											<p> The current Array will be sorted <b>in-place</b>, in ascending order. </p>

											<p class="title"> // Usage Example : </p>
											<p> <span class="wrapper"> <b-p>array_sort_objects</b-p><b>(myArrayOfObjects, 'objectPropToSortBy')</b> </span> </p>
										</div>
									</div>

									<div class="tabs-content" data-tabs-id="3"> 
										<div class="wrapper">
											<div class="copyContext-btnContainer" data-copyContextId="array_sort_numbers()">
												<button class="copyContext-btn copyContext-btn-copyText"> </button>
												<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
											</div>

											<div class="copyContext" data-copyContextId="array_sort_numbers()">
												<pre class="pre-removeTabSpaces">
												    function <b-p>array_sort_numbers</b-p> ( current_array ) {
												        current_array.sort(function(a, b) { 
												            return parseFloat(a) - parseFloat(b) 
												        })
												    }; </pre>
											</div>
										</div>

										<div class="wrapper">
											<p class="title"> // Argument Types : </p>
											<p> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>

											<p class="title"> // Will result : </p>
											<p> The current Array will be sorted <b>in-place</b>, in ascending order. </p>

											<p class="title"> // Usage Example : </p>
											<p> <span class="wrapper"> <b-p>array_sort_numbers</b-p><b>(myArrayOfNumbers)</b> </span> </p>
										</div>
									</div>
								</div>
							</div>

							<hr class="mt-0">
							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_sort()"> </button>
						</div>
					</div>

				<!-- Clone and Sort -->
				<!-- ============================================== -->

					<div class="title-withSpoilerBtn">
						<div class="col-12 sm-col-5"> <b-r>array_cloneAndSort()</b-r></div>
						<div class="col-12 sm-col-5"> Return <u>new</u> sorted array </div> 
						<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_cloneAndSort()"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="array_cloneAndSort()">
						<div class="spoiler-content px-md">
							<div class="tabs">
								<div class="tabs-btnGroup buttons-fill">
									<button class="tabs-btn tabBtn-active"  data-tabs-id="1"> array_cloneAndSort() </button>
									<button class="tabs-btn" 				data-tabs-id="2"> array_cloneAndSort_objects() </button>
									<button class="tabs-btn" 				data-tabs-id="3"> array_cloneAndSort_numbers() </button>
								</div>

								<div class="tabs-contentGroup">
									<div class="tabs-content tab-expanded" data-tabs-id="1"> 
										<div class="wrapper">
											<div class="copyContext-btnContainer" data-copyContextId="array_cloneAndSort()">
												<button class="copyContext-btn copyContext-btn-copyText"> </button>
												<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
											</div>

											<div class="copyContext" data-copyContextId="array_cloneAndSort()">
												<pre class="pre-removeTabSpaces">
												    function <b-p>array_cloneAndSort</b-p> ( current_array , targetProperty ) {

												    	var newArray = current_array.slice(0);

												        <i style="color: rgba(3,3,3,.5)">// Sort objects - if targetProperty is provided </i>
												        if (targetProperty) {

												            newArray.sort(function(a, b) { return parseFloat(a[targetProperty]) - parseFloat(b[targetProperty]) })

												        <i style="color: rgba(3,3,3,.5)">// Sort numbers</i>
												        } else if (!isNaN(newArray[0])) {

												            newArray.sort(function(a, b) { return parseFloat(a) - parseFloat(b) })

												        <i style="color: rgba(3,3,3,.5)">// Sort strings</i>
												        } else {

												            newArray.sort()

												        };

												        <b-r>return</b-r> newArray

												    }; </pre>
											</div>
										</div>

										<div class="wrapper">
											<p class="title"> // Argument Types : </p>
											<p class="mb-0"> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>
											<p> <span class="wrapper">[ targetProperty ]</span> - must be <span class="wrapper">String</span> (required only if sorting Array of Objects)</p>

											<p class="title"> // Will return : </p>
											<p> <span class="wrapper">Array</span> - sorted in ascending order. </p>

											<p class="title"> // Usage Example : </p> 
											<p class="mb-0"> <span class="wrapper"> var myNewArray = <b-p>array_cloneAndSort</b-p><b>(myArrayOfObjects, 'objectPropToSortBy')</b> </span> </p>
											<p class="mb-0"> <span class="wrapper"> var myNewArray = <b-p>array_cloneAndSort</b-p><b>(myArrayOfNumbers)</b> </span> </p>
											<p> <span class="wrapper"> var myNewArray = <b-p>array_cloneAndSort</b-p><b>(myArrayOfStrings)</b> </span> </p>
										</div>
									</div>

									<div class="tabs-content" data-tabs-id="2"> 
										<div class="wrapper">
											<div class="copyContext-btnContainer" data-copyContextId="array_cloneAndSort_objects()">
												<button class="copyContext-btn copyContext-btn-copyText"> </button>
												<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
											</div>

											<div class="copyContext" data-copyContextId="array_cloneAndSort_objects()">
												<pre class="pre-removeTabSpaces">
												    function <b-p>array_cloneAndSort_objects</b-p> ( current_array , targetProperty ) {

												        var newArray = current_array.slice(0);

												        newArray.sort(function(a, b) { 
												            return parseFloat(a[targetProperty]) - parseFloat(b[targetProperty]) 
												        });

												        <b-r>return</b-r> newArray

												    }; </pre>
											</div>
										</div>

										<div class="wrapper">
											<p class="title"> // Argument Types : </p>
											<p class="mb-0"> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>
											<p> <span class="wrapper">[ targetProperty ]</span> - must be <span class="wrapper">String</span> </p>

											<p class="title"> // Will return : </p>
											<p> <span class="wrapper">Array</span> - sorted in ascending order. </p>

											<p class="title"> // Usage Example :</b> </p>
											<p> <span class="wrapper"> var myNewArray = <b-p>array_cloneAndSort_objects</b-p><b>(myArrayOfObjects, 'objectPropToSortBy')</b> </span> </p>
										</div>
									</div>

									<div class="tabs-content" data-tabs-id="3"> 
										<div class="wrapper">
											<div class="copyContext-btnContainer" data-copyContextId="array_cloneAndSort_numbers()">
												<button class="copyContext-btn copyContext-btn-copyText"> </button>
												<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
											</div>

											<div class="copyContext" data-copyContextId="array_cloneAndSort_numbers()">
												<pre class="pre-removeTabSpaces">
												    function <b-p>array_cloneAndSort_numbers</b-p> ( current_array ) {

												        var newArray = current_array.slice(0);

												        newArray.sort(function(a, b) { 
												            return parseFloat(a) - parseFloat(b) 
												        });

												        <b-r>return</b-r> newArray

												    }; </pre>
											</div>
										</div>

										<div class="wrapper">
											<p class="title"> // Argument Types : </p>
											<p> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>

											<p class="title"> // Will result : </p>
											<p> <span class="wrapper">Array</span> - sorted in ascending order. </p>

											<p class="title"> // Usage Example : </p> 
											<p> <span class="wrapper"> var myNewArray = <b-p>array_cloneAndSort_numbers</b-p><b>(myArrayOfNumbers)</b> </span> </p>
										</div>
									</div>
								</div>
							</div>

							<hr class="mt-0">
							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_cloneAndSort()"> </button>
						</div>
					</div>

				<!-- In-place Shuffle -->
				<!-- ============================================== -->

					<div class="title-withSpoilerBtn">
						<div class="col-12 sm-col-5"> <b-r>array_shuffle()</b-r></div>
						<div class="col-12 sm-col-5"> Shuffles the <u>current</u> array (in-place) </div> 
						<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_shuffle()"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="array_shuffle()">
						<div class="spoiler-content px-md">
							<div class="wrapper">
								<div class="copyContext-btnContainer" data-copyContextId="array_shuffle()">
									<button class="copyContext-btn copyContext-btn-copyText"> </button>
									<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
								</div>

								<div class="copyContext" data-copyContextId="array_shuffle()">
									<pre class="pre-removeTabSpaces">
									    function <b-p>array_shuffle</b-p> ( current_array ) {

									        for (var i = current_array.length - 1; i > 0; i--) {
									            var j = Math.floor(Math.random() * (i + 1));
									            var temp = current_array[i];
									            current_array[i] = current_array[j];
									            current_array[j] = temp;
									        }

									    }; </pre>
								</div>
							</div>

							<div class="wrapper">
								<p class="title"> // Argument Types : </p>
								<p> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>

								<p class="title"> // Will result : </p>
								<p> The current Array will be shuffled <b>in-place</b>. </p>

								<p class="title"> // Usage Example : </p> 
								<p> <span class="wrapper"> <b-p>array_shuffle</b-p><b>(myArray)</b> </span> </p>

								<hr>

								<div class="col-12 text-center text-bold"> 
									<div class="col-6"> <a href="https://github.com/Daplie/knuth-shuffle" target="_blank"> Github Link </a> 		</div>
									<div class="col-6"> <a href="https://stackoverflow.com/a/12646864" target="_blank"> StackOverflow Link </a> 	</div>
								</div>
							</div>

							<hr>
							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_shuffle()"> </button>
						</div>
					</div>

				<!-- Clone and Shuffle -->
				<!-- ============================================== -->

					<div class="title-withSpoilerBtn">
						<div class="col-12 sm-col-5"> <b-r>array_cloneAndShuffle()</b-r></div>
						<div class="col-12 sm-col-5"> Return <u>new</u> shuffled array </div> 
						<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_cloneAndShuffle()"> </button>
					</div>

					<div class="spoiler" data-spoiler-id="array_cloneAndShuffle()">
						<div class="spoiler-content px-md">
							<div class="wrapper">
								<div class="copyContext-btnContainer" data-copyContextId="array_cloneAndShuffle()">
									<button class="copyContext-btn copyContext-btn-copyText"> </button>
									<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
								</div>

								<div class="copyContext" data-copyContextId="array_cloneAndShuffle()">
									<pre class="pre-removeTabSpaces">
									    function <b-p>array_shuffle</b-p> ( current_array ) {

									        var newArray = current_array.slice(0);

									        for (var i = current_array.length - 1; i > 0; i--) {
									            var j = Math.floor(Math.random() * (i + 1));
									            var temp = current_array[i];
									            current_array[i] = current_array[j];
									            current_array[j] = temp;
									        };

									        <b-r>return</b-r> newArray

									    }; </pre>
								</div>
							</div>

							<div class="wrapper">
								<p class="title"> // Argument Types : </p>
								<p> <span class="wrapper">[ current_array ]</span> - must be <span class="wrapper">Array</span> </p>

								<p class="title"> // Will result : </p>
								<p> <span class="wrapper">Array</span> - shuffled in random order. </p>

								<p class="title"> // Usage Example : </p>
								<p> <span class="wrapper"> var newArray = <b-p>cloneAndShuffle</b-p><b>(myArray)</b> </span> </p>

								<hr>

								<div class="col-12 text-center text-bold"> 
									<div class="col-6"> <a href="https://github.com/Daplie/knuth-shuffle" target="_blank"> Github Link </a> 		</div>
									<div class="col-6"> <a href="https://stackoverflow.com/a/12646864" target="_blank"> StackOverflow Link </a> 	</div>
								</div>
							</div>

							<hr>
							<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="array_cloneAndShuffle()"> </button>
						</div>
					</div>
		</section>



		<section class="p-0 m-0">
			<div class="sticky-title"> Returns | get* </div>

			<!-- getParent() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>getParent()</b-r></div>
					<div class="col-12 sm-col-5"> Return Parent </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="getParent()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="getParent()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="getParent-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="getParent-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>getParent</b-p> ( elem , identifier ) {

								        elemParent = elem.parentElement;

								        if (elemParent) {

								            var firstChar = identifier.charAt(0);

								            if   (verify()) { <b-r>return</b-r> elemParent                        } 
								            else            { <b-r>return</b-r> getParent(elemParent, identifier) }

								        } else { <b-r>return</b-r> null };
								        <hr style="border-top: 1px dashed rgba(3,3,3,.3); width: 86%; margin-left: 7%;"> 


								        <i style="color: rgba(3,3,3,.5)">// Check if elemParent has the required identifier</i>
								        function <b-p>verify</b-p>() {

								            <i style="color: rgba(3,3,3,.5)">// remove first char - for class/id cases</i>
								            var identif_substr = identifier.substring(1); 

								            <i style="color: rgba(3,3,3,.5)">// search for class</i>
								            if (firstChar === '.') { 

								                <b-r>return</b-r> ( " " + elemParent.className + " " ).indexOf( " " + identif_substr + " " ) > -1 

								            <i style="color: rgba(3,3,3,.5)">// search for id</i>
								            } else if (firstChar === '#') { 

								                <b-r>return</b-r> (elemParent.id == identif_substr) 

								            <i style="color: rgba(3,3,3,.5)">// search for tag</i>
								            } else { 

								                <b-r>return</b-r> (elemParent.tagName == identifier.toUpperCase()) 

								            }
								        }
								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ elem ]</span> - must be <span class="wrapper">HTMLElement</span> </p>
							<p class="mb-0"> <span class="wrapper">[ identifier ]</span> - must be <span class="wrapper">String</span> </p>
							<p> <span class="wrapper">[ identifier ]</span> - must follow the format : <span class="wrapper">'.myClass'</span> (dot prefix) | <span class="wrapper">'#myId'</span> (hastag prefix) | <span class="wrapper">'myTagName'</span> (no prefix) </p>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper"> HTMLElement </span> - the first parent which matches the query </p>
							<p> <span class="wrapper"> null </span> - if no parent matches the query </p>

							<p class="title"> // Usage Example : </p>
							<p> <span class="wrapper"> var targetParent =  <b-p>getParent</b-p><b>(myHTMLElement, '.myClass')</b>; </span> </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="getParent()"> </button>
					</div>
				</div>

			<!-- getOwnedClasses() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>getOwnedClasses()</b-r></div>
					<div class="col-12 sm-col-5"> Check Classes and Return all found </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="getOwnedClasses()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="getOwnedClasses()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="getOwnedClasses-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="getOwnedClasses-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>getOwnedClasses</b-p> ( elem , ...classes ) {

								        <i style="color: rgba(3,3,3,.5)">// to accept both scenarios: array-of-classes || multiple class strings</i>
								        if ( Array.isArray(classes[0]) ) { classes = classes[0] };

								        var resultsArray = classes.filter( klass => (" " + elem.className + " " ).indexOf( " " + klass + " " ) > -1 );

								        if (resultsArray.length > 0) { <b-r>return</b-r> resultsArray }
								        else                         { <b-r>return</b-r> null         }

								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ elem ]</span> - must be <span class="wrapper">HTMLElement</span> </p>
							<p> <span class="wrapper">[ classes ]</span> - must be <span class="wrapper">Strings</span> <b>or</b> <span class="wrapper">Array of Strings</span></p>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper"> Array of Strings </span> - the classes that were found on the element </p>
							<p> <span class="wrapper"> null </span> - if no classes were found on the element </p>

							<p class="title"> // Usage Example : </p>
							<p>	<span class="wrapper"> var ownedClasses = <b-p>getOwnedClasses</b-p><b>(myHTMLElement , 'myClass' , 'myOtherClass')</b> )</span> (argument: strings) </p>
							<p> <span class="wrapper"> var ownedClasses = <b-p>getOwnedClasses</b-p><b>(myHTMLElement, ['myClass', 'myOtherClass'])</b> )</span> (argument: array of strings) </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="getOwnedClasses()"> </button>
					</div>
				</div>

			<!-- getFirstClass() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>getFirstClass()</b-r></div>
					<div class="col-12 sm-col-5"> Check Classes and Return first found </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="getFirstClass()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="getFirstClass()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="getFirstClass-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="getFirstClass-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>getFirstClass</b-p> ( elem, ...classes ) {

								        <i style="color: rgba(3,3,3,.5)">// to accept both scenarios: array-of-classes || multiple class strings</i>
								        if ( Array.isArray(classes[0]) ) { classes = classes[0] };

								        var result = classes.find( klass => (" " + elem.className + " " ).indexOf( " " + klass + " " ) > -1 );

								        if (result != undefined) { <b-r>return</b-r> result }
								        else                     { <b-r>return</b-r> false  }

								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title">  // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ elem ]</span> - must be <span class="wrapper">HTMLElement</span> </p>
							<p> <span class="wrapper">[ classes ]</span> - must be <span class="wrapper">Strings</span> <b>or</b> <span class="wrapper">Array of Strings</span></p>

							<p class="title">  // Will return : </p>
							<p class="mb-0"> <span class="wrapper"> String </span> - the first class which matches the query </p>
							<p> <span class="wrapper"> null </span> - if no class matches the query </p>

							<p class="title"> // Usage Example : </p>
							<p> <span class="wrapper"> var componentType =  <b-p>getFirstClass</b-p><b>(myHTMLElement , 'tabs' , 'spoiler')</b>; </span> (argument: strings) </p>
							<p> <span class="wrapper"> var componentType =  <b-p>getFirstClass</b-p><b>(myHTMLElement, ['tabs', 'spoiler'])</b>; )</span> (argument: array of strings) </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="getFirstClass()"> </button>
					</div>
				</div>
		</section>	

		<section class="p-0 m-0">
			<div class="sticky-title"> Checks | has* | is* </div>

			<!-- Class check || hasClass() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>hasClass()</b-r></div>
					<div class="col-12 sm-col-5"> Class check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasClass()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="hasClass()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="hasClass-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="hasClass-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>hasClass</b-p> ( elem , klass ) {
								        <b-r>return</b-r> (" " + elem.className + " " ).indexOf( " " + klass + " " ) > -1
								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ elem ]</span> - must be <span class="wrapper">HTMLElement</span> </p>
							<p> <span class="wrapper">[ klass ]</span> - must be <span class="wrapper">String</span> </p>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the element <b>does have</b> the provided class </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the element <b>does <u>not</u> have</b> the provided class </p>

							<p class="title"> // Usage Example : </p>
							<p> <span class="wrapper"> if ( <b-p>hasClass</b-p><b>(myHTMLElement, 'myClass')</b> ) { //<i>do some magic</i> }</span> </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasClass()"> </button>
					</div>
				</div>


			<!-- Multi-Class check || hasAnyClass() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>hasAnyClass()</b-r> </div>
					<div class="col-12 sm-col-5"> Multi-Class check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasAnyClass()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="hasAnyClass()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="hasAnyClass-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="hasAnyClass-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>hasAnyClass</b-p> ( elem, ...classes ) {

								        <i style="color: rgba(3,3,3,.5)">// to accept both scenarios: array of class-strings || multiple individual class-strings</i>
								        if ( Array.isArray(classes[0]) ) { classes = classes[0] };

								        var result = classes.find( klass => (" " + elem.className + " " ).indexOf( " " + klass + " " ) > -1 );

								        <b-r>return</b-r> result !== undefined

								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ elem ]</span> - must be <span class="wrapper">HTMLElement</span> </p>
							<p> <span class="wrapper">[ classes ]</span> - must be <span class="wrapper">Strings</span> <b>or</b> <span class="wrapper">Array of Strings</span></p>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the element <b>does have</b> any of the provided classes </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the element <b>does <u>not</u> have</b> any of the provided classes </p>

							<p class="title"> // Usage Example : </p>

							<p class="mb-0">
								<span class="wrapper"> if ( <b-p>hasAnyClass</b-p><b>(myHTMLElement , 'myClass' , 'myOtherClass')</b> ) { //<i>do some magic</i> }</span> (argument: strings) 
							</p>
							<p> 
								<span class="wrapper"> if ( <b-p>hasAnyClass</b-p><b>(myHTMLElement, ['myClass', 'myOtherClass'])</b> ) { //<i>do some magic</i> }</span> (argument: array of strings) 
							</p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasAnyClass()"> </button>
					</div>
				</div>

			<!-- tagName check || hasTag() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>hasTag()</b-r> </div>
					<div class="col-12 sm-col-5"> TagName check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasTag()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="hasTag()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="hasTag-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="hasTag-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>hasTag</b-p> ( elem , tagName ) {
								        <b-r>return</b-r> ( elem.tagName == tagName.toUpperCase() )
								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ elem ]</span> - must be <span class="wrapper">HTMLElement</span> </p>
							<p> <span class="wrapper">[ tagName ]</span> - must be <span class="wrapper">String</span> </p>

							<hr>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the element <b>does have</b> the provided tagName </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the element <b>does <u>not</u> have</b> the provided tagName </p>

							<hr>

							<p class="title"> // Usage Example : </p>
							<p> <span class="wrapper"> if ( <b-p>hasTag</b-p><b>(myHTMLElement, 'p')</b> ) { //<i>do some magic</i> }</span> </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasTag()"> </button>
					</div>
				</div>


			<!-- Multi-TagName check || hasAnyTag() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>hasAnyTag()</b-r> </div>
					<div class="col-12 sm-col-5"> Multi-TagName check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasAnyTag()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="hasAnyTag()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="hasAnyTag-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="hasAnyTag-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>hasAnyTag</b-p> ( elem, ...tagNames ) {

								        <i style="color: rgba(3,3,3,.5)">// to accept both scenarios: array of class-strings || multiple individual class-strings</i>
								        if ( Array.isArray(tagNames[0]) ) { tagNames = tagNames[0] };

								        var result = tagNames.find( current_tag => elem.tagName.toUpperCase() == current_tag );

								        <b-r>return</b-r> result !== undefined

								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ elem ]</span> - must be <span class="wrapper">HTMLElement</span> </p>
							<p> <span class="wrapper">[ tagNames ]</span> - must be <span class="wrapper">Strings</span> <b>or</b> <span class="wrapper">Array of Strings</span></p>

							<hr>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the element <b>does have</b> any of the provided tagNames </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the element <b>does <u>not</u> have</b> any of the provided tagNames </p>

							<hr>

							<p class="title"> // Usage Example : </p>
							<p>
								<span class="wrapper"> if ( <b-p>hasAnyTag</b-p><b>(myHTMLElement , 'div' , 'p')</b> ) { //<i>do some magic</i> }</span> (argument: strings) 
							</p>
							<p> 
								<span class="wrapper"> if ( <b-p>hasAnyTag</b-p><b>(myHTMLElement, ['div', 'p'])</b> ) { //<i>do some magic</i> }</span> (argument: array of strings) 
							</p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="hasAnyTag()"> </button>
					</div>
				</div>

			<!-- HTMLElement check || isElement() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>isElement()</b-r> </div>
					<div class="col-12 sm-col-5"> HTMLElement check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="isElement()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="isElement()">
					<div class="spoiler-content px-md">

						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="isElement-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="isElement-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>isElement</b-p> ( target ) {
								        <b-r>return</b-r> target instanceof HTMLElement
								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ target ]</span> - can be of any Type </p>

							<hr>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the target <b>is</b> a HTML Element </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the target <b>is <u>not</u></b> a HTML Element </p>

							<hr>

							<p class="title"><b>// Usage Example :</b> </p>
							<p>	<span class="wrapper"> if ( <b-p>isElement</b-p><b>(target)</b> ) { //<i>do some magic</i> }</span> </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="isElement()"> </button>
					</div>
				</div>

			<!-- HTMLCollection check || isHTMLCollection() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>isHTMLCollection()</b-r> </div>
					<div class="col-12 sm-col-5"> HTMLCollection check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="isHTMLCollection()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="isHTMLCollection()">
					<div class="spoiler-content px-md">

						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="isHTMLCollection-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="isHTMLCollection-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>isHTMLCollection</b-p> ( target ) {
								        <b-r>return</b-r> target instanceof HTMLCollection
								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ target ]</span> - can be of any Type </p>

							<hr>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the target <b>is</b> a HTMLCollection </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the target <b>is <u>not</u></b> a HTMLCollection </p>

							<hr>

							<p class="title"><b>// Usage Example :</b> </p>
							<p> <span class="wrapper"> if ( <b-p>isHTMLCollection</b-p><b>(myVariable)</b> ) { //<i>do some magic</i> }</span> </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="isHTMLCollection()"> </button>
					</div>
				</div>


			<!-- String check check || isString() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>isString()</b-r> </div>
					<div class="col-12 sm-col-5"> String check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="isString()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="isString()">
					<div class="spoiler-content px-md">
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="isString-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>

							<div class="copyContext" data-copyContextId="isString-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>isString</b-p> ( current_input ) {
								        <b-r>return</b-r> (typeof current_input === 'string' || current_input instanceof String)
								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ current_input ]</span> - can be of any Type </p>

							<hr>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the input <b>is</b> a String </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the input <b>is <u>not</u></b> a String </p>

							<hr>

							<p class="title">// Usage Example :</p>
							<p> <span class="wrapper"> if ( <b-p>isString</b-p><b>(myVariable)</b> ) { //<i>do some magic</i> }</span> </p>
						</div>

						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="isString()"> </button>
					</div>
				</div>


			<!-- JSON check || isJSON() -->
			<!-- ============================================== -->

				<div class="title-withSpoilerBtn">
					<div class="col-12 sm-col-5"> <b-r>isJSON()</b-r> </div>
					<div class="col-12 sm-col-5"> JSON check </div> 
					<button class="col-12 sm-col-2 xs-o-my-sm spoiler-btn spoiler-btn-autoText" data-spoiler-id="isJSON()"> </button>
				</div>

				<div class="spoiler" data-spoiler-id="isJSON()">
					<div class="spoiler-content px-md"> 
						<div class="wrapper">
							<div class="copyContext-btnContainer" data-copyContextId="isJSON-1">
								<button class="copyContext-btn copyContext-btn-copyText"> </button>
								<button class="copyContext-btn copyContext-btn-showLightbox"> </button>
							</div>
							
							<div class="copyContext" data-copyContextId="isJSON-1">
								<pre class="pre-removeTabSpaces">
								    function <b-p>isJSON</b-p> ( current_input ) {
								        try       { JSON.parse(current_input) } 
								        catch (e) { <b-r>return</b-r> false              };

								        <b-r>return</b-r> true
								    }; </pre>
							</div>
						</div>

						<div class="wrapper">
							<p class="title"> // Argument Types : </p>
							<p class="mb-0"> <span class="wrapper">[ current_input ]</span> - can be of any Type </p>

							<hr>

							<p class="title"> // Will return : </p>
							<p class="mb-0"> <span class="wrapper">boolean</span> : <span class="wrapper"> true </span> - if the input <b>is</b> JSON </p>
							<p> <span class="wrapper">boolean</span> : <span class="wrapper"> false </span> - if the input <b>is <u>not</u></b> JSON </p>

							<hr>

							<p class="title"> // Usage Example : </p> 
							<p> <span class="wrapper"> if ( <b-p>isJSON</b-p><b>(myVariable)</b> ) { //<i>do some magic</i> }</span> </p>
						</div>
						
						<hr>
						<button class="col-12 spoiler-btn spoiler-btn-autoText" data-spoiler-id="isJSON()"> </button>
					</div>
				</div>
		</section>			

	</article>

	<!-- ==================================================== -->
	<div id="runScript" data-src="../../js/extra_scripts/functionality/syntacticSugar.js"> </div>
	<!-- ==================================================== -->